<template>
    <section>
        <section class="search_box_wrapper">
            <div class="search_box_innner2">
                <div>
                    <div class="right_30 bg_light_green round side_input_block">
                        <span class="right_10">日付</span>
                        <span class="button right_10">
                            <a class="ss_size s_height btn_gray" @click="selectToday">今日</a>
                        </span>
                        <span class="button right_10">
                            <a class="ss_size s_height btn_gray" @click="selectThisWeek">今週</a>
                        </span>
                        <span class="button right_10">
                            <a class="ss_size s_height btn_gray" @click="selectThisMonth">当月</a>
                        </span>
                        <span class="right_10">
                            <a @click="previousPeriod">
                                <img class="ico_ico_arrow" :src="asset('images/ico_arrow_left1.svg')">
                            </a>
                        </span>
                        <div class="input_wrapper" :class="{ error:startDateError }">
                            <input class="s_size right_10" v-model="conditions['start_date']" type="text">
                            <div class='error_wrapper' v-if="startDateError">
                                <span class="tool_error">開始日を入力してください。</span>
                            </div>
                        </div>
                        <a class="modal-open right_10" @click="toggleStartDatePicker">
                            <img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')">
                        </a>
                        <section class="caeru_date_picker_wrapper" v-show="showStartDatePicker">
                            <calendar class="start_picker" v-bind="startDatePickerOptions" :editable="false"
                                @change-current-time="startDatePickerChangeTime"
                                @date-picker-cancel="toggleStartDatePicker"
                                @day-chose="startDateChanged">
                            </calendar>
                            <div class="modal-overlay" v-cloak @click="toggleStartDatePicker"></div>
                        </section>
                        <span class="right_10">〜</span>
                        <div class="input_wrapper" :class="{ error:endDateError }">
                            <input class="s_size right_10" v-model="conditions['end_date']" type="text">
                            <div class='error_wrapper' v-if="endDateError">
                                <span class="tool_error">終了日を入力してください。</span>
                            </div>
                        </div>
                        <a class="modal-open right_10" @click="toggleEndDatePicker">
                            <img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')">
                        </a>
                        <section class="caeru_date_picker_wrapper" v-show="showEndDatePicker">
                            <calendar class="end_picker" v-bind="endDatePickerOptions" :editable="false"
                                @change-current-time="endDatePickerChangeTime"
                                @date-picker-cancel="toggleEndDatePicker"
                                @day-chose="endDateChanged">
                            </calendar>
                            <div class="modal-overlay" v-cloak @click="toggleEndDatePicker"></div>
                        </section>
                        <span>
                            <a @click="nextPeriod">
                                <img class="ico_ico_arrow" :src="asset('images/ico_arrow_right1.svg')">
                            </a>
                        </span>
                    </div>
                    <div class="search_setting">
                        <span class="right_10">従業員ID</span><input class="s_size" v-model="conditions['employee_presentation_id']" type="text">
                    </div>
                    <div class="search_setting">
                        <span class="right_10">従業員名</span>
                        <input type="text" class="vue_place_holder m_size" v-cloak>
                        <autocomplete custom-class="m_size" :suggestions="employeeNames" :allow-approx ="true"
                            :initial-value="conditions['employee_name']"
                            @selected="employeeNameSelected"
                            @changed="employeeNameChanged">
                        </autocomplete>
                    </div>
                    <div class="search_box search_setting">
                        <span class="right_10 left">雇用状態</span>
                        <div class="selectbox left">
                            <select class="s_size" v-model="conditions['employee_work_status']">
                                <option value=""></option>
                                <option v-for="(status, id) in employeeWorkStatuses" :value="id">{{ status }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="search_box search_setting">
                        <span class="right_10 left">勤務形態</span>
                        <div class="selectbox left">
                            <select class="s_size" v-model="conditions['planned_work_status_id']">
                                <option selected value=""></option>
                                <option v-for="(status, id) in workStatuses" :value="id">{{ status }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="search_box search_setting">
                        <span class="right_10 left">休暇形態</span>
                            <div class="selectbox left">
                                <select class="s_size" v-model="conditions['planned_rest_status_id']">
                                    <option selected value=""></option>
                                    <option v-for="(status, id) in restStatuses" :value="id">{{ status }}</option>
                                </select>
                            </div>
                    </div>
                    <div class="search_box search_setting">
                        <span class="right_10">部署</span>
                        <section class="form-group mm_size">
                            <select class="mm_size ms" v-model="conditions['departments']" autocomplete="off" multiple="multiple">
                                <option v-for="(department, id) in departments" :value="id">{{ department }}</option>
                            </select>
                        </section>
                    </div>
                    <div class="search_box search_setting">
                        <span class="right_10 left">勤務先</span>
                        <div class="selectbox left">
                            <select class="m_size" v-model="conditions['planned_work_location_id']">
                                <option selected value=""></option>
                                <option v-for="(workLocation, id) in workLocations" :value="id">{{ workLocation }}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="search_setting">
                        <span class="right_10">訪問先名</span><input class="mm_size" name="" type="text">
                    </div>
                    <div class="search_setting">
                        <span class="right_10">フリーワード</span><input class="m_size" name="" type="text">
                    </div> -->
                    <div class="check_box_wrap search_setting">
                        <label class="checkbox_text">
                            <input type="checkbox" v-model="conditions['employee_with_no_schedule']" :true-value="true" :false-value="false">
                            勤務予定のない従業員を表示
                        </label>
                    </div>
                    <div class="check_box_wrap search_setting">
                        <label class="checkbox_text">
                            <input type="checkbox" v-model="conditions['unconcluded']" :true-value="true" :false-value="false">
                            締め未対応
                        </label>
                    </div>
                    <div class="button bottom_10 search_setting right_10">
                        <a class="s_size s_height btn_greeen" @click="search">検索</a>
                    </div>
                    <div class="button bottom_10 search_setting">
                        <a class="s_size s_height btn_gray" @click="resetConditions">リセット</a>
                    </div>
                </div>
            </div>
        </section>
        <paginator :total="total" :current-page="currentPage" :per-page="perPage" @changed="changePage"></paginator>
        <section class="pager">
            <section class="left_position">
                <section class="day_off_wrap">
                    <div class="left right_10 description_day_off1">法定休日</div>
                    <div class="left right_10 description_day_off2">一般休日</div>
                    <div class="left right_10 description_confirm_list">要確認</div>
                </section>
                <!-- <section>
                    <div class="left right_10 description_mistake description_text">誤った記録</div>
                    <div class="left right_10 description_request description_text">申請中</div>
                    <div class="left right_10 description_approval description_text">承認</div>
                    <div class="left right_10 description_reject description_text">否決</div>
                    <div class="left description_correction description_text">修正</div>
                </section> -->
            </section>
            <!-- <section class="right_position">
                <p class="button"><a class="m_size s_height btn_gray" @click="download()">csvダウンロード</a></p>
                <p class="button" :class="[file.name ? 'left_10' : 'left_30']">
                    {{ file.name }}
                    <label for="file" class="file-btn ss_size btn_white">
                        選択
                        <input type="file" id="file" ref="file" @change="changeFile()"/>
                    </label>
                </p>
                <p class="button"><a class="s_size s_height btn_gray" @click="upload()">インポート</a></p>
            </section> -->
            <section class="right_position">
				<p class="button left_10"><a class="mm_size s_height btn_gray" @click="downloadAttendanceData()">勤怠データダウンロード</a></p>
			</section>
            <form id="downloadAttendanceDataForm" :action="downloadAttendanceDataLink" method="POST" >
                <input type="hidden" name="_token" :value="csrfToken">
                <input type="hidden" name="start_date" :value="conditions['start_date']">
                <input type="hidden" name="end_date" :value="conditions['end_date']">
                <input type="hidden" name="presentation_id" :value="conditions['employee_presentation_id']">
                <input type="hidden" name="name" :value="conditions['employee_name']">
                <input type="hidden" name="work_status" :value="conditions['employee_work_status']">
            </form>
        </section>
        <section class="search_table have_table_with_fixed_header">
            <table class="table_with_fixed_header">
                <tr class="short_height fixed_header">

                    <th class="s_12" colspan="1" rowspan="3">日付</th>
                    <th class="s_6" rowspan="3">従業員ID</th>
                    <th class="s_10" rowspan="3">名前</th>
                    <th class="s_6" rowspan="3">部署</th>
                    <th class="s_12" rowspan="3">勤務地</th>
                    <th class="s_4" rowspan="3"><p>勤務</p><p>形態</p></th>
                    <th class="s_4" rowspan="3"><p>休暇</p><p>形態</p></th>
                    <th class="s_12" colspan="2">出勤</th>
                    <th class="s_12" colspan="2">退勤</th>
                    <th class="s_4" rowspan="3">時間外</th>
                    <th class="s_4" rowspan="3">休憩</th>
                    <th class="s_4" rowspan="3">外出</th>
                    <th class="s_4" rowspan="3">遅・早</th>
                    <th rowspan="3"></th>
                </tr>
                <tr class="short_height fixed_header_second_row">
                    <th>予定</th>
                    <th rowspan="2">計算時刻</th>
                    <th>予定</th>
                    <th rowspan="2">計算時刻</th>
                </tr>
                <tr class="short_height fixed_header_third_row">
                    <th>打刻時刻</th>
                    <th>打刻時刻</th>
                </tr>
                <template v-for="workingDay in workingDays">
                    <template v-for="line_index in workingDay['max_line']">
                        <tr>
                            <td v-if="line_index == 1" :rowspan="workingDay['max_line'] * 2"><span :class="dayClass(workingDay['date'])">{{ dayString(workingDay['date']) }}</span></td>
                            <td v-if="line_index == 1" :rowspan="workingDay['max_line'] * 2">{{ workingDay['employee_presentation_id'] }}</td>
                            <td v-if="line_index == 1" :rowspan="workingDay['max_line'] * 2">
                                <a class="name" v-if="canGoToWorkingMonthPage" :href="urlToWorkingMonthPage(workingDay['employee_id'])">
                                    <span v-if="workingDay['schedule_type_icon']" class="employ_ico">{{ workingDay['schedule_type_icon'] }}</span>
                                    {{ workingDay['employee_name'] }}
                                </a>
                                <a v-else>
                                    <span v-if="workingDay['schedule_type_icon']" class="employ_ico">{{ workingDay['schedule_type_icon'] }}</span>
                                    {{ workingDay['employee_name'] }}
                                </a>
                            </td>
                            <td v-if="line_index == 1" :rowspan="workingDay['max_line'] * 2">{{ allDepartments[workingDay['department']] }}</td>
                            <!-- split point -->
                            <template v-if="workingDay['working_infos'] === null">
                                <td class="bg_light_gray"></td>
                                <td rowspan="2"></td>
                                <td rowspan="2"></td>
                                <td class="bg_light_gray"></td>
                                <td rowspan="2"></td>
                                <td class="bg_light_gray"></td>
                                <td rowspan="2"></td>
                                <td class="bg_light_gray"></td>
                                <td class="bg_light_gray"></td>
                                <td class="bg_light_gray"></td>
                                <td class="bg_light_gray"></td>
                            </template>
                            <template v-else>
                                <td class="bg_light_gray">{{ workLocations[ workingDay['working_infos'][line_index - 1]['planned_work_location_id'] ] }}</td>
                                <td rowspan="2">{{ allWorkStatuses[ workingDay['working_infos'][line_index - 1]['work_status_id'] ] }}</td>
                                <td rowspan="2">{{ allRestStatuses[ workingDay['working_infos'][line_index - 1]['rest_status_id'] ] }}</td>
                                <td class="bg_light_gray">{{ reformatHourString(workingDay['working_infos'][line_index - 1]['planned_start_work_time']) }}</td>
                                <td rowspan="2">{{ reformatHourString(workingDay['working_infos'][line_index - 1]['real_start_work_time']) }}</td>
                                <td class="bg_light_gray">{{ reformatHourString(workingDay['working_infos'][line_index - 1]['planned_end_work_time']) }}</td>
                                <td rowspan="2">{{ reformatHourString(workingDay['working_infos'][line_index - 1]['real_end_work_time']) }}</td>
                                <td class="bg_light_gray">{{ workingDay['working_infos'][line_index - 1]['planned_total_early_arrive_and_overtime'] }}</td>
                                <td class="bg_light_gray">{{ workingDay['working_infos'][line_index - 1]['planned_break_time'] }}</td>
                                <td class="bg_light_gray">{{ workingDay['working_infos'][line_index - 1]['planned_go_out_time'] }}</td>
                                <td class="bg_light_gray">{{ workingDay['working_infos'][line_index - 1]['planned_total_late_and_leave_early'] }}</td>
                            </template>
                            <td v-if="line_index == 1" :rowspan="workingDay['max_line'] * 2">
                                <p v-if="canGoToWorkingDayPage" class="button"><a class="ss_size s_height btn_gray" :href="urlToWorkingDayPage(workingDay['employee_id'], workingDay['date'])">変更</a></p>
                            </td>
                        </tr>
                        <tr>
                            <template v-if="workingDay['working_infos'] === null">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </template>
                            <template v-else>
                                <td>{{ workLocations[ workingDay['working_infos'][line_index - 1]['real_work_location_id'] ] }}</td>
                                <td>{{ reformatHourString(workingDay['working_infos'][line_index - 1]['timestamped_start_work_time']) }}</td>
                                <td>{{ reformatHourString(workingDay['working_infos'][line_index - 1]['timestamped_end_work_time']) }}</td>
                                <td>{{ workingDay['working_infos'][line_index - 1]['real_total_early_arrive_and_overtime'] }}</td>
                                <td>{{ workingDay['working_infos'][line_index - 1]['real_break_time'] }}</td>
                                <td>{{ workingDay['working_infos'][line_index - 1]['real_go_out_time'] }}</td>
                                <td>{{ workingDay['working_infos'][line_index - 1]['real_total_late_and_leave_early'] }}</td>
                            </template>
                        </tr>
                    </template>
                </template>
            </table>
        </section>
        <paginator :total="total" :current-page="currentPage" :per-page="perPage" :sum-line="false" @changed="changePage"></paginator>
        <section class="search_result search_page_bottom_section">
            <div>
                <p class="button right"><a class="s_size s_height btn_gray" @click="upload()">インポート</a></p>
                <p class="button right right_4" :class="file.name ? 'left_10' : 'left_30'">
                    {{ file.name }}
                    <label for="file" class="file-btn s_height ss_size btn_white">
                        選択
                        <input type="file" id="file" ref="file" @change="changeFile()"/>
                    </label>
                </p>
                <p class="button right left_30 right_30 tooltip transparency"><a class="mm_size s_height btn_gray" href="#" @click="downloadSearchData()">勤務情報詳細ダウンロード</a><span class="tool_description fixed">勤務情報が入っている場合に利用します</span></p>
                <p class="button right"><a class="mm_size s_height btn_gray modal-open select-format" data-target="con2" href="#">予定取り込みフォーマット</a></p>
                <!-- <p class="button right"><a class="mm_size s_height btn_gray" @click="download()">フォーマットダウンロード</a></p> -->
            </div>
		</section>
        <section class="modal-content select_format" id="con2">
            <section class="select_format_inner">
                <p class="bottom_10">ダウンロードしたいフォーマットを選択してください</p>
                <p class="bottom_10"><label class="radio_text right_30"><input name="visit" type="radio" value="1" v-model="csvType" checked>勤務時間</label></p>
                <p><label class="radio_text"><input name="visit" type="radio" value="2" v-model="csvType">勤務情報詳細</label></p>
            </section>
            <section class="btn">
                <p class="button"><a class="m_size m_height btn_gray right_10" @click="download()">ダウンロード</a></p>
                <p class="button"><a class="modal-close m_size m_height btn_gray">キャンセル</a></p>
            </section>
        </section>
    </section>
</template>
<script>
import Hub from '../components/hub.js';
import Autocomplete from '../components/caeru_autocomplete';
import Calendar from '../components/caeru_calendar.vue';
import Paginator from '../components/caeru_paginator';

const hub = Hub;

export default {
    data: function() {
        return {
            conditions : window.conditions,
            allDepartments: window.all_department,
            allWorkStatuses: window.all_work_statuses,
            allRestStatuses: window.all_rest_statuses,

            departments: window.search_box_departments,
            workStatuses: window.search_box_work_statuses,
            restStatuses: window.search_box_rest_statuses,
            employeeNames: window.employee_names,
            employeeWorkStatuses: window.employee_work_statuses,
            workLocations: window.work_locations,
            today: window.today,
            startDateOfWeek: window.start_date_of_week,
            endDateOfWeek: window.end_date_of_week,
            startDateOfMonth: window.start_date_of_month,
            endDateOfMonth: window.end_date_of_month,
            searchHistory: window.search_history,
            jumpByBusinessMonthMode: true,
            currentBusinessMonth: window.current_business_month,
            businessMonthSeparateDay: window.business_month_separate_day,

            // Authorization
            canGoToWorkingMonthPage: window.can_go_to_working_month_page,
            canGoToWorkingDayPage: window.can_go_to_working_day_page,

            workingDays: [],


            defaultConditions: {
                'start_date': window.start_date_of_month,
                'end_date': window.end_date_of_month,
                'employee_presentation_id': null,
                'employee_name': null,
                'employee_work_status' : null,
                'planned_work_status_id': null,
                'planned_rest_status_id': null,
                'departments': [],
                'planned_work_location_id': null,
                // 'work_address_name': null,
                'employee_with_no_schedule': false,
                'unconcluded': false,
            },
            startDateError: false,
            endDateError: false,

            // Date picker
            datePickerData: window.date_picker_data,
            showStartDatePicker: false,
            showEndDatePicker: false,
            startDatePickerNavigation: null,
            endDatePickerNavigation: null,

            sendingRequest: false,
            csvType: 1,

            // Paginator
            currentPage: 1,
            perPage: 20,
            total: 0,

            //import function
            file: '',
            bom: new Uint8Array([0xEF, 0xBB, 0xBF]),

            // CSRF token for Download Attendance function
            csrfToken: $('meta[name="csrf-token"]').attr('content')
        }
    },
    computed: {
        momentBusinessMonth: {
            get: function() {
                return moment(this.currentBusinessMonth,['YYYY-MM', 'YYYY-M'], true);
            },
            set: function(businessMonth) {
                this.currentBusinessMonth = businessMonth;
            },
        },
        momentBusinessMonthStartDate: function() {
            if (this.businessMonthSeparateDay == 0) {
                return this.momentBusinessMonth.clone().date(1);
            } else {
                return this.momentBusinessMonth.clone().subtract(1, 'months').date(this.businessMonthSeparateDay + 1);
            }
        },
        momentBusinessMonthEndDate: function() {
            if (this.businessMonthSeparateDay == 0) {
                return this.momentBusinessMonth.clone().add(1, 'months').date(1).subtract(1, 'days');
            } else {
                return this.momentBusinessMonth.clone().date(this.businessMonthSeparateDay);
            }
        },
        momentStartDate: function() {
            return moment(this.conditions['start_date'], 'YYYY-MM-DD', true);
        },
        momentEndDate: function() {
            return moment(this.conditions['end_date'], 'YYYY-MM-DD', true);
        },

        // Date pickers's stuffs
        startDateInArray: {
            get: function() {
                return (this.startDatePickerNavigation === null) ? _.map(_.split(this.conditions['start_date'], '-'), (value) => {return _.toInteger(value)}) : this.startDatePickerNavigation;
            },
            set: function(data) {
                this.startDatePickerNavigation = data;
            },
        },
        endDateInArray: {
            get: function() {
                return (this.endDatePickerNavigation === null) ? _.map(_.split(this.conditions['end_date'], '-'), (value) => {return _.toInteger(value)}) : this.endDatePickerNavigation;
            },
            set: function(data) {
                this.endDatePickerNavigation = data;
            },
        },
        startDatePickerOptions: function() {
            return this.datePickerData !== undefined ?
                {
                    'year' : this.startDateInArray[0],
                    'month' : this.startDateInArray[1],
                    'nationalHolidays' : this.datePickerData['national_holidays'],
                    'restDays' : this.datePickerData['rest_days'],
                    'flipColorDay' : this.datePickerData['flip_color_day'],
                    'startColor' : (this.startDateInArray[1] % 2) === 0,
                    'pickerMode' : true,
                } :
                {
                    'year' : this.startDateInArray[0],
                    'month' : this.startDateInArray[1],
                    'startColor' : (this.startDateInArray[1] % 2) === 0,
                    'pickerMode' : true,
                }
            ;
        },
        endDatePickerOptions: function() {
            return this.datePickerData !== undefined ?
                {
                    'year' : this.endDateInArray[0],
                    'month' : this.endDateInArray[1],
                    'nationalHolidays' : this.datePickerData['national_holidays'],
                    'restDays' : this.datePickerData['rest_days'],
                    'flipColorDay' : this.datePickerData['flip_color_day'],
                    'startColor' : (this.endDateInArray[1] % 2) === 0,
                    'pickerMode' : true,
                } :
                {
                    'year' : this.endDateInArray[0],
                    'month' : this.endDateInArray[1],
                    'startColor' : (this.endDateInArray[1] % 2) === 0,
                    'pickerMode' : true,
                }
            ;
        },

        downloadAttendanceDataLink: function() {
            let url = "/download_attendance";
            return $.companyCodeIncludedUrl(url);
        },

    },
    methods: {
        // Search box
        resetConditions: function() {
            Object.assign(this.conditions, this.defaultConditions);
            this.multipleSelectBox.multipleSelect('uncheckAll');
            hub.$emit('reset-autocomplete');
        },
        search: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee_attendance_advance_search';
                let data = {
                    'conditions': this.conditions,
                };

                axios.post($.companyCodeIncludedUrl(url), data)
                .then(response => {
                    this.workingDays = response.data.working_days;
                    this.currentPage = 1;
                    this.total = response.data['total'];
                    this.perPage = response.data['per_page'];

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }
                    this.currentPage = 1;

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                });
            }

        },

        download: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee_attendance_advance_download';
                let data = {
                    'csvType': this.csvType,
                    // 'conditions': this.conditions,
                };
                axios.post($.companyCodeIncludedUrl(url), data, {responseType: 'application/csv'})
                .then(response => {
                    this.createFileCSV(response.data);
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }
                });
                this.sendingRequest = false;
                var modal = '#' + $(this).attr('data-target');
                $(modal).fadeOut('slow');
                $('.modal-overlay').fadeOut(function(){
                    // オーバーレイを削除
                    $('.modal-overlay').remove();
                });
                $('#con2').hide();
            }
        },
        downloadSearchData: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee_attendance_advance_search_download';
                let data = {
                    'csvType': this.csvType,
                    // 'conditions': this.conditions,
                };
                axios.post($.companyCodeIncludedUrl(url), data, {responseType: 'application/csv'})
                .then(response => {
                    this.createFileCSV(response.data);
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }
                });
                this.sendingRequest = false;
            }
        },
        upload: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee_attendance_advance_search_upload';
                /*
                    Initialize the form data
                */
                let formData = new FormData();

                /*
                    Add the form data we need to submit
                */
                formData.append('file', this.file);

                axios.post($.companyCodeIncludedUrl(url), formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    if (!_.isNil(response.data['success'])) {
                        document.caeru_alert('success', response.data['success']);
                    } else {
                        document.caeru_alert('error', '');
                        var content_disposition = response.headers['content-disposition'];
                        if (!_.isNil(content_disposition)) {
                            var filename = content_disposition.match(/filename="(.+)"/)[1];
                            if (filename === "schedules.csv") {
                                this.createFileCSV(response.data);
                            }
                        }
                    }
                    this.sendingRequest = false;
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                        var content_disposition = error.response.headers['content-disposition'];
                        if (!_.isNil(content_disposition)) {
                            var filename = content_disposition.match(/filename="(.+)"/)[1];
                            if (filename === "schedules.csv") {
                                this.createFileCSV(error.response.data);
                            }
                        }
                    }
                    this.sendingRequest = false;
                });
            }
        },
        createFileCSV: function(data) {
            if (navigator.msSaveBlob) {
                let blob = new Blob([data], {
                    "type": "text/csv;charset=utf8;"
                });
                navigator.msSaveBlob(blob, 'schedules.csv');
            } else {
                const url = window.URL.createObjectURL(new Blob([this.bom, data], {type: 'text/csv'}));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'schedules.csv');
                document.body.appendChild(link);
                link.click();
            }
        },

        changeFile: function () {
            this.file = this.$refs.file.files[0];
        },

        // Date panel
        selectToday: function() {
            this.jumpByBusinessMonthMode = false;
            this.conditions['start_date'] = this.today;
            this.conditions['end_date'] = this.today;
        },
        selectThisWeek: function() {
            this.jumpByBusinessMonthMode = false;
            this.conditions['start_date'] = this.startDateOfWeek;
            this.conditions['end_date'] = this.endDateOfWeek;
        },
        selectThisMonth: function() {
            this.jumpByBusinessMonthMode = true;
            this.conditions['start_date'] = this.startDateOfMonth;
            this.conditions['end_date'] = this.endDateOfMonth;
        },
        checkDateConditions: function() {
            this.startDateError = (this.momentStartDate.isValid()) ? false : true;
            this.endDateError = (this.momentEndDate.isValid()) ? false : true;

            return !this.startDateError && !this.endDateError;
        },
        previousPeriod: function() {
            if (this.checkDateConditions()) {

                if (this.jumpByBusinessMonthMode === true) {
                    let currentBusinessMonth = this.momentBusinessMonth.clone();
                    currentBusinessMonth.subtract(1, 'months');
                    this.currentBusinessMonth = currentBusinessMonth.format('YYYY-MM');
                    this.conditions['start_date'] = this.momentBusinessMonthStartDate.format('YYYY-MM-DD');
                    this.conditions['end_date'] = this.momentBusinessMonthEndDate.format('YYYY-MM-DD');
                } else {
                    let gap = this.momentEndDate.diff(this.momentStartDate, 'days');
                    this.conditions['end_date'] = this.momentStartDate.clone().subtract(1, 'days').format('YYYY-MM-DD');
                    this.conditions['start_date'] = this.momentStartDate.clone().subtract(1, 'days').subtract(gap, 'days').format('YYYY-MM-DD');
                }
            }
        },
        nextPeriod: function() {
            if (this.checkDateConditions()) {

                if (this.jumpByBusinessMonthMode === true) {
                    let currentBusinessMonth = this.momentBusinessMonth.clone();
                    currentBusinessMonth.add(1, 'months');
                    this.currentBusinessMonth = currentBusinessMonth.format('YYYY-MM');
                    this.conditions['start_date'] = this.momentBusinessMonthStartDate.format('YYYY-MM-DD');
                    this.conditions['end_date'] = this.momentBusinessMonthEndDate.format('YYYY-MM-DD');
                } else {
                    let gap = this.momentEndDate.diff(this.momentStartDate, 'days');
                    this.conditions['start_date'] = this.momentEndDate.clone().add(1, 'days').format('YYYY-MM-DD');
                    this.conditions['end_date'] = this.momentEndDate.clone().add(1, 'days').add(gap, 'days').format('YYYY-MM-DD');
                }
            }
        },

        // Employee Name Autocomplete
        employeeNameSelected: function(id) {
            this.conditions['employee_name'] = this.employeeNames[id].name;
        },
        employeeNameChanged: function(value) {
            this.conditions['employee_name'] = value;
        },

        // Date pickers
        repositionByHeight: function(className) {
            let popUp = $('.' + className + ' .caeru_calendar_date_picker_popup');
            let diffHeight = window.innerHeight - popUp.outerHeight();
            let diffWidth = window.innerWidth - popUp.outerWidth();
            let scrollOffset = $(window).scrollTop();
            popUp.offset({ top: (scrollOffset + diffHeight/2), left: diffWidth/2 });
        },
        toggleStartDatePicker: function() {
            this.showStartDatePicker = !this.showStartDatePicker;
            if (this.showStartDatePicker === true) {
                this.$nextTick(function() {
                    this.repositionByHeight('start_picker');
                });

            } else {
                this.startDatePickerNavigation = null;
            }
        },
        toggleEndDatePicker: function() {
            this.showEndDatePicker = !this.showEndDatePicker;
            if (this.showEndDatePicker === true) {
                this.$nextTick(function() {
                    this.repositionByHeight('end_picker');
                });

            } else {
                this.endDatePickerNavigation = null;
            }
        },
        startDateChanged: function(value) {
            this.jumpByBusinessMonthMode = false;
            this.conditions['start_date'] = value;
            this.toggleStartDatePicker();
        },
        endDateChanged: function(value) {
            this.jumpByBusinessMonthMode = false;
            this.conditions['end_date'] = value;
            this.toggleEndDatePicker();
        },
        startDatePickerChangeTime: function(year, month) {
            this.startDatePickerNavigation = [year, month];
        },
        endDatePickerChangeTime: function(year, month) {
            this.endDatePickerNavigation = [year, month];
        },

        // Paginator
        changePage: function(newPage) {
            this.sendingRequest = true;
            let url = '/employee_attendance_advance_search_change_page';
            // add the other parameter, including the page
            url = url + '/' + newPage

            axios.get($.companyCodeIncludedUrl(url))
            .then(response => {
                this.workingDays = response.data.working_days;
                this.currentPage = response.data['current_page'];
                this.total = response.data['total'];
                this.perPage = response.data['per_page'];

                // Reset blocking multiple request
                this.sendingRequest = false;
            })
            .catch(error => {
                if (error.response) {
                    document.caeru_alert('error', '');
                }
                this.currentPage = 1;

                // Reset blocking multiple request
                this.sendingRequest = false;
            });
        },

        // Various stuffs
        reformatHourString: function(hourString) {
            let momentHour = moment(hourString);
            if (momentHour.isValid()) {
                return momentHour.format('HH:mm');
            }
        },
        scheduleTypeNote: function(type) {
            // Show the 'フ' for the flexible_schedule, otherwise show '変'
            return type == 4;
        },
        dayClass: function(day) {
            let date = moment(day);
            let fullClass = '';

            switch (date.day()) {
                case 0:
                    fullClass += 'sunday ';
                    break;
                case 6:
                    fullClass += 'saturday ';
                    break;
            }
            let restDay = _.find(this.datePickerData['rest_days'], object => {
                return object['assigned_date'] === day;
            });
            if (restDay !== undefined) {
                switch (restDay['type']) {
                    // LAW REST DAY
                    case 1:
                        fullClass += 'pink_holiday';
                        break;
                    // NORMAL REST DAY
                    case 2:
                        fullClass += 'blue_holiday';
                        break;
                }
            };
            return fullClass;
        },
        dayString: function(day) {
            let date = moment(day);

            return (day + '(' + this.japaneseDayOfWeek(date.day()) + ')');
        },
        japaneseDayOfWeek: function(dayIndex) {
            switch (dayIndex) {
                case 0:
                    return '日';
                case 1:
                    return '月';
                case 2:
                    return '火';
                case 3:
                    return '水';
                case 4:
                    return '木';
                case 5:
                    return '金';
                case 6:
                    return '土';
                default:
                    return null;
            }
        },
        urlToWorkingDayPage: function(employeeId, dayString) {
            let url = '/employee_working_day/' + employeeId + '/' + dayString;
            return $.companyCodeIncludedUrl(url);
        },
        urlToWorkingMonthPage: function(employeeId) {
            let url = '/employee_working_month/' + employeeId + '/' + this.momentBusinessMonth.format('YYYY-MM');
            return $.companyCodeIncludedUrl(url);
        },

        asset: function(string) {
            return window.location.protocol + '//' + window.location.hostname + '/' + string;
        },

        // Download Attendance Data
        downloadAttendanceData: function() {
            $("#downloadAttendanceDataForm").submit();
        }
    },
    mounted: function() {
        // The calendar pop up
        this.repositionByHeight('start_picker');
        this.repositionByHeight('end_picker');
        this.$nextTick(function() {
            window.addEventListener('resize', () => {
                this.repositionByHeight('start_picker');
                this.repositionByHeight('end_picker');
            });
        });

        // The department multiple select
        let select_box = $("select.ms");
        this.multipleSelectBox = select_box.multipleSelect({
            width: 250,
            selectAll: true,
            minimumCountSelected: 4,
        });
        select_box.change(() => {
            // console.log($(select_box).val());
            this.$set(this.conditions, 'departments', $(select_box).val());
        });
    },
    created: function() {
        // Reapply the search history if exist
        if (this.searchHistory !== null && this.searchHistory !== undefined) {
            this.workingDays = this.searchHistory;

            // Initiate paginator
            this.currentPage = window.current_page;
            this.total = window.total;
            this.perPage = window.per_page;

        // If it is the default case, we use the start/end dates of the current business month
        } else {
            this.conditions['start_date'] = this.startDateOfMonth;
            this.conditions['end_date'] = this.endDateOfMonth;
        }
    },
    components: {
        calendar: Calendar,
        autocomplete: Autocomplete,
        paginator: Paginator,
    },
}
</script>