<template>
    <section class="search_result">            
        <p class="button right"><a class="s_size s_height btn_gray" @click="upload()">インポート</a></p>
        <p class="button right right_4" :class="file.name ? 'left_10' : 'left_30'">
            {{ file.name }}
            <label for="file" class="file-btn s_height ss_size btn_white">
                選択
                <input type="file" id="file" ref="file" @change="changeFile()"/>
            </label>
        </p>
        <p class="button right left_30 right_30 tooltip"><a class="mm_size s_height btn_gray" @click="download_list">従業員情報ダウンロード</a></p>
        <p class="button right"><a class="mm_size s_height btn_gray" @click="download">新規従業員取り込みフォーマット</a></p>
    </section>
</template>
<script>

export default ({
    data: function() {
        return {
            importDisplay: false,
            instance: null,
            sendingRequest: false,
            file: '',
            bom: new Uint8Array([0xEF, 0xBB, 0xBF]),
        }
    },
    methods: {
        changeFile: function () {
            this.file = this.$refs.file.files[0];
        },
        upload: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee/csv/upload';
                /*
                    Initialize the form data
                */
                let formData = new FormData();

                /*
                    Add the form data we need to submit
                */
                formData.append('file', this.file);

                axios.post($.companyCodeIncludedUrl(url), formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    if (!_.isNil(response.data['success'])) {
                        document.caeru_alert('success', response.data['success']);
                    } else {
                        document.caeru_alert('error', '');
                        var content_disposition = response.headers['content-disposition'];
                        if (!_.isNil(content_disposition)) {
                            var filename = content_disposition.match(/filename="(.+)"/)[1];
                            if (filename === "employee.csv") {
                                this.createFileCSV(response.data, filename);
                            } else if (filename === "employee_list.csv") {
                                this.createFileCSV(response.data, filename);
                            }
                        }
                    }
                    this.sendingRequest = false;
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                        var content_disposition = error.response.headers['content-disposition'];
                        if (!_.isNil(content_disposition)) {
                            var filename = content_disposition.match(/filename="(.+)"/)[1];
                            if (filename === "employee.csv") {
                                this.createFileCSV(error.response.data, filename);
                            } else if (filename === "employee_list.csv") {
                                this.createFileCSV(error.response.data, filename);
                            }
                        }
                    }
                    this.sendingRequest = false;
                });
            }
        },
        createFileCSV: function(data, fname) {
            if (navigator.msSaveBlob) {
                let blob = new Blob([data], {
                    "type": "text/csv;charset=utf8;"
                });
                navigator.msSaveBlob(blob, fname);
            } else {
                const url = window.URL.createObjectURL(new Blob([this.bom, data], {type: 'text/csv'}));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', fname);
                document.body.appendChild(link);
                link.click();
            }
        },
        download: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee/csv/download';
                axios.post($.companyCodeIncludedUrl(url), {}, {responseType: 'application/csv'})
                .then(response => {
                    this.createFileCSV(response.data, 'employee.csv');
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }
                });
                this.sendingRequest = false;
            }
        },
        download_list: function() {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;
                let url = '/employee/list/csv/download';
                axios.post($.companyCodeIncludedUrl(url), {}, {responseType: 'application/csv'})
                .then(response => {
                    this.createFileCSV(response.data, 'employee_list.csv');
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }
                });
                this.sendingRequest = false;
            }
        },
    },
    mounted: function() {
        
    },
})
</script>