<template>
    <section>
        <section class="search_table have_table_with_fixed_header">
            <table class='table_with_fixed_header' v-if="!displayWorkPlace">
                <tr class="short_height fixed_header">
                    <th class="s_12" colspan="1" rowspan="3">日付</th>
                    <th class="s_4" rowspan="3"><p>勤務</p><p>形態</p></th>
                    <th class="s_4" rowspan="3"><p>休暇</p><p>形態</p></th>
                    <th colspan="2">出勤</th>
                    <th colspan="2">退勤</th>
                    <th class="s_4" rowspan="3">休憩</th>
                    <th class="s_4" rowspan="3">(内)深休</th>
                    <th class="s_4" rowspan="3">外出</th>
                    <th class="s_4" rowspan="3">遅・早</th>
                    <th class="s_14" colspan="3" rowspan="3">所定内+時間外＝総労働時間</th>
                    <th rowspan="3">備考</th>
                    <th class="s_14" rowspan="3" colspan="2">管理者１</th>
                    <th class="s_4" rowspan="3"></th>
                </tr>
                <tr class="short_height fixed_header_second_row">
                    <th class="s_5" v-if="displayToggle == 1 ">予定 </th>
                    <th class="s_5" v-else>所定 </th>
                    <th class="s_5" rowspan="2">計算時刻</th>
                    <th class="s_5" v-if="displayToggle == 1 ">予定 </th>
                    <th class="s_5" v-else>所定 </th>
                    <th class="s_5" rowspan="2">計算時刻</th>
                </tr>
                <tr class="short_height fixed_header_third_row">
                    <th>打刻時刻</th>
                    <th>打刻時刻</th>
                </tr>
                <template v-for="(workingDay, day) in workingDays">
                    <template v-if="workingDay['data'].length == 0">
                        <tr>
                            <td rowspan="2">
                                <span :class="dateClass(workingDay)">
                                    {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                                </span>
                                <span v-if="snapshotDataOfMonth[day]['data'] && haveConsideringSnapshot(day)"><a class="btn_apply btn_yamabuki modal-open" @click="toggleApproverForm(day)">中</a></span>
                                <span v-else-if="snapshotDataOfMonth[day]['data'] && !haveConsideringSnapshot(day)"><a class="btn_apply btn_black modal-open" @click="toggleApproverForm(day)">済</a></span>
                            </td>
                            <td rowspan="2"></td>
                            <td rowspan="2"></td>
                            <td class="bg_light_gray"></td>
                            <td rowspan="2"></td>
                            <td class="bg_light_gray"></td>
                            <td rowspan="2"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray line_right_none s_4"></td>
                            <td class="bg_light_gray line_right_none s_4"></td>
                            <td class="bg_light_gray"></td>
                            <td rowspan="2"></td>

                            <td v-if="workingDay['working_day_id'] && workingDay['concluded_level_one'] == true" rowspan="2">
                                <p class="button">
                                    <a v-if="managerCanConcludeLevelOne" class="ss_size s_height btn_dark_blue" @click="unconcludedLevelOne(workingDay['working_day_id'])">
                                        <img class="ico_ico_arrow2" :src="asset('images/ico_check_blue.svg')">
                                    </a>
                                    <img v-else class="check_blue ico_ico_arrow4" :src="asset('images/ico_check_blue.svg')">
                                </p>
                            </td>
                            <td v-else-if="workingDay['working_day_id'] && workingDay['concluded_level_one'] == false" rowspan="2">
                                <p class="button">
                                    <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOne(workingDay['working_day_id'])">締める</a>
                                </p>
                            </td>
                            <td v-else rowspan="2">
                                <p class="button">
                                    <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOneOnNonExistDay(day)">締める</a>
                                </p>
                            </td>
                            <td rowspan="2" class="s_6">{{ workingDay['working_day_id'] && workingDay['concluded_level_one'] == true ? workingDay['concluded_level_one_manager_name'] : null }}</td>

                            <td rowspan="2"><p v-if="canGoToWorkingDayPage" class="button"><a class="sss_size ss_height btn_gray" @click="goToWorkingDay(day)">変更</a></p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="line_right_none"></td>
                            <td class="line_right_none"></td>
                            <td></td>
                        </tr>
                    </template>
                    <template v-else>
                        <template v-for="(workingInfo, index) in workingDay['data']">
                            <tr>
                                <td v-if="index == 0" :rowspan="workingDay['data'].length * 2 ">
                                    <span :class="dateClass(workingDay)">
                                        {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                                    </span>
                                    <span v-if="snapshotDataOfMonth[day]['data'] && haveConsideringSnapshot(day)"><a class="btn_apply btn_yamabuki modal-open" @click="toggleApproverForm(day)">中</a></span>
                                    <span v-else-if="snapshotDataOfMonth[day]['data'] && !haveConsideringSnapshot(day)"><a class="btn_apply btn_black modal-open" @click="toggleApproverForm(day)">済</a></span>
                                </td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['work_status_id']['color']">{{ workingInfo['work_status_id'] ? allWorkStatuses[workingInfo['work_status_id']] : '' }}</td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['rest_status_id']['color']">{{ workingInfo['rest_status_id'] ? allRestStatuses[workingInfo['rest_status_id']] : '' }}</td>
                                <td class="bg_light_gray"  :class="workingInfo['color_statuses']['planned_start_work_time']['color']" v-if="displayToggle == 1">{{ reformatHourString(workingInfo['planned_start_work_time']) }}</td>
                                <td class="bg_light_gray"  :class="workingInfo['color_statuses']['schedule_start_work_time']['color']" v-else>{{ reformatHourString(workingInfo['schedule_start_work_time']) }}</td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['real_start_work_time']['color']">{{ reformatHourString(workingInfo['real_start_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_end_work_time']['color']" v-if="displayToggle == 1">{{ reformatHourString(workingInfo['planned_end_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['schedule_end_work_time']['color']" v-else>{{ reformatHourString(workingInfo['schedule_end_work_time']) }}</td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['real_end_work_time']['color']">{{ reformatHourString(workingInfo['real_end_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_break_time']['color']">{{ workingInfo['planned_break_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_night_break_time']['color']">{{ workingInfo['planned_night_break_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_go_out_time']['color']">{{ workingInfo['planned_go_out_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_total_late_and_leave_early']['color']">{{ workingInfo['planned_total_late_and_leave_early'] }}</td>
                                <td class="bg_light_gray line_right_none" :class="workingInfo['color_statuses']['planned_work_span']['color']">{{ convertToHourMinute(workingInfo['planned_work_span']) }}</td>
                                <td class="bg_light_gray line_right_none" :class="workingInfo['color_statuses']['planned_total_early_arrive_and_overtime']['color']">{{ convertToHourMinute(workingInfo['planned_total_early_arrive_and_overtime']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_working_hour']['color']">{{ convertToHourMinute(workingInfo['planned_working_hour']) }}</td>
                                <td rowspan="2" class="attendance_note" :class="workingInfo['color_statuses']['note']['color']">{{ truncateString(workingInfo['note']) }}</td>
                                <template v-if="index == 0">
                                    <td v-if="workingDay['concluded_level_one'] == true" :rowspan="workingDay['data'].length * 2">
                                        <p class="button">
                                            <a v-if="managerCanConcludeLevelOne" class="ss_size s_height btn_dark_blue" @click="unconcludedLevelOne(workingDay['working_day_id'])"><img class="ico_ico_arrow2" :src="asset('images/ico_check_blue.svg')"></a>
                                            <img v-else class="check_blue ico_ico_arrow4" :src="asset('images/ico_check_blue.svg')">
                                        </p>
                                    </td>
                                    <td v-else :rowspan="workingDay['data'].length * 2">
                                        <p class="button">
                                            <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOne(workingDay['working_day_id'])">締める</a>
                                        </p>
                                    </td>
                                    <td :rowspan="workingDay['data'].length * 2" class="s_6">{{ workingDay['concluded_level_one'] == true ? workingDay['concluded_level_one_manager_name'] : null }}</td>
                                    <td :rowspan="workingDay['data'].length * 2"><p v-if="canGoToWorkingDayPage" class="button"><a class="sss_size ss_height btn_gray" @click="goToWorkingDay(day)">変更</a></p></td>
                                </template>
                            </tr>
                            <tr>
                                <td :class="styleOfTimestampedStartWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_start_work_time']) }}</td>
                                <td :class="styleOfTimestampedEndWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_end_work_time']) }}</td>
                                <td :class="workingInfo['color_statuses']['real_break_time']['color']">{{ workingInfo['real_break_time'] }}</td>
                                <td :class="workingInfo['color_statuses']['real_night_break_time']['color']">{{ workingInfo['real_night_break_time'] }}</td>
                                <td :class="styleOfRealGoOutTime(workingInfo)">{{ workingInfo['real_go_out_time'] }}</td>
                                <td :class="workingInfo['color_statuses']['real_total_late_and_leave_early']['color']">{{ workingInfo['real_total_late_and_leave_early'] }}</td>
                                <td class="line_right_none" :class="workingInfo['color_statuses']['real_work_span']['color']">{{ convertToHourMinute(workingInfo['real_work_span'], true) }}</td>
                                <td class="line_right_none" :class="workingInfo['color_statuses']['real_total_early_arrive_and_overtime']['color']">{{ convertToHourMinute(workingInfo['real_total_early_arrive_and_overtime'], true) }}</td>
                                <td :class="workingInfo['color_statuses']['real_working_hour']['color']">{{ convertToHourMinute(workingInfo['real_working_hour'], true) }}</td>
                            </tr>
                        </template>
                    </template>
                </template>
            </table>
            <table class='table_with_fixed_header' v-if="displayWorkPlace">
                <tr class="fixed_header">
                    <th class="s_12 normal_height">日付</th>
                    <th>勤務先</th>
                    <th class="s_5"><p>勤務</p><p>形態</p></th>
                    <th class="s_5"><p>休暇</p><p>形態</p></th>
                    <th class="s_5" v-if="displayToggle == 1">出勤</th>
                    <th class="s_5" v-else>所定出勤</th>
                    <th class="s_5" v-if="displayToggle == 1 ">退勤</th>
                    <th class="s_5" v-else>所定退勤</th>
                    <th class="s_4">休憩</th>
                    <th class="s_4">(内)深休</th>
                    <th class="s_4">外出</th>
                    <th class="s_4">遅・早</th>
                    <th  class="s_6">総労働時間</th>
                    <th class="s_12">備考</th>
                    <th class="s_10" colspan="2">管理者１</th>
                    <th class="s_4"></th>
                </tr>
                <template v-for="(workingDay, day) in workingDays">
                    <template v-if="workingDay['data'].length == 0">
                        <tr>
                            <td rowspan="2">
                                <span :class="dateClass(workingDay)">
                                    {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                                </span>
                            </td>
                            <td class="bg_light_gray"></td>
                            <td rowspan="2"></td>
                            <td rowspan="2"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td class="bg_light_gray"></td>
                            <td rowspan="2"></td>

                            <td class="s_5" v-if="workingDay['working_day_id'] && workingDay['concluded_level_one'] == true" rowspan="2">
                                <p class="button">
                                    <a v-if="managerCanConcludeLevelOne" class="ss_size s_height btn_dark_blue" @click="unconcludedLevelOne(workingDay['working_day_id'])">
                                        <img class="ico_ico_arrow2" :src="asset('images/ico_check_blue.svg')">
                                    </a>
                                    <img v-else class="check_blue ico_ico_arrow4" :src="asset('images/ico_check_blue.svg')">
                                </p>
                            </td>
                            <td class="s_5" v-else-if="workingDay['working_day_id'] && workingDay['concluded_level_one'] == false" rowspan="2">
                                <p class="button">
                                    <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOne(workingDay['working_day_id'])">締める</a>
                                </p>
                            </td>
                            <td class="s_5" v-else rowspan="2">
                                <p class="button">
                                    <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOneOnNonExistDay(day)">締める</a>
                                </p>
                            </td>
                            <td rowspan="2">{{ workingDay['working_day_id'] && workingDay['concluded_level_one'] == true ? workingDay['concluded_level_one_manager_name'] : null }}</td>

                            <td rowspan="2"><p v-if="canGoToWorkingDayPage" class="button"><a class="sss_size ss_height btn_gray" @click="goToWorkingDay(day)">変更</a></p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </template>
                    <template v-else>
                        <template v-for="(workingInfo, index) in workingDay['data']">
                            <tr>
                                <td v-if="index == 0" :rowspan="workingDay['data'].length * 2">
                                    <span :class="dateClass(workingDay)">
                                        {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                                    </span>
                                </td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_work_location_id']['color']">
                                    <template v-if="workingInfo['planned_work_location_id'] !== null">
                                        {{
                                            (workingInfo['planned_work_address_id'] === null) ? workLocations[workingInfo['planned_work_location_id']]['name'] :
                                            workLocations[workingInfo['planned_work_location_id']]['name'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + workLocations[workingInfo['planned_work_location_id']]['addresses'][workingInfo['planned_work_address_id']]
                                        }}
                                    </template>
                                </td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['work_status_id']['color']">{{ workingInfo['work_status_id'] ? allWorkStatuses[workingInfo['work_status_id']] : '' }}</td>
                                <td rowspan="2" :class="workingInfo['color_statuses']['rest_status_id']['color']">{{ workingInfo['rest_status_id'] ? allRestStatuses[workingInfo['rest_status_id']] : '' }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_start_work_time']['color']" v-if="displayToggle == 1">{{ reformatHourString(workingInfo['planned_start_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['schedule_start_work_time']['color']" v-else>{{ reformatHourString(workingInfo['schedule_start_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_end_work_time']['color']" v-if="displayToggle == 1">{{ reformatHourString(workingInfo['planned_end_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['schedule_end_work_time']['color']" v-else>{{ reformatHourString(workingInfo['schedule_end_work_time']) }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_break_time']['color']">{{ workingInfo['planned_break_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_night_break_time']['color']">{{ workingInfo['planned_night_break_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_go_out_time']['color']">{{ workingInfo['planned_go_out_time'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_total_late_and_leave_early']['color']">{{ workingInfo['planned_total_late_and_leave_early'] }}</td>
                                <td class="bg_light_gray" :class="workingInfo['color_statuses']['planned_working_hour']['color']">{{ convertToHourMinute(workingInfo['planned_working_hour']) }}</td>
                                <td rowspan="2" class="attendance_note"><span>{{ truncateString(workingInfo['note']) }}</span></td>
                                <template v-if="index == 0">
                                    <td class="s_5" v-if="workingDay['concluded_level_one'] == true" :rowspan="workingDay['data'].length * 2">
                                        <p class="button">
                                            <a v-if="managerCanConcludeLevelOne" class="ss_size s_height btn_dark_blue" @click="unconcludedLevelOne(workingDay['working_day_id'])"><img class="ico_ico_arrow2" :src="asset('images/ico_check_blue.svg')"></a>
                                            <img v-else class="check_blue ico_ico_arrow4" :src="asset('images/ico_check_blue.svg')">
                                        </p>
                                    </td>
                                    <td class="s_5" v-else :rowspan="workingDay['data'].length * 2">
                                        <p class="button">
                                            <a v-if="workingDay['can_be_concluded'] == true && managerCanConcludeLevelOne" class="ss_size s_height btn_white" @click="concludeLevelOne(workingDay['working_day_id'])">締める</a>
                                        </p>
                                    </td>
                                    <td :rowspan="workingDay['data'].length * 2">{{ workingDay['concluded_level_one'] == true ? workingDay['concluded_level_one_manager_name'] : null }}</td>
                                    <td :rowspan="workingDay['data'].length * 2"><p v-if="canGoToWorkingDayPage" class="button"><a class="sss_size ss_height btn_gray" @click="goToWorkingDay(day)">変更</a></p></td>
                                </template>
                            </tr>
                            <tr>
                                <td>
                                    <template v-if="workingInfo['planned_work_address_id'] === null">
                                        {{ (workingInfo['real_work_location_id'] !== null) ? workLocations[workingInfo['real_work_location_id']]['name'] : '' }}
                                    </template>
                                    <template v-else>
                                        {{ (workingInfo['real_work_address_id'] !== null) ? workLocations[workingInfo['real_work_location_id']]['name'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + workLocations[workingInfo['real_work_location_id']]['addresses'][workingInfo['real_work_address_id']] : '' }}
                                    </template>
                                </td>
                                <td :class="styleOfTimestampedStartWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_start_work_time']) }}</td>
                                <td :class="styleOfTimestampedEndWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_end_work_time']) }}</td>
                                <td :class="workingInfo['color_statuses']['real_break_time']['color']">{{ workingInfo['real_break_time'] }}</td>
                                <td :class="workingInfo['color_statuses']['real_night_break_time']['color']">{{ workingInfo['real_night_break_time'] }}</td>
                                <td :class="styleOfRealGoOutTime(workingInfo)">{{ workingInfo['real_go_out_time'] }}</td>
                                <td :class="workingInfo['color_statuses']['real_total_late_and_leave_early']['color']">{{ workingInfo['real_total_late_and_leave_early'] }}</td>
                                <td :class="workingInfo['color_statuses']['real_working_hour']['color']">{{ convertToHourMinute(workingInfo['real_working_hour'], true) }}</td>
                            </tr>
                        </template>
                    </template>
                </template>
            </table>
        </section>
        <section v-for="(workingDay, day) in workingDays">
            <section v-if="snapshotDataOfMonth[day]['data']" class="approver_form_wrapper" v-show="snapshotSwitches[day]">
                <div :id="'approver_form_' + day" class="approver_form_popup approval_wrapper">
                    <section class="approval_wrapper_innner">
                        <snapshot-day-component v-for="(snapshot, index) in snapshotDataOfMonth[day]['data']" :key="index"
                            :pkey="index"
                            :snapshot-day="snapshot"
                            :is-snapshot-days="isSnapshotDays(day)"
                            :work-locations="workLocationsForSnapshot"
                            :timestamp-types="timestampTypes"
                            :mode-approval="true"
                            :employee-id="employeeId"
                            :approver-form-mode="true"
                            :reposition-in-pop-up-mode="snapshotSwitches[day]"
                            @update-snapshot-days="updateSnapshotDays"
                            @refresh="refreshPage">
                        </snapshot-day-component>
                    </section>
                    <section class="btn">
                        <p class="button"><a class="m_size l_height btn_gray l_font" @click="toggleApproverForm(day)">閉じる</a></p>
                    </section>
                </div>
                <div class="modal-overlay" v-cloak @click="toggleApproverForm(day)"></div>
            </section>
        </section>
    </section>
</template>
<script>
import Common from './working_month_tools.js';
import SnapshotDayComponent from './sinsei/snapshot_day_component.vue';

export default {
    mixins: [Common],
    data: function() {
        return {
            employeeId: window.employee_id,
            businessMonth: window.business_month,
            workingDays: window.working_days,
            allWorkStatuses: window.all_work_statuses,
            allRestStatuses: window.all_rest_statuses,
            workLocations: window.work_locations,
            // consts: {
            //     SUNDAY: window.consts_sunday,
            //     SATURDAY: window.consts_saturday,
            // },

            // Authorization
            canGoToWorkingDayPage: window.can_go_to_working_day_page,

            // 2019-02-13: add sinsei popups to each day of a business month
            snapshotDataOfMonth: window.sinsei_data,
            snapshotSwitches: null,
            workLocationsForSnapshot: window.list_of_work_locations,
            timestampTypes: window.timestamp_types,
        }
    },
    props: {
        displayWorkPlace: {
            type: Boolean,
            required: true,
        },
        managerCanConcludeLevelOne: {
            type: Boolean,
            required: false,
            default: true,
        },
        displayToggle: Number,
    },
    methods: {
        // dateClass: function(day) {
        //     return {
        //         'sunday': (day['day_of_week'] == this.consts.SUNDAY) || (day['national_holiday'] == true),
        //         'saturday': day['day_of_week'] == this.consts.SATURDAY,
        //         'pink_holiday': day['law_rest_day'] == true,
        //         'blue_holiday': day['normal_rest_day'] == true,
        //     };
        // },
        // japaneseDayOfWeek: function(dayIndex) {
        //     switch (dayIndex) {
        //         case 0:
        //             return '日';
        //         case 1:
        //             return '月';
        //         case 2:
        //             return '火';
        //         case 3:
        //             return '水';
        //         case 4:
        //             return '木';
        //         case 5:
        //             return '金';
        //         case 6:
        //             return '土';
        //         default:
        //             return null;
        //     }
        // },
        // reformatHourString: function(hourString) {
        //     let momentHour = moment(hourString);
        //     if (momentHour.isValid()) {
        //         return momentHour.format('HH:mm');
        //     }
        // },
        // convertToHourMinute: function(minutes, filterEmpty = false) {
        //     if (filterEmpty === false || minutes !== 0) {
        //         return (!_.isNaN(minutes)) && (minutes != null) ? _.padStart(_.floor(_.toInteger(minutes)/60), 2, '0') + ':' + _.padStart(_.toInteger(minutes)%60, 2, '0') : minutes;
        //     } else {
        //         return null;
        //     }
        // },
        truncateString: function(string) {
            let options = {
                'length': 14,
                'omission': '...',
            };
            return _.truncate(string, options);
        },

        goToWorkingDay: function(day) {
            let url = "/employee_working_day/" + this.employeeId + '/' + day;
            window.location.href = $.companyCodeIncludedUrl(url);
        },
        concludeLevelOne: function(workingDayId) {
            var conf = confirm('この勤務を本当に締めますか？');

            if (!!conf) {
                let url = '/employee_working_month/conclude_level_one/' + workingDayId + '/' + this.businessMonth;
                this.sendConcludeLevelOneRequest(url);
            }
        },
        concludeLevelOneOnNonExistDay: function(date) {
            var conf = confirm('この勤務を本当に締めますか？');

            if (!!conf) {
                let url = '/employee_working_month/conclude_non_exist_working_day/' + this.employeeId + '/' + date + '/' + this.businessMonth;
                this.sendConcludeLevelOneRequest(url);
            }
        },
        unconcludedLevelOne: function(workingDayId) {
            var conf = confirm('この勤務の締めを解除しますか？');

            if (!!conf) {
                let url = '/employee_working_month/unconcluded_level_one/' + workingDayId + '/' + this.businessMonth;
                this.sendConcludeLevelOneRequest(url);
            }
        },
        sendConcludeLevelOneRequest: function(url) {
            axios.get($.companyCodeIncludedUrl(url)).then(response => {
                document.caeru_alert('success', response.data['success']);
                this.workingDays = response.data['working_days'];
                let concludeStatus = {
                    everydayCanBeConcluded: response.data['everyday_can_be_concluded'],
                    levelOneConcludedAll: response.data['level_one_concluded_all'],
                }
                this.$emit('changed', concludeStatus);

            }).catch(error => {
                document.caeru_alert('error', error.response.data.error);
            });
        },

        styleOfTimestampedStartWorkTime: function(workingInfo) {
            let style = workingInfo['color_statuses']['timestamped_start_work_time']['color'];
            style = workingInfo['start_time_red_number'] == true ? style + ' red' : style;
            return style;
        },
        styleOfTimestampedEndWorkTime: function(workingInfo) {
            let style = workingInfo['color_statuses']['timestamped_end_work_time']['color'];
            style = workingInfo['end_time_red_number'] == true ? style + ' red' : style;
            return style;
        },
        styleOfRealGoOutTime: function(workingInfo) {
            let style = workingInfo['color_statuses']['real_go_out_time']['color'];
            style = workingInfo['go_out_red_number'] == true ? style + ' red' : style;
            return style;
        },

        asset: function(string) {
            return window.location.protocol + '//' + window.location.hostname + '/' + string;
        },

        ///////////////////////////////
        /// Sinsei pop-ups function ///
        ///////////////////////////////
        toggleApproverForm: function(day) {
            this.snapshotSwitches[day] = !this.snapshotSwitches[day] ;
            if (this.snapshotSwitches[day]  === true) {
                this.$nextTick(function() {
                    this.repositionByHeight(day);
                    this.changeHeightOfTheApproverWrapperInner();
                });
            } else {
                this.undoChangeHeightOfTheApproverWrapperInner();
            }
        },
        updateSnapshotDays: function (data_from, data_to) {
            var index_furikyu = _.findIndex(this.snapshots, function(o) { return o.date === data_from.date; });
            var index_furide = _.findIndex(this.snapshots, function(o) { return o.date === data_to.date; });
            this.snapshots[index_furikyu].snapshots = data_from.snapshots;
            this.snapshots[index_furikyu].snapshot_day_color = data_from.snapshot_day_color;
            this.snapshots[index_furikyu] = data_from;
            this.snapshots[index_furide].snapshots = data_to.snapshots;
            this.snapshots[index_furide].snapshot_day_color = data_to.snapshot_day_color;
            this.snapshots[index_furide] = data_to;
        },
        refreshPage: function() {
            window.location.reload();
        },
        repositionByHeight: function(day) {
            let popUpApproverForm = $('#approver_form_' + day);
            let diffHeightApprover = window.innerHeight - popUpApproverForm.outerHeight();
            let diffWidthApprover = window.innerWidth - popUpApproverForm.outerWidth();
            let scrollOffset = $(window).scrollTop();

            popUpApproverForm.offset({ top: (scrollOffset + diffHeightApprover/2), left: diffWidthApprover/2 });
        },
        isSnapshotDays:function (day) {
            return (this.snapshotDataOfMonth[day]['data'] &&  _.size(this.snapshotDataOfMonth[day]['data']) > 1) ? true : false;
        },
        haveConsideringSnapshot: function(day) {
            return this.snapshotDataOfMonth[day]['isHavingConsideringRequest'] ? true : false;
        },

        // These functions only need to be call when the pop up is opened/closed. These functions are requested of desiger to dynamically set the height of the popup/popup content.
        changeHeightOfTheApproverWrapperInner: function() {
            let wrapper_height =$('.approval_wrapper').height();
            // The height of the popup, over/under which the popup inner's height will be alter. Current value 800.
            if (wrapper_height > 800) {
                console.log('run');
                $('.approval_wrapper .approval_wrapper_innner').css({'height':wrapper_height * 0.90+'px'});
            }
        },
        undoChangeHeightOfTheApproverWrapperInner: function() {
            $('.approval_wrapper .approval_wrapper_innner').css({'height':'80vh'});
        }
    },
    created: function() {
        // Initialize all the boolean switch to display the snapshot pop-up. They're all false(since all the pop-up still hasn't showed up yet).
        this.snapshotSwitches = _.transform(this.snapshotDataOfMonth, function(result, value, key) {
            result[key] = false;
        }, {});
    },
    components: {
        'snapshot-day-component' : SnapshotDayComponent,
    }
}
</script>