<template>
<section>
    <section class="search_box_wrapper">
        <div class="search_box_innner2">
            <div>
                <div class="search_setting">
                    <span class="right_10">従業員ID</span><input class="s_size" v-model="searchConditions['employeeId']" type="text">
                </div>
                <div class="search_setting">
                    <span class="right_10">従業員名</span>
                    <input type="text" class="vue_place_holder m_size" v-cloak>
                    <autocomplete custom-class="m_size" :suggestions="employeeNames" :allow-approx ="true"
                        :initial-value="searchConditions['employeeName']"
                        @selected="employeeNameSelected"
                        @changed="employeeNameChanged">
                    </autocomplete>
                </div>
                <div class="search_setting">
                    <span class="right_10 left">雇用状態</span>
                    <div class="selectbox left">
                        <select class="s_size" v-model="searchConditions['workStatus']">
                            <option value=""></option>
                            <option v-for="(status, id) in employeeWorkStatuses" :value="id">{{ status }}</option>
                        </select>
                    </div>
                </div>
                <div class="search_box search_setting">
                    <span class="right_10">部署</span>
                    <section class="form-group mm_size">
                        <input type="text" class="vue_place_holder mm_size" v-cloak>
                        <select class="mm_size ms" v-cloak v-model="searchConditions['departments']" autocomplete="off" multiple="multiple">
                            <option v-for="(department, id) in departments" :value="id">{{ department }}</option>
                        </select>
                    </section>
                </div>
                <div class="search_setting">
                    <span class="right_10 left">{{ currentWorkLocationName }}に</span>
                    <div class="selectbox left">
                        <select class="mm_size" v-model="searchConditions['belongTo']" id="condition_belongto">
                            <option :value="true">所属している従業員</option>
                            <option :value="false">出勤した従業員</option>
                        </select>
                    </div>
                </div>
                <div class="button bottom_10 search_setting right_10">
                    <a class="s_size s_height btn_greeen" @click="submitSearch">検索</a>
                </div>
                <div class="button bottom_10 search_setting">
                    <a class="s_size s_height btn_gray" @click="resetSearchConditions">リセット</a>
                </div>
            </div>
        </div>
    </section>
    <section v-if="settingData != null" class="unit">
        <span class="right_30">営業日仕分け：{{ settingData['date_separate_time_hour'] }}時{{ settingData['date_separate_time_minute'] }}分</span>
        <span v-if="settingData['start_time_round_up']" class="right_30">出勤時刻単位：{{ settingData['start_time_round_up'] }}分</span>
        <span v-if="settingData['end_time_round_down']" class="right_30">退勤時刻単位：{{ settingData['end_time_round_down'] }}分</span>
        <span v-if="settingData['break_time_round_up']" class="right_30">外出：{{ settingData['break_time_round_up'] }}分単位</span>
    </section>
    <section class="select_one">
        <section class="select_one_inner">
            <section class="right_10"><a @click="previousWeek"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_left2.svg')"></a></section>
            <section class="right_30"><a @click="previousDay"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_left1.svg')"></a></section>
            <section class="right_10"><input class="s_size" v-model="anchorDate" type="text"></section>
            <section class="right_10"><a class="modal-open" @click="toggleDatePicker"><img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')"></a></section>
            <section class="caeru_date_picker_wrapper" v-show="showDatePicker">
                <calendar class="normal_date_picker" v-bind="datePickerOptions" :editable="false"
                    @change-current-time="datePickerChangeTime"
                    @date-picker-cancel="toggleDatePicker"
                    @day-chose="anchorDateChanged">
                </calendar>
                <div class="modal-overlay" v-cloak @click="toggleDatePicker"></div>
            </section>
            <section class="right_10 ll_font">から</section>
            <section class="button right_30"><a class="ss_size s_height btn_greeen" @click="goToThatDay">表示</a></section>
            <section class="right_10"><a @click="nextDay"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_right1.svg')"></a></section>
            <section><a @click="nextWeek"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_right2.svg')"></a></section>
        </section>
        <section class="left_position">
            <section class="day_off_wrap">
                <div class="left right_10 description_confirm_list">要確認</div>
                <div class="left right_10 description_mistake description_text">誤った記録</div>
                <div class="left right_10 description_request description_text">申請中</div>
            </section>
            <div class="left right_10 description_approval description_text">承認</div>
            <div class="left right_10 description_reject description_text">否決</div>
            <div class="left description_correction description_text">修正</div>
        </section>
    </section>
    <div class="attendance_table sticky_table">
        <!-- <table class="fake_table_header_row">
            <tr>
                <th class="fake_table_header_row_first_cell" colspan="2" rowspan="4">
                    <div class="l_space"></div>
                </th>
                <th v-for="day in dayList" :key="day['date']" class="bold_line" :colspan="(displayGoOut == true) ? '12' : '11'">
                    <span :class="dayClass(day)">
                        {{ dayString(day) }}
                    </span>
                </th>
            </tr>
            <tr>
                <template v-for="day in dayList">
                    <th rowspan="3"><p class="s_size">勤務</p><p class="s_size">形態</p></th>
                    <th rowspan="3"><p class="s_size">休暇</p><p class="s_size">形態</p></th>
                    <th colspan="2">出勤</th>
                    <th colspan="2">退勤</th>
                    <th rowspan="3"><p class="s_size">時間外</p></th>
                    <th rowspan="3"><p class="s_size">休憩</p></th>
                    <th rowspan="3" v-if="displayGoOut" ><p class="s_size">外出</p></th>
                    <th rowspan="3"><p class="s_size">遅早</p></th>
                    <th rowspan="3"><p class="s_size"></p></th>
                    <th class="bold_line" rowspan="3"><p class="s_size"></p></th>
                </template>
            </tr>
            <tr>
                <template v-for="day in dayList">
                    <th><p class="m_size">予定</p></th>
                    <th rowspan="2"><p class="m_size">計算時刻</p></th>
                    <th><p class="m_size">予定</p></th>
                    <th rowspan="2"><p class="m_size">計算時刻</p></th>
                </template>
            </tr>
            <tr>
                <template v-for="day in dayList">
                    <th>打刻時刻</th>
                    <th>打刻時刻</th>
                </template>
            </tr>
        </table> -->

        <table class="true_table" @scroll="fetchDataWhileScrolling">
            <tbody class="true_table_body">
                <tr>
                    <th colspan="2" class="l_space" rowspan="4">
                        <div class="m_space"></div>
                    </th>
                    <th v-for="day in dayList" :key="day['date']" class="bold_line" :colspan="(displayGoOut == true) ? '12' : '11'">
                        <span :class="dayClass(day)">
                            {{ dayString(day) }}
                        </span>
                    </th>
                </tr>
                <tr>
                    <template v-for="day in dayList">
                        <th rowspan="3" class="fixed_column_second"><p class="s_size">勤務</p><p class="s_size">形態</p></th>
                        <th rowspan="3" class="fixed_column_second"><p class="s_size">休暇</p><p class="s_size">形態</p></th>
                        <th colspan="2" class="fixed_column_second">出勤</th>
                        <th colspan="2" class="fixed_column_second">退勤</th>
                        <th rowspan="3" class="fixed_column_second"><p class="s_size">時間外</p></th>
                        <th rowspan="3" class="fixed_column_second"><p class="s_size">休憩</p></th>
                        <th rowspan="3" v-if="displayGoOut" class="fixed_column_second"><p class="s_size">外出</p></th>
                        <th rowspan="3" class="fixed_column_second"><p class="s_size">遅早</p></th>
                        <th rowspan="3" class="fixed_column_second"><p class="s_size"></p></th>
                        <th class="bold_line fixed_column_second" rowspan="3"><p class="s_size"></p></th>
                    </template>
                </tr>
                <tr>
                    <template v-for="day in dayList">
                        <th class="fixed_column_third"><p class="m_size">予定</p></th>
                        <th class="fixed_column_third" rowspan="2"><p class="m_size">計算時刻</p></th>
                        <th class="fixed_column_third"><p class="m_size">予定</p></th>
                        <th class="fixed_column_third" rowspan="2"><p class="m_size">計算時刻</p></th>
                    </template>
                </tr>
                <tr>
                    <template v-for="day in dayList">
                        <th class="fixed_column_fourth">打刻時刻</th>
                        <th class="fixed_column_fourth">打刻時刻</th>
                    </template>
                </tr>
                <tr id='last_row_anchor'></tr>
            </tbody>
        </table>
        <div class="bottom_loader_container">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
</section>
</template>
<script>
import Hub from '../components/hub.js';
import Autocomplete from '../components/caeru_autocomplete';
import Calendar from '../components/caeru_calendar.vue';
import Common from './attendance_table_tools.js';
import DualFixedHeadersTools from './fixed_header_and_pagination_tools';

const hub = Hub;

export default {
    mixins: [Common, DualFixedHeadersTools],
    data: function() {
        return {
            // dayList: window.day_list,
            displayGoOut: window.display_go_out,
            // employeesData: window.employees_data,
            // allWorkStatuses: window.all_work_statuses,
            // allRestStatuses: window.all_rest_statuses,
            anchorDate: window.anchor_date,
            searchHistory: window.search_hitory,
            multipleSelectBox: null,
            settingData: !!window.setting_data ? window.setting_data : null,
            currentWorkLocationName: window.current_work_location_name,

            // Block multiple requests
            sendingRequest: false,

            // Date picker
            // datePickerData: window.date_picker_data,
            // showDatePicker: false,
            // datePickerTimeNavigationData: null,

            // Search box
            employeeNames: window.employee_names,
            departments: window.departments,
            searchConditions: {
                'employeeId': null,
                'employeeName': null,
                'workStatus': 1, // 勤務中
                'departments': [],

                // 'belongTo' equal to: search for working information of employees belong to the current work location(s)
                'belongTo': true,

                // Todo: there is the work address part still
                // ...
            },
            defaultSearchConditions: {
                'employeeId': null,
                'employeeName': null,
                'workStatus': 1, // 勤務中
                'departments': [],
                'belongTo': true,
            },
            // 雇用状態
            employeeWorkStatuses: window.employee_work_statuses,
        }
    },
    computed: {
        // currentDateInArray: {
        //     get: function() {
        //         return (this.datePickerTimeNavigationData === null) ? _.map(_.split(this.anchorDate, '-'), (value) => {return _.toInteger(value)}) : this.datePickerTimeNavigationData;
        //     },
        //     set: function(data) {
        //         this.datePickerTimeNavigationData = data;
        //     },
        // },
        // momentAnchorDate: function() {
        //     return moment(this.anchorDate);
        // },
        // datePickerOptions: function() {
        //     return this.datePickerData !== undefined ?
        //         {
        //             'year' : this.currentDateInArray[0],
        //             'month' : this.currentDateInArray[1],
        //             'nationalHolidays' : this.datePickerData['national_holidays'],
        //             'restDays' : this.datePickerData['rest_days'],
        //             'flipColorDay' : this.datePickerData['flip_color_day'],
        //             'startColor' : (this.currentDateInArray[1] % 2) === 0,
        //             'pickerMode' : true,
        //         } :
        //         {
        //             'year' : this.currentDateInArray[0],
        //             'month' : this.currentDateInArray[1],
        //             'startColor' : (this.currentDateInArray[1] % 2) === 0,
        //             'pickerMode' : true,
        //         }
        //     ;
        // }
    },
    methods: {
        // dayClass: function(day) {
        //     switch (day['dow']) {
        //         case 0:
        //             return 'sunday';
        //         case 6:
        //             return 'saturday';
        //         default:
        //             return '';
        //     }
        // },
        // dayString: function(day) {
        //     let date = moment(day['date']);

        //     return (date.month()+1) + '月' + date.date() + '日' + '（' + this.japaneseDayOfWeek(date.day()) + '）'
        // },
        // japaneseDayOfWeek: function(dayIndex) {
        //     switch (dayIndex) {
        //         case 0:
        //             return '日';
        //         case 1:
        //             return '月';
        //         case 2:
        //             return '火';
        //         case 3:
        //             return '水';
        //         case 4:
        //             return '木';
        //         case 5:
        //             return '金';
        //         case 6:
        //             return '土';
        //         default:
        //             return null;
        //     }
        // },
        // reformatHourString: function(hourString) {
        //     let momentHour = moment(hourString);
        //     if (momentHour.isValid()) {
        //         return momentHour.format('HH:mm');
        //     }
        // },
        // urlToWorkingDayPage: function(employee, dayString) {
        //     let url = '/employee_working_day/' + employee['id'] + '/' + dayString;
        //     return $.companyCodeIncludedUrl(url);
        // },
        // urlToWorkingMonthPage: function(employee) {
        //     let url = '/employee_working_month/' + employee['id'];
        //     return $.companyCodeIncludedUrl(url);
        // },
        // scheduleTypeNote: function(employee) {
        //     // Show the 'フ' for the flexible_schedule, otherwise show '変'
        //     return employee['schedule_type'] == 4;
        // },

        // DatePicker
        // toggleDatePicker: function() {
        //     this.showDatePicker = !this.showDatePicker;
        //     if (this.showDatePicker === true) {
        //         this.$nextTick(function() {
        //             this.repositionByHeight();
        //         });

        //     } else {
        //         this.datePickerTimeNavigationData = null;
        //     }
        // },
        // repositionByHeight: function() {
        //     let popUp = $('.normal_date_picker .caeru_calendar_date_picker_popup');
        //     let diffHeight = window.innerHeight - popUp.outerHeight();
        //     let diffWidth = window.innerWidth - popUp.outerWidth();
        //     let scrollOffset = $(window).scrollTop();
        //     popUp.offset({ top: (scrollOffset + diffHeight/2), left: diffWidth/2 });
        // },
        // anchorDateChanged: function(value) {
        //     this.anchorDate = value;
        //     this.toggleDatePicker();
        // },
        // datePickerChangeTime: function(year, month) {
        //     this.datePickerTimeNavigationData = [year, month];
        // },

        // When click '表示' button or moving around with 4 arrow buttons
        // goToThatDay: function() {
        //     let data = {
        //         'anchor_date': this.anchorDate,
        //     }
        //     this.getDataBydate(data);
        // },
        // nextDay: function() {
        //     let data = {
        //         'anchor_date': this.momentAnchorDate.clone().add(1, 'days').format('YYYY-MM-DD'),
        //     }
        //     this.getDataBydate(data);
        // },
        // previousDay: function() {
        //     let data = {
        //         'anchor_date': this.momentAnchorDate.clone().subtract(1, 'days').format('YYYY-MM-DD')
        //     }
        //     this.getDataBydate(data);
        // },
        // nextWeek: function() {
        //     let data = {
        //         'anchor_date': this.momentAnchorDate.clone().add(1, 'weeks').format('YYYY-MM-DD')
        //     }
        //     this.getDataBydate(data);
        // },
        // previousWeek: function() {
        //     let data = {
        //         'anchor_date': this.momentAnchorDate.clone().subtract(1, 'weeks').format('YYYY-MM-DD')
        //     }
        //     this.getDataBydate(data);
        // },
        getDataBydate: function(data) {
            let url = '/employee_attendance_by_date';
            this.sendRequest(url, data);
        },


        // Search box area
        // Employee Name Autocomplete
        employeeNameSelected: function(id) {
            this.searchConditions['employeeName'] = this.employeeNames[id].name;
        },
        employeeNameChanged: function(value) {
            this.searchConditions['employeeName'] = value;
        },
        submitSearch: function() {
            let url = '/employee_attendance_search';
            let data = {
                'anchor_date': this.anchorDate,
                'employee_presentation_id': this.searchConditions['employeeId'],
                'employee_name': this.searchConditions['employeeName'],
                'work_status': this.searchConditions['workStatus'],
                'departments': this.searchConditions['departments'],
                'belong_to_current_work_location': this.searchConditions['belongTo'],
            }

            this.sendRequest(url, data);
        },
        resetSearchConditions: function() {
            Object.assign(this.searchConditions, this.defaultSearchConditions);
            this.multipleSelectBox.multipleSelect('uncheckAll');
            hub.$emit('reset-autocomplete');
        },


        // The actual function to send request
        sendRequest: function(url, conditions) {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;

                axios.post($.companyCodeIncludedUrl(url), conditions)
                .then(response => {
                    this.anchorDate = response.data.anchor_date;
                    this.dayList = response.data.day_list;

                    // scrollPaginator's stuffs
                    if (!!response.data.scroll_pagination_info) {
                        // Set the setting of the scrollPaginator
                        this.currentPage = response.data.scroll_pagination_info['current_page'];
                        this.canLoadPreviousData = response.data.scroll_pagination_info['can_load_previous_data'];
                        this.canLoadNextData = response.data.scroll_pagination_info['can_load_next_data'];
                    }
                    // Modify the true data table
                    this.clearTheTrueTable();
                    this.setTheTableSetTemplateIntoTheTrueTable(response.data.table_set);

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                });

            }
        },

        // styleOfTimestampedStartWorkTime: function(workingInfo) {
        //     let style = workingInfo['color_statuses']['timestamped_start_work_time']['color'];
        //     style = workingInfo['start_time_red_number'] == true ? style + ' red' : style;
        //     return style;
        // },
        // styleOfTimestampedEndWorkTime: function(workingInfo) {
        //     let style = workingInfo['color_statuses']['timestamped_end_work_time']['color'];
        //     style = workingInfo['end_time_red_number'] == true ? style + ' red' : style;
        //     return style;
        // },
        // styleOfRealGoOutTime: function(workingInfo) {
        //     let style = workingInfo['color_statuses']['real_go_out_time']['color'];
        //     style = workingInfo['go_out_red_number'] == true ? style + ' red' : style;
        //     return style;
        // },

        // This function below is scrollPaginator's data fetcher
        fetchDataWhileScrolling: _.throttle(function() {
            // let viewportHeight = $('.sticky_table ').innerHeight();
            let tableHeight = $('.sticky_table  .true_table .true_table_body').innerHeight();
            let top = $('.true_table ').scrollTop();

            // console.log(top + viewportHeight > tableHeight - 900);
            // console.log(viewportHeight);
            // console.log(tableHeight);
            // console.log(top);
            // 900 is because we have to send the request before the scroll reach the very bottom(to increase UX)
            if (top > tableHeight - 1200) {
                if (this.canLoadNextData == true) {
                    let url = '/employee_attendance_scroll/' + (this.currentPage + 1);
                    this.sendRequestToGetAnotherPageOfData(url);
                }
            }
        }, 100),

        asset: function(string) {
            return window.location.protocol + '//' + window.location.hostname + '/' + string;
        },

        appendData: function (array) {
            let select_box = $("select.ms");
            select_box.empty();
            $.each(array, function(index,val){
                select_box.append("<option value=" + index + ">" + val +"</option>")
            });

            this.multipleSelectBox = select_box.multipleSelect({
                width: 250,
                selectAll: true,
                minimumCountSelected: 4,
            });
        }
    },
    mounted: function() {
        // The calendar pop up
        // this.repositionByHeight();
        // this.$nextTick(function() {
        //     window.addEventListener('resize', this.repositionByHeight);
        // });

        // The department multiple select
        let select_box = $("select.ms");
        this.multipleSelectBox = select_box.multipleSelect({
            width: 250,
            selectAll: true,
            minimumCountSelected: 4,
        });
        select_box.change(() => {
            // console.log($(select_box).val());
            this.$set(this.searchConditions, 'departments', $(select_box).val());
        });

        let belongto = $("#condition_belongto");
        belongto.change(() => {
           let derpartments = belongto.val() === "true" ? window.departments : window.department_companys;
           this.appendData(derpartments);
        });

        // Update 2019-02-07: to improve visual feedback, now the page will first appear with a blank table and then send a search request right after mounted.
        this.submitSearch();
        this.setUpTheDualFixedTableHeadersStructure();
    },
    created: function() {
        // Reapply the search history if exist
        if (this.searchHistory !== null) {
            this.anchorDate = this.searchHistory['anchor_date'];
            this.searchConditions['employeeId'] = this.searchHistory['employee_presentation_id'];
            this.searchConditions['employeeName'] = this.searchHistory['employee_name'];
            this.searchConditions['workStatus'] = this.searchHistory['work_status'];
            this.searchConditions['departments'] = this.searchHistory['departments'];
            this.searchConditions['belongTo'] = this.searchHistory['belong_to_current_work_location'];
        }
    },
    components: {
        calendar: Calendar,
        autocomplete: Autocomplete,
    },
}
</script>