<template>
    <section>
        <section class="setting_table">
			<table>
                <tr>
                    <td class="input_items">前払</td>
                    <td>
                        <label class="radio_text right_30"><input name="maebarai_enable" type="radio" value="0" v-model="maebarai_enable">利用しない</label>
                        <label class="radio_text"><input name="maebarai_enable" type="radio" value="1" v-model="maebarai_enable">利用する</label>
                    </td>
                </tr>
				<tr>
					<td class="input_items">前払上限</td>
					<td><span class="right_10">確定給与の</span><input class="s_m_size right_10" name="maebarai_payment_rate" type="text" v-model="maebarai_payment_rate"><span>%</span></td>
				</tr>
				<tr>
					<td class="input_items">給与の確定</td>
					<td>
                        <section class="check_box_wrap side_input_block">
                            <label class="checkbox_text"><input name="maebarai_auto_approved" type="checkbox" value="勤怠データを承認する" v-model="maebarai_auto_approved">勤怠データを自動承認する</label>
                        </section>
                    </td>
				</tr>
				<tr>
					<td class="input_items">前払方法</td>
					<td>
                        <label class="radio_text right_30"><input name="maebarai_payment_method" type="radio" value="利用する" v-model="maebarai_payment_method">自社口座から現金で支払う</label>
                    </td>
				</tr>
				<tr>
					<td class="input_items">支払口座</td>
					<td>
                        <span class="right_30">セブン銀行</span>
                        <span class="right_10">支店番号</span><input class="s_size right_30" name="maebarai_branch_code" type="text" v-model="maebarai_branch_code">
                        <span class="right_10">口座番号</span><input class="m_size right_30" name="maebarai_account_number" type="text" v-model="maebarai_account_number">
                        <span class="right_10">口座名義(カナ)</span><input class="mm_size right_30" name="maebarai_account_name" type="text" v-model="maebarai_account_name">
                    </td>
				</tr>
			</table>
		</section>
		<section class="btn">
			<p class="button right_30"><a class="m_size l_height btn_greeen l_font" href="#">保存</a></p>
			<p class="button"><a class="m_size l_height btn_gray l_font" href="#">キャンセル</a></p>
		</section>
    </section>
</template>
<script>

export default {
    data: function() {
        return {
            data: {
                maebarai_setting: maebarai_setting,
            },
            errors: {
                maebarai_payment_rate: null,
                maebarai_branch_code: null,
                maebarai_account_number: null,
                maebarai_account_name: null
            }
        }
    },
    methods: {
    },
}
</script>