<template>
  <section>
    <section class="right_position2">
      <input class="s_size" v-model="startDate" type="text">
      <a class="modal-open" @click="toggleStartDatePicker"><img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')"></a>
      <section class="caeru_date_picker_wrapper" v-show="showStartDatePicker">
        <calendar class="start_picker" v-bind="startDatePickerOptions" :editable="false"
            @change-current-time="startDatePickerChangeTime"
            @date-picker-cancel="toggleStartDatePicker"
            @day-chose="startDateChanged">
        </calendar>
        <div class="modal-overlay" v-cloak @click="toggleStartDatePicker"></div>
      </section>
      <span class="right_10">〜</span>
      <input class="s_size" v-model="endDate" type="text">
      <a class="modal-open" @click="toggleEndDatePicker"><img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')"></a>
      <section class="caeru_date_picker_wrapper" v-show="showEndDatePicker">
        <calendar class="end_picker" v-bind="endDatePickerOptions" :editable="false"
            @change-current-time="endDatePickerChangeTime"
            @date-picker-cancel="toggleEndDatePicker"
            @day-chose="endDateChanged">
        </calendar>
        <div class="modal-overlay" v-cloak @click="toggleEndDatePicker"></div>
      </section>
      <div class="button bottom_10">
        <a class="s_size s_height btn_greeen" @click="submitNightShift">実勤分割</a>
      </div>
    </section>
  </section>
</template>
<script>
import Calendar from '../components/caeru_calendar.vue';

export default {
  data: function() {
    return {
      startDate: window.start_date,
      endDate: window.end_date,
      datePickerData: window.date_picker_data,
      showStartDatePicker: false,
      showEndDatePicker: false,
      startDatePickerNavigation: null,
      endDatePickerNavigation: null,
      // Block multiple requests
      sendingRequest: false,
    }
  },
  computed: {
    // Date pickers's stuffs
    startDateInArray: {
      get: function() {
        return (this.startDatePickerNavigation === null) ? _.map(_.split(this.startDate, '-'), (value) => {return _.toInteger(value)}) : this.startDatePickerNavigation;
      },
      set: function(data) {
        this.startDatePickerNavigation = data;
      },
    },
    endDateInArray: {
      get: function() {
        return (this.endDatePickerNavigation === null) ? _.map(_.split(this.endDate, '-'), (value) => {return _.toInteger(value)}) : this.endDatePickerNavigation;
      },
      set: function(data) {
        this.endDatePickerNavigation = data;
      },
    },
    startDatePickerOptions: function() {
      return this.datePickerData !== undefined ?
        {
          'year' : this.startDateInArray[0],
          'month' : this.startDateInArray[1],
          'nationalHolidays' : this.datePickerData['national_holidays'],
          'restDays' : this.datePickerData['rest_days'],
          'flipColorDay' : this.datePickerData['flip_color_day'],
          'startColor' : (this.startDateInArray[1] % 2) === 0,
          'pickerMode' : true,
        } :
        {
          'year' : this.startDateInArray[0],
          'month' : this.startDateInArray[1],
          'startColor' : (this.startDateInArray[1] % 2) === 0,
          'pickerMode' : true,
        }
      ;
    },
    endDatePickerOptions: function() {
      return this.datePickerData !== undefined ?
        {
          'year' : this.endDateInArray[0],
          'month' : this.endDateInArray[1],
          'nationalHolidays' : this.datePickerData['national_holidays'],
          'restDays' : this.datePickerData['rest_days'],
          'flipColorDay' : this.datePickerData['flip_color_day'],
          'startColor' : (this.endDateInArray[1] % 2) === 0,
          'pickerMode' : true,
        } :
        {
          'year' : this.endDateInArray[0],
          'month' : this.endDateInArray[1],
          'startColor' : (this.endDateInArray[1] % 2) === 0,
          'pickerMode' : true,
        }
      ;
    },
  },
  methods: {
    // Date pickers
    repositionByHeight: function(className) {
      let popUp = $('.' + className + ' .caeru_calendar_date_picker_popup');
      let diffHeight = window.innerHeight - popUp.outerHeight();
      let diffWidth = window.innerWidth - popUp.outerWidth();
      let scrollOffset = $(window).scrollTop();
      popUp.offset({ top: (scrollOffset + diffHeight/2), left: diffWidth/2 });
    },
    toggleStartDatePicker: function() {
      this.showStartDatePicker = !this.showStartDatePicker;
      if (this.showStartDatePicker === true) {
        this.$nextTick(function() {
          this.repositionByHeight('start_picker');
        });

      } else {
        this.startDatePickerNavigation = null;
      }
    },
    toggleEndDatePicker: function() {
      this.showEndDatePicker = !this.showEndDatePicker;
      if (this.showEndDatePicker === true) {
        this.$nextTick(function() {
          this.repositionByHeight('end_picker');
        });

      } else {
        this.endDatePickerNavigation = null;
      }
    },
    startDateChanged: function(value) {
      this.startDate = value;
      this.toggleStartDatePicker();
    },
    endDateChanged: function(value) {
      this.endDate = value;
      this.toggleEndDatePicker();
    },
    startDatePickerChangeTime: function(year, month) {
      this.startDatePickerNavigation = [year, month];
    },
    endDatePickerChangeTime: function(year, month) {
      this.endDatePickerNavigation = [year, month];
    },

    submitNightShift: function() {
      let url = '/employee_night_shift';
      let data = {
        'start_date': this.startDate,
        'end_date': this.endDate,
      }

      this.sendRequest(url, data);
    },
    
    // The actual function to send request
    sendRequest: function(url, conditions) {
      if (this.sendingRequest == false) {
        // Block multiple request
        this.sendingRequest = true;

        axios.post($.companyCodeIncludedUrl(url), conditions)
        .then(response => {
          this.$emit('updated')

          // Reset blocking multiple request
          this.sendingRequest = false;
        })
        .catch(error => {
          if (error.response) {
            document.caeru_alert('error', '');
          }

          // Reset blocking multiple request
          this.sendingRequest = false;
        });

      }
    },

    asset: function(string) {
      return window.location.protocol + '//' + window.location.hostname + '/' + string;
    },
  },
  mounted: function() {
    // The calendar pop up
    this.repositionByHeight('start_picker');
    this.repositionByHeight('end_picker');
    this.$nextTick(function() {
    window.addEventListener('resize', () => {
        this.repositionByHeight('start_picker');
        this.repositionByHeight('end_picker');
      });
    });
  },
  created: function() {
  },
  components: {
      calendar: Calendar,
  },
}
</script>