<template>
    <transition name="fade">
        <div class="place-picker-wrapper" v-show="display">
            <div class="modal-content place-picker" :class="map_wrapper_size_class">
                <h2>GPS位置情報</h2>
                <section :class="map_size_class">
                    <div class="map-container"></div>
                    <div class="infowindow-content">
                        <img src="" width="16" height="16" class="place-icon">
                        <span class="place-name title"></span>
                    </div>
                </section>
                <section class="second" v-if="!read_only">
                    <div class="right_30 left">
                        <span class="right_10 w_46">緯度</span><input @keydown.enter.prevent class="m_size latitude-input" v-model.number="center.latitude" type="text">
                    </div>
                    <div class="left">
                        <span class="right_10 w_46">経度</span><input @keydown.enter.prevent class="m_size longitude-input" v-model.number="center.longitude" type="text">
                    </div>
                </section>
                <section class="second bottom_10" v-if="!read_only">
                    <div class="search_box">
                        <span class="right_10 w_46">地域名</span> <input　@keydown.enter.prevent="geocodingAddress" class="map-search-input l_size right_10" :value="ensureToDoFuKenAddress" @input="setTemporaryAddress($event)" type="text">
                        <p class="button"><a class="s_size s_height btn_greeen" @click="geocodingAddress">検索</a></p>
                    </div>
                </section>
                <section class="btn">
                    <p class="button"><a class="mm_size l_height btn_gray l_font" @click="$emit('close')">閉じる</a></p>
                </section>
            </div>
            <div class="modal-overlay" @click="$emit('close')"></div>
        </div>
    </transition>
</template>
<script>
// The component
export default {
    props: {
        display: {
            type: Boolean,
            required: true,
        },
        lat: {
            required: true,
        },
        lng: {
            required: true,
        },
        read_only: {
            type: Boolean,
            required: true,
        },
        addr: {
            type: String,
            required: false,
            default: null,
        },
        todofukenId: {
            type: Number,
            required: false,
            default: null,
        },
    },
    data: function() {
        return {
            mapOptions: {
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: {lat: 34.400587, lng: 132.469515},
            },
            map: null,
            temporaryAddress: null,
            marker: null,
            map_size_class: null,
            map_wrapper_size_class: null,
            todofukenList: window.todofuken_list,

            // Needed for the geocoding
            apiKey : 'AIzaSyCTcCQSwQzudWCAhaAL2HAqtIp7V71_psA',
            sendingRequest: false,
        }
    },
    computed: {
        center: function() {
            return {
                latitude: parseFloat(this.lat) ? parseFloat(this.lat) : null,
                longitude: parseFloat(this.lng) ? parseFloat(this.lng) : null,
            }
        },
        ensureToDoFuKenAddress: {
            get: function() {
                // Notice here, we compare the temporaryAddress with 'null', NOT using the '!!' expression. And it's necessary to do that,
                // Or else we can't delete all the ensureToDoFuKenAddress(when we finish delete it, it will comeback up)
                return this.temporaryAddress != null ? this.temporaryAddress : this.getToDoFuKenJapaneseNameById(this.todofukenId) + this.addr;
            },
            set: function(newValue) {
                this.temporaryAddress = newValue;
            }
        },
    },
    methods: {
        initMap: function() {
            this.map = new google.maps.Map($(this.$el).find('.map-container')[0], this.mapOptions);


            this.marker = new google.maps.Marker({
              map: this.map,
              anchorPoint: new google.maps.Point(0, -29),
              draggable:true,
            });

            // can not drag the marker in read only mode
            if (this.read_only == true){
                this.marker.draggable = false;
            }
            // Add event for the marker
            this.marker.addListener('dragend', () => {
                this.center.latitude = this.marker.getPosition().lat();
                this.center.longitude = this.marker.getPosition().lng();
                this.$forceUpdate();
            });

            // Comment out the autocomplete. Because this behaviour is not desired at the moment

            // var input = $(this.$el).find('.map-search-input')[0];

            // var autocomplete = new google.maps.places.Autocomplete(input);

            // Re-declare this component so that it can be use by the closures
            // var component = this;

            // Add event for the autocomplete
            // autocomplete.addListener('place_changed', function() {
            //     marker.setVisible(false);
            //     var place = autocomplete.getPlace();
            //     if (!place.geometry) {
            //         // User entered the name of a Place that was not suggested and
            //         // pressed the Enter key, or the Place Details request failed.
            //         window.alert("No details available for input: '" + place.name + "'");
            //         return;
            //     }

            //     // If the place has a geometry, then present it on a map.
            //     if (place.geometry.viewport) {
            //         map.fitBounds(place.geometry.viewport);
            //     } else {
            //         map.setCenter(place.geometry.location);
            //     }
            //     marker.setPosition(place.geometry.location);
            //     marker.setVisible(true);

            //     // Change the latitude and longitude AND broadcast it to the form outside
            //     component.center.latitude = place.geometry.location.lat();
            //     component.center.longitude = place.geometry.location.lng();
            //     component.address = place.formatted_address;
            //     component.$forceUpdate();
            // });
        },
        updatePosition: function() {
            var newPosition = {lat: this.center.latitude, lng: this.center.longitude};
            this.marker.setPosition(newPosition);
            this.marker.setVisible(true);
            this.map.setCenter(newPosition);
            this.$emit('change-position', this.center.latitude, this.center.longitude);
        },

        // Geocoding, based on the current address
        geocodingAddress: function() {
            if (!this.sendingRequest) {
                this.sendingRequest = true;

                if (this.ensureToDoFuKenAddress !== null) {
                    this.marker.setVisible(false);
                    let url = 'https://maps.googleapis.com/maps/api/geocode/json?';
                    url = url + 'address=' + this.ensureToDoFuKenAddress + '&key=' + this.apiKey;

                    axios.get(encodeURI(url)).then(response => {
                        var location = response.data.results[0].geometry.location;
                        this.center.latitude = location.lat;
                        this.center.longitude = location.lng;
                        this.$forceUpdate();
                        this.changeParentTodofukenAndAddress(response.data.results[0]);
                        this.sendingRequest = false;
                    }).catch(error => {
                        if (error.response) {
                            console.log(error.response);
                        }
                        this.sendingRequest = false;
                    });
                }

            }
        },

        setTemporaryAddress: function(event) {
            this.ensureToDoFuKenAddress = event.target.value;
        },
        changeParentTodofukenAndAddress: function(data) {
            let currentAddress = this.ensureToDoFuKenAddress;
            let todofukenId = this.getToDoFuKenIdFromGoogleResponse(data);

            if (!!todofukenId) {
                let todofukenJapaneseName = this.getToDoFuKenJapaneseNameById(todofukenId);
                currentAddress = currentAddress.replace(todofukenJapaneseName, '');

                // console.log('todofuken: ' + todofukenId);
                this.$emit('change-todofuken', todofukenId);
            }

            // console.log('address: ' + currentAddress);
            this.$emit('change-address', currentAddress);
            // After call all the events, reset the temporaryAddress to null
            // so that the ensureToDoFuKenAddress can have the fresh value of those changes
            this.temporaryAddress = null;
        },
        getToDoFuKenJapaneseNameById: function(id) {
            if (!!id) {
                let trueId = parseInt(id);

                let result = _.find(this.todofukenList, (todofuken) => {
                    return todofuken['id'] == trueId;
                });

                return !!result ? result['name'] : '';
            } else {
                return '';
            }
        },
        getToDoFuKenIdFromGoogleResponse: function(data) {

            // Use both of these things to search, if it contains the unicode name, then ok.
            let addressComponent = _.find(data['address_components'], function(component) {
                // 'administrative_area_level_1' is Google's word for Japanese's ToDoFuKen
                return component.types[0] == 'administrative_area_level_1';
            });
            let compoundCode = data['plus_code'] ? data['plus_code']['compound_code'] : '';
            let stringToSearch = addressComponent['short_name'] + compoundCode;

            let result = _.find(this.todofukenList, (todofuken) => {
                return stringToSearch.includes(todofuken['unicode_name']);
            })

            // If there is no result, search again but this time search by the name of the todofuken, this mean we will search on the japanese names of the todofukens
            if (!result) {
                result = _.find(this.todofukenList, (todofuken) => {
                    return stringToSearch.includes(todofuken['name']);
                })
            }

            return !!result ? result['id'] : null;
        },
    },
    watch: {
        display: function(newValue) {
            if (!!newValue) {
                this.temporaryAddress = null;
            }
        },
    },
    mounted: function() {
        this.map_size_class = this.read_only ? "gmap_position" : "get_gmap_position";
        this.map_wrapper_size_class = this.read_only ? "gmap_wrapper" : "get_gmap_wrapper";
        this.initMap();
    },
    updated: function() {
        google.maps.event.trigger(this.map, "resize");
        if (this.center.latitude != null && this.center.longitude != null) {
            this.updatePosition();
        }
    }
}
</script>
