<template>
  <section>
    <section class="search_table">
      <table v-if="!displayWorkPlace">
        <tr class="short_height">
          <th class="s_14" colspan="1" rowspan="2">日付</th>
          <th class="s_4" rowspan="2"><p>勤務</p><p>形態</p></th>
          <th class="s_4" rowspan="2"><p>休暇</p><p>形態</p></th>
          <th class="s_12" colspan="2">出勤</th>
          <th class="s_12" colspan="2">退勤</th>
          <th class="s_4" rowspan="2">休憩</th>
          <th class="s_4" rowspan="2"><p>(内)</p><p>深休</p></th>
          <th class="s_4" rowspan="2">外出</th>
          <th class="s_5" rowspan="2">遅・早</th>
          <th class="s_14" colspan="3" rowspan="2">所定内+時間外＝総労働時間</th>
          <th rowspan="2">備考</th>
        </tr>
        <tr class="short_height">
          <th>打刻時刻</th>
          <th>計算時刻</th>
          <th>打刻時刻</th>
          <th>計算時刻</th>
        </tr>
        <template v-for="(workingDay, day) in workingDays">
          <template v-if="workingDay['data'].length == 0">
            <tr>
              <td>
                <span :class="dateClass(workingDay)">
                  {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                </span>
                <span v-if="snapshotDataOfMonth[day]['data'] && haveConsideringSnapshot(day)"><a class="btn_apply btn_yamabuki modal-open" @click="toggleApproverForm(day)">中</a></span>
                <span v-else-if="snapshotDataOfMonth[day]['data'] && !haveConsideringSnapshot(day)"><a class="btn_apply btn_black modal-open" @click="toggleApproverForm(day)">済</a></span>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="line_right_none s_4"></td>
              <td class="line_right_none s_4"></td>
              <td class="s_6"></td>
              <td></td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(workingInfo, index) in workingDay['data']">
              <tr>
                <td v-if="index == 0" :rowspan="workingDay['data'].length">
                  <span :class="dateClass(workingDay)">
                    {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                  </span>
                </td>
                <td :class="workingInfo['color_statuses']['work_status_id']['color']">{{ workingInfo['work_status_id'] ? allWorkStatuses[workingInfo['work_status_id']] : '' }}</td>
                <td :class="workingInfo['color_statuses']['rest_status_id']['color']">{{ workingInfo['rest_status_id'] ? allRestStatuses[workingInfo['rest_status_id']] : '' }}</td>
                <td :class="styleOfTimestampedStartWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_start_work_time']) }}</td>
                <td :class="workingInfo['color_statuses']['real_start_work_time']['color']">{{ reformatHourString(workingInfo['real_start_work_time']) }}</td>
                <td :class="styleOfTimestampedEndWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_end_work_time']) }}</td>
                <td :class="workingInfo['color_statuses']['real_end_work_time']['color']">{{ reformatHourString(workingInfo['real_end_work_time']) }}</td>
                <td :class="workingInfo['color_statuses']['real_break_time']['color']">{{ workingInfo['real_break_time'] }}</td>
                <td :class="workingInfo['color_statuses']['real_night_break_time']['color']">{{ workingInfo['real_night_break_time'] }}</td>
                <td :class="styleOfRealGoOutTime(workingInfo)">{{ workingInfo['real_go_out_time'] }}</td>
                <td :class="workingInfo['color_statuses']['real_total_late_and_leave_early']['color']">{{ workingInfo['real_total_late_and_leave_early'] }}</td>
                <td class="line_right_none s_4" :class="workingInfo['color_statuses']['real_work_span']['color']">{{ convertToHourMinute(workingInfo['real_work_span'], true) }}</td>
                <td class="line_right_none s_4" :class="workingInfo['color_statuses']['real_total_early_arrive_and_overtime']['color']">{{ convertToHourMinute(workingInfo['real_total_early_arrive_and_overtime']) }}</td>
                <td class="s_6" :class="workingInfo['color_statuses']['real_working_hour']['color']">{{ convertToHourMinute(workingInfo['real_working_hour'], true) }}</td>
                <td class="attendance_note" :class="workingInfo['color_statuses']['note']['color']">{{ truncateString(workingInfo['note']) }}</td>
              </tr>
            </template>
          </template>
        </template>
      </table>
      <table v-if="displayWorkPlace">
        <tr>
          <th class="s_14 normal_height">日付</th>
          <th>勤務先</th>
          <th class="s_5"><p>勤務</p><p>形態</p></th>
          <th class="s_5"><p>休暇</p><p>形態</p></th>
          <th class="s_5">出勤</th>
          <th class="s_5">退勤</th>
          <th class="s_4">休憩</th>
          <th class="s_4"><p>(内)</p><p>深休</p></th>
          <th class="s_4">外出</th>
          <th class="s_5">遅・早</th>
          <th class="s_8">総労働時間</th>
          <th class="s_20">備考</th>
        </tr>
        <template v-for="(workingDay, day) in workingDays">
          <template v-if="workingDay['data'].length == 0">
            <tr>
              <td>
                <span :class="dateClass(workingDay)">
                  {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                </span>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </template>
          <template v-else>
            <template v-for="(workingInfo, index) in workingDay['data']">
              <tr>
                <td v-if="index == 0" :rowspan="workingDay['data'].length">
                  <span :class="dateClass(workingDay)">
                    {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                  </span>
                </td>
                <td>
                  <template v-if="workingInfo['planned_work_address_id'] === null">
                    {{ (workingInfo['real_work_location_id'] !== null) ? workLocations[workingInfo['real_work_location_id']]['name'] : '' }}
                  </template>
                  <template v-else>
                    {{ (workingInfo['real_work_address_id'] !== null) ? workLocations[workingInfo['real_work_location_id']]['name'] + '&nbsp;&nbsp;&nbsp;&nbsp;' + workLocations[workingInfo['real_work_location_id']]['addresses'][workingInfo['real_work_address_id']] : '' }}
                  </template>
                </td>
                <td :class="workingInfo['color_statuses']['work_status_id']['color']">{{ workingInfo['work_status_id'] ? allWorkStatuses[workingInfo['work_status_id']] : '' }}</td>
                <td :class="workingInfo['color_statuses']['rest_status_id']['color']">{{ workingInfo['rest_status_id'] ? allRestStatuses[workingInfo['rest_status_id']] : '' }}</td>
                <td :class="styleOfTimestampedStartWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_start_work_time']) }}</td>
                <td :class="styleOfTimestampedEndWorkTime(workingInfo)">{{ reformatHourString(workingInfo['timestamped_end_work_time']) }}</td>
                <td :class="workingInfo['color_statuses']['real_break_time']['color']">{{ workingInfo['real_break_time'] }}</td>
                <td :class="workingInfo['color_statuses']['real_night_break_time']['color']">{{ workingInfo['real_night_break_time'] }}</td>
                <td :class="styleOfRealGoOutTime(workingInfo)">{{ workingInfo['real_go_out_time'] }}</td>
                <td :class="workingInfo['color_statuses']['real_total_late_and_leave_early']['color']">{{ workingInfo['real_total_late_and_leave_early'] }}</td>
                <td :class="workingInfo['color_statuses']['real_working_hour']['color']">{{ convertToHourMinute(workingInfo['real_working_hour'], true) }}</td>
                <td class="attendance_note"><span>{{ truncateString(workingInfo['note']) }}</span></td>
              </tr>
            </template>
          </template>
        </template>
      </table>
    </section>
  </section>
</template>
<script>
import Common from './working_month_tools.js';

export default {
  mixins: [Common],
  data: function() {
    return {
      employeeId: window.employee_id,
      businessMonth: window.business_month,
      workingDays: window.working_days,
      allWorkStatuses: window.all_work_statuses,
      allRestStatuses: window.all_rest_statuses,
      workLocations: window.work_locations,

      snapshotDataOfMonth: window.sinsei_data,
    }
  },
  props: {
    displayWorkPlace: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    truncateString: function(string) {
      let options = {
        'length': 14,
        'omission': '...',
      };
      return _.truncate(string, options);
    },

    styleOfTimestampedStartWorkTime: function(workingInfo) {
      let style = workingInfo['color_statuses']['timestamped_start_work_time']['color'];
      style = workingInfo['start_time_red_number'] == true ? style + ' red' : style;
      return style;
    },
    styleOfTimestampedEndWorkTime: function(workingInfo) {
      let style = workingInfo['color_statuses']['timestamped_end_work_time']['color'];
      style = workingInfo['end_time_red_number'] == true ? style + ' red' : style;
      return style;
    },
    styleOfRealGoOutTime: function(workingInfo) {
      let style = workingInfo['color_statuses']['real_go_out_time']['color'];
      style = workingInfo['go_out_red_number'] == true ? style + ' red' : style;
      return style;
    },

    asset: function(string) {
      return window.location.protocol + '//' + window.location.hostname + '/' + string;
    },
    haveConsideringSnapshot: function(day) {
        return this.snapshotDataOfMonth[day]['isHavingConsideringRequest'] ? true : false;
    },
  },
  created: function() {

  },
  components: {

  }
}
</script>