<template>
    <section v-show="display" class="without_planned_employee_popup_wrapper">
			<div class="attendance_shift_table without_planned_employee_popup">
				<section>
					<table>
						<tr>
							<!-- <th v-if="root['new'] != true" class="s_5"></th> -->
							<th class="s_10">従業員ID</th>
							<th class="s_14">従業員名</th>
							<th class="s_10">出勤打刻時刻</th>
							<th class="s_10">退勤打刻時刻</th>
						</tr>
						<template v-for="employee in list">
							<tr v-for="(pair, index) in employee['timestamps']">
								<!-- <td v-if="index == 0 && root['new'] != true" :rowspan="employee['timestamps'].length">
									<div class="check_onle_wrap">
										<label class="checkbox_box"><input type="checkbox" :value="employee['temporary_ewi_id']"></label>
									</div>
								</td> -->
								<td v-if="index == 0" :rowspan="employee['timestamps'].length">{{ employee['presentation_id'] }}</td>
								<td v-if="index == 0" :rowspan="employee['timestamps'].length">{{ employee['name'] }}</td>
								<td>{{ pair['timestamped_start_work_time'] | reformatTime }}</td>
								<td>{{ pair['timestamped_end_work_time'] | reformatTime }}</td>
							</tr>
						</template>
					</table>
					<section class="btn">
						<!-- <p class="button right_30 save_btn" v-if="root['new'] != true"><a class="m_size l_height btn_greeen l_font" href="#">保存</a></p> -->
						<p class="button right_30"><a class="modal-close m_size l_height btn_gray l_font" @click="close">キャンセル</a></p>
					</section>
				</section>
			</div>
			<div class="modal-overlay" v-cloak @click="close"></div>
		</section>
</template>
<script>

export default ({
    props: {
        list: {
            type: Array,
            required: true,
        },
        display: {
            type: Boolean,
            required: true,
        },
    },
    methods: {
        close: function() {
            this.$emit('close-pop-up');
        }
	},
	filters: {
        reformatTime: (value) => {
            let moment = window.moment(value, ['YYYY-MM-DD HH:mm:ss', 'HH:mm:ss'], true);
            return moment.isValid() ? moment.format('H:mm') : null;
        },
    },

})
</script>