<template>
    <section>
        <section class="approval_table">
            <table class="bottom_30">
                <tr>
                    <th class="s_6"></th>
                    <th class="s_6"><span class="red unit">※</span><span>出勤</span></th>
                    <th class="s_6"><span class="red unit">※</span><span>退勤</span></th>
                    <th class="s_6">必要人数</th>
                    <th class="s_12">備考</th>
                    <th class="s_10">変更ユーザ</th>
                    <th class="s_8"></th>
                </tr>
                <tr>
                    <td>所定</td>
                    <td>
                        <error-display v-if="canChangeData" :message="validationErrors.schedule_start_work_time">
                            <input class="ss_size" :value="computedScheduleStartWorkTime | reformatTime" type="text"
                                @keydown.enter = "updateAndReload('computedScheduleStartWorkTime', $event)"
                                @blur = "updateAndReload('computedScheduleStartWorkTime', $event)"
                                :disabled = "hasConcluedWorkingEmployee"
                            >
                        </error-display>
                        <span v-else>{{ computedScheduleStartWorkTime | reformatTime }}</span>
                    </td>
                    <td>
                        <error-display v-if="canChangeData" :message="validationErrors.schedule_end_work_time">
                            <input class="ss_size" :value="computedScheduleEndWorkTime | reformatTime" type="text"
                                @keydown.enter = "updateAndReload('computedScheduleEndWorkTime', $event)"
                                @blur = "updateAndReload('computedScheduleEndWorkTime', $event)"
                                :disabled = "hasConcluedWorkingEmployee"
                            >
                        </error-display>
                        <span v-else>{{ computedScheduleEndWorkTime | reformatTime }}</span>
                    </td>
                    <td>
                        <error-display v-if="canChangeData" :message="validationErrors.candidate_number">
                            <input class="ss_size" :value="computedCandidateNumber" type="text"
                                @keydown.enter = "updateAndReload('computedCandidateNumber', $event, false)"
                                @blur = "updateAndReload('computedCandidateNumber', $event, false)"
                            >
                            <!-- :disabled = "computedScheduleStartWorkTime !== null  ||  !canChange" -->
                        </error-display>
                        <span v-else>{{ computedCandidateNumber }}</span>
                    </td>
                    <td>
                        <textarea v-if="canChangeData" class="mm_size" v-model="computedNote"></textarea>
                        <p v-else>{{ computedNote }}</p>
                    </td>
                    <td>
                        <span>{{ computedManagerName }}</span>
                    </td>
                    <td>
                        <section v-if="canChangeData" class="unit td_height_space">
                            <p class="bottom_10"><span class="button"><a class="s_size s_height btn_greeen" @click="saveThisWorkingInfo">保存</a></span></p>
                            <p><span class="button"><a class="s_size s_height btn_gray" @click="cancelChanged">キャンセル</a></span></p>
                            <p class="bottom_10"><span class="button"><a class="s_size s_height btn_black" @click="deleteThisWorkingInfo">削除</a></span></p>
                        </section>
                    </td>
                </tr>
            </table>
        </section>
        <section class="select_one2">
            <section v-if="canChangeData" class="right_position">
                <a class="red attendance_shift_alert modal-open" v-if="withoutPlanEmployees.length > 0" @click="showWithoutPlanPopUp">予定のない打刻データが{{withoutPlanEmployees.length}}件あります</a>
                <p class="button"><a class="s_size s_height btn_blue left_10" @click="addWorkingEmployee">追加</a></p>
            </section>
            <section v-show="withoutPlannedPopupDisplay" class="without_planned_employee_popup_wrapper">
                <div class="attendance_shift_table without_planned_employee_popup">
                    <span class="red" v-if="alreadyFullWorkingEmployee()">※必要人数を満たしているため追加することができません</span>
                    <section>
                        <table>
                            <tr>
                                <th v-if="root['new'] != true" class="s_5"></th>
                                <th class="s_10">従業員ID</th>
                                <th class="s_14">従業員名</th>
                                <th class="s_10">出勤打刻時刻</th>
                                <th class="s_10">退勤打刻時刻</th>
                            </tr>
                            <template v-for="employee in withoutPlanEmployees">
                                <tr v-for="(pair, index) in employee['timestamps']">
                                    <td v-if="index == 0 && root['new'] != true" :rowspan="employee['timestamps'].length">
                                        <div v-if="!alreadyExistWorkingEmployeeWithWorkingConfirmTrue(employee['id']) && !alreadyFullWorkingEmployee()" class="check_onle_wrap">
                                            <label class="checkbox_box"><input type="checkbox" :value="employee['id']" v-model="chosenEmployeeWorkingInfos"></label>
                                        </div>
                                    </td>
                                    <td v-if="index == 0" :rowspan="employee['timestamps'].length">{{ employee['presentation_id'] }}</td>
                                    <td v-if="index == 0" :rowspan="employee['timestamps'].length">{{ employee['name'] }}</td>
                                    <td>{{ pair['timestamped_start_work_time'] | reformatTime }}</td>
                                    <td>{{ pair['timestamped_end_work_time'] | reformatTime }}</td>
                                </tr>
                            </template>
                        </table>
                        <section class="btn">
                            <p class="button right_30 save_btn" v-if="root['new'] != true"><a class="m_size l_height btn_greeen l_font" @click="sendChosenEmployees">保存</a></p>
                            <p class="button right_30"><a class="modal-close m_size l_height btn_gray l_font" @click="hideWithoutPlanPopUp">キャンセル</a></p>
                        </section>
                    </section>
                </div>
                <div class="modal-overlay" v-cloak @click="hideWithoutPlanPopUp"></div>
            </section>
        </section>
        <section class="approval_table">
            <table>
                <tr>
                    <th class="s_5"></th>
                    <th class="s_8">従業員ID</th>
                    <th class="s_10">従業員名</th>
                    <th class="s_8">休憩</th>
                    <th class="s_8">(内)深休</th>
                    <th class="s_8">勤務形態</th>
                    <th class="s_8">休暇形態</th>
                    <th class="s_8">出勤打刻時刻</th>
                    <th class="s_8">退勤打刻時刻</th>
                    <th></th>
                    <th class="s_8">変更ユーザ</th>
                    <th class="s_8"></th>
                    <th class="s_6"></th>
                </tr>
                <working-employee v-for="employee in workingEmployees" :key="employee['id']" :root="employee"
                    :success-request="successResult"
                    @save-working-employee="saveWorkingEmployee($event, employee)"
                    @save-all-working-employee="saveWorkingEmployee($event, employee, true)"
                    @toggle-working-confirm="toggleWorkingConfirm(employee['id'])"
                    @delete-working-employee="deleteWorkingEmployee(employee)"
                >
                </working-employee>
            </table>
        </section>
        <section v-if="canChangeData" class="btn">
			<p class="button right_30 save_btn"><a class="m_size l_height btn_greeen l_font" @click="submitAllWorkingEmployee">勤務者保存</a></p>
			<p class="button right_30"><a class="m_size l_height btn_gray l_font" @click="refreshPage">キャンセル</a></p>
        </section>
        <!--複数勤務の場合のみhrタグを利用-->
        <hr>
    </section>
</template>
<script>
import Hub from '../components/hub.js';
import Common from './working_info_tools.js';
import ErrorDisplay from './caeru_error_display';
import WorkingEmployee from './work_address_working_employee_component';

const hub = Hub;

export default {
    mixins: [Common],
    props: {
        root: {
            type: Object,
            required: true,
        },
        successRequest: {
            type: Boolean,
            required: false,
            default: true,
        },
        withoutPlanEmployees: {
            type: Array,
            required: false,
            default: [],
        },
    },
    computed: {
        computedScheduleStartWorkTime: {
            get: function() {
                return this.getFromRootOrChanged('schedule_start_work_time');
            },
            set: function(value) {
                if (value != '') {
                    let validValue = this.validateTimeFormat(value);
                    if (validValue != null && validValue != this.computedScheduleStartWorkTime) {
                        if (this.computedScheduleEndWorkTime) {
                            let momentStart = this.getMomentInstance(validValue);
                            let momentEnd = this.getMomentInstance(this.computedScheduleEndWorkTime);
                            momentEnd = (momentStart !== null) ? this.makeTheSecondOneBigger(momentStart, momentEnd) : momentEnd;

                            // When input START, it must satisfy: !( 1440 <= END - START <= 1440 + BREAK)
                            let notInvalidInterval = !( 1440 <= momentEnd.diff(momentStart, 'minutes') && momentEnd.diff(momentStart, 'minutes') <= 1440 + this.computedMaximumScheduleBreakTime);

                            if ((!this.computedMaximumScheduleBreakTime && !momentEnd.isSame(momentStart)) || ((this.computedMaximumScheduleBreakTime < momentEnd.diff(momentStart, 'minutes')) && notInvalidInterval)) {
                                this.changed['schedule_start_work_time'] = validValue;
                            }
                        } else {
                            this.changed['schedule_start_work_time'] = validValue;
                        }
                    }
                }
            }
        },
        computedScheduleEndWorkTime: {
            get: function() {
                return this.getFromRootOrChanged('schedule_end_work_time');
            },
            set: function(value) {
                if (value != '') {
                    let validValue = this.validateTimeFormat(value);
                    if (validValue != null ) {
                        let momentEnd = this.getMomentInstance(validValue);
                        let momentStart = this.getMomentInstance(this.computedScheduleStartWorkTime);
                        momentEnd = (momentStart !== null) ?this.makeTheSecondOneBigger(momentStart, momentEnd) : momentEnd;

                        if (momentEnd.format('YYYY-MM-DD HH:mm:ss') !== this.computedScheduleEndWorkTime) {
                            if ((!this.computedMaximumScheduleBreakTime && !momentEnd.isSame(momentStart)) || this.computedMaximumScheduleBreakTime < momentEnd.diff(momentStart, 'minutes')) {
                                this.changed['schedule_end_work_time'] = momentEnd.format('YYYY-MM-DD HH:mm:ss');
                            }
                        }
                    }
                }
            }
        },
        computedCandidateNumber: {
            get: function() {
                return this.getFromRootOrChanged('candidate_number');
            },
            set: function(value) {
                let validValue = this.validateNumber(value, false);
                if (validValue != null && validValue != this.computedCandidateNumber) {
                    this.changed['candidate_number'] = validValue
                }
            }
        },
        computedNote: {
            get: function() {
                return this.getFromRootOrChanged('note');
            },
            set: function(value) {
                this.changed['note'] = value;
            }
        },

        computedManagerName: function() {
            return this.managerNames[this.root.modified_manager_id];
        },
        computedMaximumScheduleBreakTime: function() {
            let max = 0;
            _.forEach(this.root.work_address_working_employees, (working_employee) => {
                max = (working_employee.schedule_break_time >= max) ? working_employee.schedule_break_time : max;
            })
            return max;
        },
        // scheduleModified: function() {
        //     return this.changed['schedule_start_work_time'] != null || this.changed['schedule_end_work_time'] != null || this.changed['candidate_number'] != null || this.changed['note'] != null;
        // },
    },
    data: function() {
        return {
            changed: {
                schedule_start_work_time: null,
                schedule_end_work_time: null,
                candidate_number: null,
                note: null,
            },
            managerNames: window.manager_names,
            canChangeData: window.can_change_data,

            // WorkAddressWorkingEmployee part
            workingEmployees: [],
            sendingRequest: false,
            successResult:  true,
            validationErrors: {},
            newWorkingEmployeeCounter: 0,
            hasConcluedWorkingEmployee: false,

            withoutPlannedPopupDisplay: false,
            chosenEmployeeWorkingInfos: [], // EmployeeWorkingInformations of employees, who timestamped without plan, to be added to this WorkAddressWorkingInformation

            // Some constants
            consts: {
                // These are the constants of RestStatus and WorkStatus models
                work: {
                    KEKKIN    : 1,
                    FURIKYUU  : 2,
                    FURIDE    : 3,
                    HOUDE     : 4,
                    KYUUDE    : 5,
                    ZANGYOU   : 6,
                },
                rest: {
                    YUUKYU_1      : 1,
                    YUUKYU_2      : 2,
                    ZENKYUU_1     : 3,
                    ZENKYUU_2     : 4,
                    GOKYUU_1      : 5,
                    GOKYUU_2      : 6,
                    JIYUU         : 7,
                    HANKYUU_1     : 8,
                    HANKYUU_2     : 9,
                },

                // These are the constants of CalendarRestDay model
                calendar_rest_days: {
                    LAW_BASED_REST_DAY  : 1,
                    NORMAL_REST_DAY     : 2,
                    NOT_A_REST_DAY      : 0,
                }
            },
        }
    },
    methods: {
        // WorkAddressWorkingInformation relating stuffs
        saveThisWorkingInfo: function() {
            if (!_.every(this.changed, (item) => {return item == null;})) {
                // reset validation errors
                this.validationErrors = {};

                let data = {};
                data['schedule_start_work_time'] = this.computedScheduleStartWorkTime;
                data['schedule_end_work_time'] = this.computedScheduleEndWorkTime;
                data['candidate_number'] = this.computedCandidateNumber;
                data['note'] = this.computedNote;
                data['schedule_start_work_time_changed'] = this.changed['schedule_start_work_time'];
                data['schedule_end_work_time_changed'] = this.changed['schedule_end_work_time'];
                data['candidate_number_changed'] = this.changed['candidate_number'];

                // data['note'] = this.changed['note'];
                this.$emit('save-working-info', data);
            }
        },

        cancelChanged: function() {
            this.clearChangedData();
            this.validationErrors = {};
        },

        deleteThisWorkingInfo: function() {
            let workingEmployeeWithTimestamps = _.find(this.workingEmployees, (employee) => {
                return employee['timestamps_exist_or_not'] == true;
            });

            if (!workingEmployeeWithTimestamps) {
                this.$emit('delete-working-info');
            }
        },

        clearChangedData: function() {
            _.forEach(this.changed, (item, key) => {
                this.changed[key] = null;
            });
        },
        showError: function(returnedErrors) {
            if (returnedErrors != null) {
                for (var key in returnedErrors) {
                    this.errors[key] = returnedErrors[key][0];
                }
            } else {
                for (var key in this.errors) {
                    this.errors[key] = null;
                }
            }
        },

        // WorkAddressWorkingEmployee relating stuffs
        addWorkingEmployee: function() {
            if (this.alreadyFullWorkingEmployee()) {
                alert('現在、必要人数を満たしています。人を追加できません。');
            } else {
                let temporaryId = 'new' + this.newWorkingEmployeeCounter;
                let newWorkingEmployee = {
                    id: temporaryId,
                    new: true,
                    employee_id: null,
                    working_confirm: true,
                    schedule_break_time: null,
                    schedule_night_break_time: null,
                    modified_manager_id: null,
                }
                this.workingEmployees.unshift(newWorkingEmployee);
                this.newWorkingEmployeeCounter++;
            }
        },
        numberOfWorkingEmployee: function() {
            return _.filter(this.workingEmployees, (employee) => {
                    return  employee['working_confirm'] == true &&
                            employee['planned_work_status_id'] != this.consts.work.KEKKIN &&
                            employee['planned_work_status_id'] != this.consts.work.FURIKYUU &&
                            // Since work address working employees are only capable of having rest status with unit type 'day', so this part of the conditions
                            // only need to be different from null
                            !employee['planned_rest_status_id'];}

                ).length;
        },
        alreadyFullWorkingEmployee: function() {
            return this.numberOfWorkingEmployee() >= this.root['candidate_number'];
        },
        saveWorkingEmployee: function(data, employee, sendMultiRequest = false) {
            if (sendMultiRequest || (this.sendingRequest == false)) {
                this.sendingRequest = true;

                let url = employee.new ? '/work_address_working_employee' : '/work_address_working_employee/' + employee.id;

                if (employee.new) {
                    data['work_address_working_information_id'] = this.root['id'];
                }

                axios.post($.companyCodeIncludedUrl(url), data).then((response) => {
                    document.caeru_alert('success', response.data['success']);
                    this.updateWorkingEmployeeData(employee.id, response.data['data']);
                    this.distributeValidationErrors(employee.id, null);
                    this.sendingRequest = false;
                    this.successResult = true;

                }).catch((error) => {
                    if (error.response) {
                        document.caeru_alert('error', error.response.data['error'], 2000);
                        this.distributeValidationErrors(employee.id, data, error.response.data);
                    }
                    this.sendingRequest = false;
                    this.successResult = false;
                });
            }
        },
        deleteWorkingEmployee: function(employee) {
            if (!!employee.new && employee.new == true) {
                this.removeFromTheWorkingEmployeesList(employee);
            } else {
                if (employee.working_confirm == false) {
                    if (this.sendingRequest == false) {
                        this.sendingRequest = true;
                        let url = '/work_address_working_employee/' + employee.id;

                        axios.delete($.companyCodeIncludedUrl(url)).then((response) => {
                            document.caeru_alert('success', response.data['success']);
                            this.removeFromTheWorkingEmployeesList(employee);
                            this.sendingRequest = false;
                        }).catch((error) => {
                            if (error.response) {
                                document.caeru_alert('error', error.response.data['error'], 2000);
                            }
                            this.sendingRequest = false;
                        })
                    }

                } else {
                    alert('削除することができません。削除するためには、勤務形態、休暇形態、打刻の削除を行った後で勤務のチェックを外してください。');
                }
            }
        },
        removeFromTheWorkingEmployeesList: function(employee) {
            let index = _.findIndex(this.workingEmployees, (e) => {
                return e.id === employee.id;
            })
            if (index != -1) this.workingEmployees.splice(index, 1);
        },
        toggleWorkingConfirm: function(id) {
            if (this.sendingRequest == false) {
                this.sendingRequest = true;

                // If when there are validation errors in the update form, and then the user click the checkbox, we should toggle the successResult back to on
                // so that when the work_address_working_employee receive the new data, it clear the changed data(which is currently having validation errors).
                this.successResult = (this.successResult == false) ? true : this.successResult;

                let url = '/work_address_working_employee/' + id;

                axios.patch($.companyCodeIncludedUrl(url)).then((response) => {
                    document.caeru_alert('success', response.data['success']);
                    this.updateWorkingEmployeeData(id, response.data['data']);
                    this.distributeValidationErrors(id, null);
                    this.sendingRequest = false;

                }).catch((error) => {
                    if (error.response) {
                        document.caeru_alert('error', error.response.data['error'], 2000);
                        // this.distributeValidationErrors(id, data, error.response.data);
                    }
                    this.sendingRequest = false;
                    document.location.reload();
                });
            }
        },
        // Assign given data to specific WorkAddressWorkingEmployee
        updateWorkingEmployeeData: function(id, data) {
            let index = _.findIndex(this.workingEmployees, (employee) => {
                return employee.id == id;
            })

            if (index != -1) {
                _.forEach(data, (value, key) => {
                    this.workingEmployees[index][key] = value;
                });

                if (this.workingEmployees[index]['new'] && this.workingEmployees[index]['new'] == true) this.workingEmployees[index]['new'] = false;
            }
        },
        // Assign validation errors into the WorkAddressWorkingInformation data so that they can be rendered by their components
        distributeValidationErrors: function(id, data, returnedErrors) {
            let index = _.findIndex(this.workingEmployees, (info) => {
                return info.id == id;
            })
            if (index != -1) {
                this.$set(this.workingEmployees[index], 'errors', returnedErrors ? returnedErrors : null);
            }
        },

        // The two buttons at the bottom
        refreshPage: function() {
            window.location.reload();
        },
        submitAllWorkingEmployee: function() {
            hub.$emit('submit-all-working-employee');
        },

        showWithoutPlanPopUp: function() {
            this.withoutPlannedPopupDisplay = true;
        },
        hideWithoutPlanPopUp: function() {
            this.withoutPlannedPopupDisplay = false;
        },
        sendChosenEmployees: function() {
            if (this.sendingRequest == false && this.root['new'] != true && this.chosenEmployeeWorkingInfos.length != 0) {
                this.sendingRequest = true;

                let url = "/add_employee_without_plan_to_work_address_working_information/" + this.root['id'];
                let data = {
                    employee_ids: this.chosenEmployeeWorkingInfos,
                };

                axios.post($.companyCodeIncludedUrl(url), data).then((response) => {
                    document.caeru_alert('success', response.data['success']);
                    this.sendingRequest = false;
                    document.location.reload();
                }).catch((error) => {
                    if (error.response) {
                        document.caeru_alert('error', error.response.data['error'], 2000);
                    }
                    this.sendingRequest = false;
                    document.location.reload();
                });
            }
        },
        alreadyExistWorkingEmployeeWithWorkingConfirmTrue: function(employeeId) {
            let exist = _.find(this.workingEmployees, (employee) => {
                return employee['employee_id'] == employeeId && employee['working_confirm'] == true;
            });

            return !!exist;
        },
    },
    created: function() {
        this.workingEmployees = this.root.work_address_working_employees;
        // check for conclued working employee
        this.hasConcluedWorkingEmployee = !_.every(this.workingEmployees, (employee) => {
            return !employee.employee_working_day.concluded_level_one && !employee.employee_working_day.concluded_level_two;
        });
    },
    watch: {
        computedScheduleStartWorkTime: function() {
            this.computedScheduleEndWorkTime = (this.computedScheduleEndWorkTime !== null) ? moment(this.computedScheduleEndWorkTime).format('HH:mm:ss') : null;
        },
        root: {
            handler: function() {
                if (this.successRequest) {
                    this.clearChangedData();
                }

                if (this.root['errors']) {
                    _.forEach(this.root['errors'], (errors, key) => {
                        this.$set(this.validationErrors, key, errors[0]);
                    })
                } else {
                    this.validationErrors = {};
                }
            },
            deep: true,
        },
    },
    components: {
        'error-display': ErrorDisplay,
        'working-employee': WorkingEmployee,
    },
}
</script>