<template>
    <section>
        <section class="search_box_wrapper">
            <div class="search_box_innner2">
                <div>
                    <div class="search_setting">
                        <span class="right_10">従業員ID</span><input class="s_size" v-model="searchConditions['employeeId']" type="text">
                    </div>
                    <div class="search_setting">
                        <span class="right_10">従業員名</span>
                        <input class="vue_place_holder m_size" v-cloak type="text">
                        <autocomplete custom-class="m_size" :suggestions="employeeNames" :allow-approx ="true"
                            :initial-value="searchConditions['employeeName']"
                            @selected="employeeNameSelected"
                            @changed="employeeNameChanged">
                        </autocomplete>
                    </div>
                    <div class="search_setting">
                        <span class="right_10 left">訪問先名</span>
                        <input class="vue_place_holder mm_size" v-cloak type="text">
                        <autocomplete custom-class="m_size" :suggestions="workAddressNames" :allow-approx ="true"
                            :initial-value="searchConditions['workAddressName']"
                            @selected="workAddressSelected"
                            @changed="workAddressChanged">
                        </autocomplete>
                    </div>
                    <div class="button bottom_10 search_setting right_10">
                        <a class="s_size s_height btn_greeen" @click="submitSearch">検索</a>
                    </div>
                    <div class="button bottom_10 search_setting">
                        <a class="s_size s_height btn_gray" @click="resetSearchConditions">リセット</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="select_one">
            <section class="select_one_inner">
                <section class="right_10"><a @click="previousWeek"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_left2.svg')"></a></section>
                <section class="right_30"><a @click="previousDay"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_left1.svg')"></a></section>
                <section class="right_10"><input class="s_size" v-model="anchorDate" type="text"></section>
                <section class="right_10"><a class="modal-open" @click="toggleDatePicker"><img class="ico_ico_arrow" :src="asset('images/ico_calendar.svg')"></a></section>
                <section class="caeru_date_picker_wrapper" v-show="showDatePicker">
                    <calendar class="normal_date_picker" v-bind="datePickerOptions" :editable="false"
                        @change-current-time="datePickerChangeTime"
                        @date-picker-cancel="toggleDatePicker"
                        @day-chose="anchorDateChanged">
                    </calendar>
                    <div class="modal-overlay" v-cloak @click="toggleDatePicker"></div>
                </section>
                <section class="right_10 ll_font">から</section>
                <section class="button right_30"><a class="ss_size s_height btn_greeen" @click="goToThatDay">表示</a></section>
                <section class="right_10"><a @click="nextDay"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_right1.svg')"></a></section>
                <section><a @click="nextWeek"><img class="ico_ico_arrow" :src="asset('images/ico_arrow_right2.svg')"></a></section>
            </section>
            <section class="left_position">
                <div class="left right_10 description_correction description_text">修正</div>
                <div class="left right_10 description_no_assignment description_text">未配属</div>
            </section>
        </section>
        <!-- 予定リスト -->
        <!-- <div class="work_info_table sticky_header_attendance_table "> -->
        <div class="work_info_table sticky_table sticky_header_attendance_table">
            <!-- fake fixed header -->
            <!-- <table class="fake_table_header_row">
                <tr>
                    <th class="fake_table_header_row_first_cell" rowspan="2">
                        <div class="mm_size">予定</div>
                    </th>
                    <th v-for="day in dayList" :key="day['date']" colspan="5" class="bold_line">
                        <span :class="dayClass(day)">{{dayString(day)}}</span>
                    </th>
                </tr>
                <tr>
                    <template v-for="day in dayList">
                        <th class="bottom_border_thicker"><p class="ss_size">出勤</p></th>
                        <th class="bottom_border_thicker"><p class="ss_size">退勤</p></th>
                        <th class="bottom_border_thicker"><p class="ss_size">必要人数</p></th>
                        <th class="bottom_border_thicker"><p class="mm_size">従業員名</p></th>
                        <th class="bold_line bottom_border_thicker"><p class="s_size"></p></th>
                    </template>
                </tr>
            </table> -->

            <!-- real table -->
            <table class="true_table" @scroll="fetchDataWhileScrolling">
                <tbody class="true_table_body">
                    <tr>
                        <th rowspan="2" class="l_space">
                            <div class="mm_size">予定</div>
                        </th>
                        <th v-for="day in dayList" :key="day['date']" colspan="5" class="bold_line">
                            <span :class="dayClass(day)">{{dayString(day)}}</span>
                        </th>
                    </tr>
                    <tr>
                        <template v-for="day in dayList">
                            <th class="fixed_row_second"><p class="ss_size">出勤</p></th>
                            <th class="fixed_row_second"><p class="ss_size">退勤</p></th>
                            <th class="fixed_row_second"><p class="ss_size">必要人数</p></th>
                            <th class="fixed_row_second"><p class="mm_size">従業員名</p></th>
                            <th class="bold_line fixed_row_second"><p class="work_address_s_size"></p></th>
                        </template>
                    </tr>
                    <!-- <template v-for="workAddress in workAddressData">
                        <tr v-if="!!workAddress['work_location_label'] && workAddress['work_location_label'] == true">
                            <td class="visit_place bg_white fixed_column_header" >{{ workAddress['work_location_name'] }}</td>
                            <td v-for="day in dayList" colspan="5" class="bold_line"></td>
                        </tr>
                        <template v-else v-for="lineIndex in workAddress['max_lines']">
                            <tr>
                                <td v-if="lineIndex == 1" class="bg_gray fixed_column_header" :rowspan="workAddress['max_lines']">
                                    <a :href="urlToWorkingMonthPage(workAddress)"><p>{{ workAddress['presentation_id'] }}</p><p>{{ workAddress['name'] }}</p></a>
                                </td>
                                <template v-for="(workingDay, dayString) in workAddress['data']">
                                    <template v-if="workingDay.length == 0">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="bold_line" v-if="lineIndex == 1" :rowspan="workAddress['max_lines']">
                                            <p class="button"><a class="ss_size s_height btn_gray" :href="urlToWorkingDayPage(workAddress, dayString)">訪問</a></p>
                                        </td>
                                    </template>
                                    <template v-else>
                                        <td :class="{ 'bg_revised' : workingDay[lineIndex-1]['start_work_time_modified'] }">{{ reformatHourString(workingDay[lineIndex-1]['start_work_time']) }}</td>
                                        <td :class="{ 'bg_revised' : workingDay[lineIndex-1]['end_work_time_modified'] }">{{ reformatHourString(workingDay[lineIndex-1]['end_work_time']) }}</td>
                                        <td :class="(workingDay[lineIndex-1]['candidate_number_mismatched'] ? 'bg_no_assignment' : (workingDay[lineIndex-1]['candidate_number_modified'] ? 'bg_revised' : ''))">{{ workingDay[lineIndex-1]['candidate_number'] }}</td>
                                        <td>
                                            <p v-for="employee in workingDay[lineIndex-1]['employees']" :key="employee['id']" class="right_10 left_10 side_input_block">{{ employee['name'] }}</p>
                                        </td>
                                        <td class="bold_line" v-if="lineIndex == 1" :rowspan="workAddress['max_lines']">
                                            <p class="button"><a class="ss_size s_height btn_gray" :href="urlToWorkingDayPage(workAddress, dayString)">訪問</a></p>
                                        </td>
                                    </template>
                                </template>
                            </tr>
                        </template>
                    </template> -->
                    <tr id='last_row_anchor'></tr>
                </tbody>
            </table>
            <div class="bottom_loader_container">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </section>
</template>
<script>
import Hub from '../components/hub.js';
import Autocomplete from '../components/caeru_autocomplete';
import Calendar from '../components/caeru_calendar.vue';
import Common from './attendance_table_tools.js';
import DualFixedHeadersTools from './fixed_header_and_pagination_tools';

// Event hub
const hub = Hub;

export default {
    mixins: [Common, DualFixedHeadersTools],
    data: function() {
        return {
            anchorDate: window.anchor_date,
            searchHistory: window.search_hitory,
            // dayList: window.day_list,
            // workAddressData: window.work_address_data,
            // firstTableSet: window.first_table_set,

            // Block multiple requests
            sendingRequest: false,

            searchConditions: {
                'employeeId': null,
                'employeeName': null,
                'workAddressName': null,
            },
            defaultSearchConditions: {
                'employeeId': null,
                'employeeName': null,
                'workAddressName': null,
            },

            // Autocomplete fields
            employeeNames: window.employee_names,
            workAddressNames: window.work_address_names,
        };
    },
    methods: {
        // dayClass: function(day) {
        //     switch (day['dow']) {
        //         case 0:
        //             return 'sunday';
        //         case 6:
        //             return 'saturday';
        //         default:
        //             return '';
        //     }
        // },
        // dayString: function(day) {
        //     let date = moment(day['date']);

        //     return (date.month()+1) + '月' + date.date() + '日' + '（' + this.japaneseDayOfWeek(date.day()) + '）'
        // },
        // japaneseDayOfWeek: function(dayIndex) {
        //     switch (dayIndex) {
        //         case 0:
        //             return '日';
        //         case 1:
        //             return '月';
        //         case 2:
        //             return '火';
        //         case 3:
        //             return '水';
        //         case 4:
        //             return '木';
        //         case 5:
        //             return '金';
        //         case 6:
        //             return '土';
        //         default:
        //             return null;
        //     }
        // },
        asset: function(string) {
            return window.location.protocol + '//' + window.location.hostname + '/' + string;
        },
        reformatHourString: function(hourString) {
            let momentHour = moment(hourString);
            if (momentHour.isValid()) {
                return momentHour.format('HH:mm');
            }
        },
        urlToWorkingDayPage: function(workAddress, dayString) {
            let url = '/work_address_working_day/' + workAddress['id'] + '/' + dayString;
            return $.companyCodeIncludedUrl(url);
        },
        urlToWorkingMonthPage: function(workAddress) {
            let url = '/work_address_working_month/' + workAddress['id'];
            return $.companyCodeIncludedUrl(url);
        },

        // Search box area
        employeeNameSelected: function(id) {
            this.searchConditions['employeeName'] = this.employeeNames[id].name;
        },
        employeeNameChanged: function(value) {
            this.searchConditions['employeeName'] = value;
        },
        workAddressSelected: function(id) {
            this.searchConditions['workAddressName'] = this.workAddressNames[id].name;
        },
        workAddressChanged: function(value) {
            this.searchConditions['workAddressName'] = value;
        },
        submitSearch: function() {
            let url = '/work_address_attendance_search';
            let data = {
                'anchor_date': this.anchorDate,
                'employee_presentation_id': this.searchConditions['employeeId'],
                'employee_name': this.searchConditions['employeeName'],
                'work_address_name': this.searchConditions['workAddressName'],
            }

            this.sendRequest(url, data);
        },
        resetSearchConditions: function() {
            Object.assign(this.searchConditions, this.defaultSearchConditions);
            hub.$emit('reset-autocomplete');
        },


        // The actual function to send request
        sendRequest: function(url, conditions) {
            if (this.sendingRequest == false) {
                // Block multiple request
                this.sendingRequest = true;

                axios.post($.companyCodeIncludedUrl(url), conditions)
                .then(response => {
                    // update date navigation information
                    this.anchorDate = response.data.anchor_date;
                    this.dayList = response.data.day_list;

                    // scrollPaginator's stuffs
                    if (!!response.data.scroll_pagination_info) {
                        // Set the setting of the scrollPaginator
                        this.currentPage = response.data.scroll_pagination_info['current_page'];
                        this.canLoadPreviousData = response.data.scroll_pagination_info['can_load_previous_data'];
                        this.canLoadNextData = response.data.scroll_pagination_info['can_load_next_data'];
                    }
                    // Modify the true data table
                    this.clearTheTrueTable();
                    this.setTheTableSetTemplateIntoTheTrueTable(response.data.table_set);

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                })
                .catch(error => {
                    if (error.response) {
                        document.caeru_alert('error', '');
                    }

                    // Reset blocking multiple request
                    this.sendingRequest = false;
                });

            }
        },

        // We have to implement this method to use the date picker in the Common mixin
        getDataBydate: function(data) {
            let url = '/work_address_attendance_by_date';
            this.sendRequest(url, data);
        },

        // This function below is scrollPaginator's data fetcher
        fetchDataWhileScrolling: _.throttle(function() {
            // let viewportHeight = $('.sticky_header_attendance_table ').innerHeight();
            let tableHeight = $('.sticky_table  .true_table .true_table_body').innerHeight();
            let top = $('.true_table ').scrollTop();

            // console.log(top + viewportHeight);
            // console.log(top);
            // console.log(viewportHeight);
            // console.log(tableHeight);
            // 900 is because we have to send the request before the scroll reach the very bottom(to increase UX)
            if (top > tableHeight - 1200) {
                if (this.canLoadNextData == true) {
                    let url = '/work_address_attendance_scroll/' + (this.currentPage + 1);
                    this.sendRequestToGetAnotherPageOfData(url);
                }
            }
        }, 100),
    },
    created: function() {
        // Reapply the search history if exist
        if (this.searchHistory !== null) {
            this.anchorDate = this.searchHistory['anchor_date'];
            this.searchConditions['employeeId'] = this.searchHistory['employee_presentation_id'];
            this.searchConditions['employeeName'] = this.searchHistory['employee_name'];
            this.searchConditions['workAddressName'] = this.searchHistory['work_address_name'];
        }
    },
    mounted: function() {

        // Update 2019-02-01: now we will fetch the table AFTER the component is first mounted, instead of receiving the firstTableSet (to increase visual feedback).
        // this.setTheTableSetTemplateIntoTheTrueTable(this.firstTableSet);
        this.submitSearch();
        this.setUpTheDualFixedTableHeadersStructure();
    },
    components: {
        calendar: Calendar,
        autocomplete: Autocomplete,
    },
}
</script>

