<template>
    <tr>
        <td>
            <div class="check_onle_wrap">
                <label class="checkbox_box">
                    <input id="workingConfirmCheckbox" type="checkbox" :checked="computedWorkingConfirm == true" @change="toggleWorkingConfirm"
                        :disabled="!!computedPlannedWorkStatusId || !!computedPlannedRestStatusId || !!computedTimestampsExistOrNot || concluded || !canChangeData"
                    >
                </label>
            </div>
        </td>
        <td v-if="currentEmployee == null">
            <input class="s_size vue_place_holder" type="text" v-cloak>
            <error-display v-if="canChangeData" :message="validationErrors.employee_id">
                <autocomplete :suggestions="employeeNames" custom-class="s_size" :linked="true" :allow-null="false"
                    :initial-id="currentEmployeeIndex"
                    :current-id="currentEmployeeIndex"
                    filtered-field-name="presentation_id"
                    @selected="currentEmployeeSelected"
                ></autocomplete>
            </error-display>
        </td>
        <td v-else>{{ computedPresentationId }}</td>
        <td v-if="currentEmployee == null">
            <input class="m_size vue_place_holder" type="text" v-cloak>
            <error-display v-if="canChangeData" :message="validationErrors.employee_id">
                <autocomplete :suggestions="employeeNames" custom-class="m_size" :linked="true" :allow-null="false"
                    :initial-id="currentEmployeeIndex"
                    :current-id="currentEmployeeIndex"
                    @selected="currentEmployeeSelected"
                ></autocomplete>
            </error-display>
        </td>
        <td v-else>{{ computedName }}</td>
        <td>
            <error-display v-if="canChangeData" :message="validationErrors.schedule_break_time">
                <input class="ss_size" :value="computedScheduleBreakTime" type="text"
                    @keydown.enter = "updateAndReload('computedScheduleBreakTime', $event, false)"
                    @blur = "updateAndReload('computedScheduleBreakTime', $event, false)"
                    :disabled="concluded || !computedWorkingConfirm"
                >
            </error-display>
            <span v-else>{{ computedScheduleBreakTime }}</span>
        </td>
        <td>
            <input class="ss_size" v-if="canChangeData" :value="computedScheduleNightBreakTime" type="text"
                @keydown.enter = "updateAndReload('computedScheduleNightBreakTime', $event, false)"
                @blur = "updateAndReload('computedScheduleNightBreakTime', $event, false)"
                :disabled="concluded || !computedWorkingConfirm"
            >
            <span v-else>{{ computedScheduleNightBreakTime }}</span>
        </td>
        <td>
            <select v-if="canChangeData" class="ss_size" v-model="computedPlannedWorkStatusId" :disabled="concluded || !computedWorkingConfirm">
                <option value=""></option>
                <option v-for="(workStatus, id) in workStatusNames" :value="id" :disabled="disableThisWorkStatusOrNot(id)" :key="id" >{{ workStatus }}</option>
            </select>
            <span v-else>{{ computedPlannedWorkStatusName }}</span>
        </td>
        <td>
            <select v-if="canChangeData" class="ss_size" v-model="computedPlannedRestStatusId" :disabled="disableRestStatusSelectBoxOrNot() || concluded || !computedWorkingConfirm">
                <option value=""></option>
                <option v-for="(restStatus, id) in restStatusNames" :value="id" :key="id">{{ restStatus }}</option>
            </select>
            <span v-else>{{ computedPlannedRestStatusName }}</span>
        </td>
        <td><span>{{ computedTimestampedStartWorkTime | reformatTime}}</span></td>
        <td><span>{{ computedTimestampedEndWorkTime | reformatTime}}</span></td>
        <td>
            <img v-if="levelTwoConcluded" class="check_red ico_ico_arrow4" :src="asset('images/ico_check_red.svg')">
            <img v-else-if="levelOneConcluded" class="check_blue ico_ico_arrow4" :src="asset('images/ico_check_blue.svg')">
        </td>
        <td>
            {{ computedManagerName }}
        </td>
        <td class="td_height_space">
            <section v-if="canChangeData" class="unit">
                <p class="bottom_10"><span class="button"><a class="s_size s_height btn_greeen" @click="saveThisWorkingEmployee">保存</a></span></p>
                <p class="bottom_10"><span class="button"><a class="s_size s_height btn_black" @click="deleteThisWorkingEmployee">削除</a></span></p>
                <p><span class="button"><a class="s_size s_height btn_gray" @click="cancelChanged">キャンセル</a></span></p>
            </section>
        </td>
        <td>
            <p v-if="canViewEmployeeWorkingDay && !root.new" class="button"><a class="ss_size s_height btn_gray" :href="goToEmployeeWorkingDayUrl()">変更</a></p>
        </td>
    </tr>
</template>
<script>
import Hub from '../components/hub.js';
import Common from './working_info_tools.js';
import ErrorDisplay from './caeru_error_display';
import Autocomplete from '../components/caeru_autocomplete';

const hub = Hub;

export default {
    mixins: [Common],
    props: {
        root: {
            type: Object,
            required: true,
        },
        successRequest: {
            type: Boolean,
            required: false,
            default: true,
        },
    },
    data: function() {
        return {
            changed: {
                working_confirm: null,
                schedule_break_time: null,
                schedule_night_break_time: null,
                planned_work_status_id: null,
                planned_rest_status_id: null,
            },
            managerNames: window.manager_names,
            employeeNames: window.employee_names,
            workStatusNames: window.work_status_names,
            restStatusNames: window.rest_status_names,
            currentEmployeeId: null,
            sendingRequest: false,
            validationErrors: {},
            currentDate: window.current_date,
            canChangeData: window.can_change_data,
            canViewEmployeeWorkingDay: window.can_view_employee_working_day,

            // constant that mark empty value
            NUM_EMPTY: -1,

            // Some predefined constant
            consts: {
                // These are the constants of RestStatus and WorkStatus models
                work: {
                    KEKKIN    : 1,
                    FURIKYUU  : 2,
                    FURIDE    : 3,
                    HOUDE     : 4,
                    KYUUDE    : 5,
                    // ZANGYOU   : 6,
                },
                rest: {
                    YUUKYU_1      : 1,
                    YUUKYU_2      : 2,
                    // ZENKYUU_1     : 3,
                    // ZENKYUU_2     : 4,
                    // GOKYUU_1      : 5,
                    // GOKYUU_2      : 6,
                    // JIYUU         : 7,
                    // HANKYUU_1     : 8,
                    // HANKYUU_2     : 9,
                },
            },
        }
    },
    computed: {
        computedWorkingConfirm: {
            get: function() {
                return this.getFromRootOrChanged('working_confirm');
            },
            set: function(value) {
                this.changed['working_confirm'] = value;
            }
        },
        computedPresentationId: function() {
            return  (this.currentEmployee) ? this.currentEmployee['presentation_id'] : null;
        },
        computedName: function() {
            return (this.currentEmployee) ? this.currentEmployee['name'] : null;
        },
        computedScheduleBreakTime: {
            get: function() {
                return this.getFromRootOrChanged('schedule_break_time');
            },
            set: function(newValue) {
                let validValue = this.validateNumber(newValue);
                if (validValue !== null && validValue !== this.computedScheduleBreakTime) {
                    this.changed['schedule_break_time'] = validValue;
                }
            }
        },
        computedScheduleNightBreakTime: {
            get: function() {
                return this.getFromRootOrChanged('schedule_night_break_time');
            },
            set: function(newValue) {
                if (newValue !== '') {
                    let validValue = this.validateNumber(newValue);
                    if (validValue !== null && validValue !== this.computedScheduleNightBreakTime) {
                        this.changed['schedule_night_break_time'] = validValue;
                    }
                } else {
                    this.changed['schedule_night_break_time'] = (this.computedScheduleNightBreakTime !== null) ? this.NUM_EMPTY : null;
                }
            }
        },
        computedPlannedWorkStatusId: {
            get: function() {
                return this.getFromRootOrChanged('planned_work_status_id');
            },
            set: function(newValue) {
                this.changed['planned_work_status_id'] = newValue;
            }
        },
        computedPlannedWorkStatusName: function() {
            return (!!this.computedPlannedWorkStatusId) ? this.workStatusNames[this.computedPlannedWorkStatusId] : null;
        },
        computedPlannedRestStatusId: {
            get: function() {
                return this.getFromRootOrChanged('planned_rest_status_id');
            },
            set: function(newValue) {
                this.changed['planned_rest_status_id'] = newValue;
            }
        },
        computedPlannedRestStatusName: function() {
            return (!!this.computedPlannedRestStatusId) ? this.restStatusNames[this.computedPlannedRestStatusId] : null;
        },
        computedManagerName: function() {
            return (this.root.modified_manager_id) ? this.managerNames[this.root.modified_manager_id] : null;
        },
        computedTimestampedStartWorkTime: function() {
            return this.root.timestamped_start_work_time;
        },
        computedTimestampedEndWorkTime: function() {
            return this.root.timestamped_end_work_time;
        },
        computedTimestampsExistOrNot: function() {
            return this.root.timestamps_exist_or_not == true;
        },

        levelOneConcluded: function() {
            return (this.root.employee_working_day) ? this.root.employee_working_day.concluded_level_one == 1 : null;
        },
        levelTwoConcluded: function() {
            return (this.root.employee_working_day) ? this.root.employee_working_day.concluded_level_two == 1 : null;
        },
        concluded: function() {
            return !!this.levelOneConcluded || !!this.levelTwoConcluded;
        },

        currentEmployee: function() {
            if (this.root.employee_id) {
                let record = _.find(this.employeeNames, (employee) => {
                    return employee['id'] == this.root.employee_id;
                })
                return (record != -1) ? record : null;
            }
            return null;
        },

        // Autocomplete stuffs
        currentEmployeeIndex: function() {
            if (this.currentEmployeeId) {
                return _.findIndex(this.employeeNames, obj => {
                    return obj.id == this.currentEmployeeId;
                });
            }
            return null;
        }
    },
    methods: {
        asset: function(string) {
            return window.location.protocol + '//' + window.location.hostname + '/' + string;
        },

        prepareDataToSend: function() {
            // reset validation errors
            this.validationErrors = {};

            let data = {};

            if (this.root.new == true) {
                data['employee_id'] = this.currentEmployeeId;
                data['working_confirm'] = this.computedWorkingConfirm;
            }

            data['schedule_break_time'] = (this.root.new == true && !this.computedScheduleBreakTime) ? 0 : this.computedScheduleBreakTime;
            data['schedule_night_break_time'] = this.computedScheduleNightBreakTime;
            data['schedule_break_time_changes'] = (this.root.new == true && !this.changed['schedule_break_time']) ? 0 : this.changed['schedule_break_time'];
            data['schedule_night_break_time_changes'] = this.changed['schedule_night_break_time'];
            data['planned_work_status_id'] = this.computedPlannedWorkStatusId;
            data['planned_rest_status_id'] = this.computedPlannedRestStatusId;

            return data;

        },
        saveThisWorkingEmployee: function() {
            if (this.currentEmployeeId || !_.every(this.changed, (item) => {return item == null;})) {
                let data = this.prepareDataToSend();
                this.$emit('save-working-employee', data);
            }
        },
        // This function is for when using the 'save all working employee' button on the work_address_working_info_component's side.
        saveAllWorkingEmployee: function() {
            if (this.currentEmployeeId || !_.every(this.changed, (item) => {return item == null;})) {
                let data = this.prepareDataToSend();
                this.$emit('save-all-working-employee', data);
            }
        },

        deleteThisWorkingEmployee: function() {
            this.$emit('delete-working-employee');
        },

        cancelChanged: function() {
            this.clearChangedData();
            this.validationErrors = {};
        },
        clearChangedData: function() {
            _.forEach(this.changed, (item, key) => {
                this.changed[key] = null;
            });
        },
        toggleWorkingConfirm: function() {
            if (this.root.new != true) {
                this.computedWorkingConfirm = !this.computedWorkingConfirm;
                this.computedWorkingConfirm = !this.computedWorkingConfirm;
                this.$emit('toggle-working-confirm');
            } else {
                this.computedWorkingConfirm = !this.computedWorkingConfirm;
            }
        },

        // Autocomplete stuffs
        currentEmployeeSelected(id) {
            if (id !== null) this.currentEmployeeId = this.employeeNames[id].id;
            else this.currentEmployeeId = this.currentEmployeeId;
        },

        // Go to an EmployeeWorkingDay's page
        goToEmployeeWorkingDayUrl: function() {
            let url = '/employee_working_day/' + this.root.employee_id + '/' + this.currentDate;
            return $.companyCodeIncludedUrl(url);
        },

        disableThisWorkStatusOrNot: function(id) {
            if (!!this.computedPlannedRestStatusId) {
                id = parseInt(id);
                switch (id) {
                    case this.consts.work.KEKKIN:
                    case this.consts.work.FURIKYUU:
                    case this.consts.work.FURIDE:
                    case this.consts.work.HOUDE:
                    case this.consts.work.KYUUDE:
                        return true;
                        break;
                    default:
                        return false;
                }
            }
            return false;
        },
        disableRestStatusSelectBoxOrNot: function() {
            if (!!this.computedPlannedWorkStatusId) {
                let id = parseInt(this.computedPlannedWorkStatusId);
                switch (id) {
                    case this.consts.work.KEKKIN:
                    case this.consts.work.FURIKYUU:
                    case this.consts.work.FURIDE:
                    case this.consts.work.HOUDE:
                    case this.consts.work.KYUUDE:
                        return true;
                        break;
                    default:
                        return false;
                }
            }
            return false;
        }
    },
    created: function() {
        // Register event handler
        hub.$on('submit-all-working-employee', this.saveAllWorkingEmployee);
    },
    beforeDestroy: function() {
        // Get rid of the event handler
        hub.$off('submit-all-working-employee', this.saveAllWorkingEmployee);
    },
    watch: {
        root: {
            handler: function() {
                if (this.successRequest) {
                    this.clearChangedData();
                }

                if (this.root['errors']) {
                    _.forEach(this.root['errors'], (errors, key) => {
                        this.$set(this.validationErrors, key, errors[0]);
                    })
                } else {
                    this.validationErrors = {};
                }
            },
            deep: true,
        },
    },
    components: {
        'autocomplete' : Autocomplete,
        'error-display': ErrorDisplay,
    },
}
</script>