<template>
    <table class="table_with_fixed_header">
        <tr class="fixed_header">
            <th class="s_14">日付</th>
            <th class="s_8">出勤</th>
            <th class="s_8">退勤</th>
            <th class="s_6">必要人数</th>
            <th>従業員名</th>
            <th class="s_10"></th>
        </tr>
        <template v-for="(workingDay, day) in workingDays">
            <template v-if="workingDay['data'].length == 0">
                <tr>
                    <td>
                        <span :class="dateClass(workingDay)">
                            {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p v-if="canView" class="button"><a class="ss_size s_height btn_gray" :href="goToWorkAddressWorkingDayUrl(day)">訪問</a></p>
                    </td>
                </tr>
            </template>
            <template v-else>
                <template v-for="(workingInfo, index) in workingDay['data']">
                    <tr>
                        <td v-if="index == 0" :rowspan="workingDay['data'].length">
                            <span :class="dateClass(workingDay)">
                                {{ day }}({{ japaneseDayOfWeek(workingDay['day_of_week']) }})
                            </span>
                        </td>
                        <td :class="{ 'bg_revised' : workingInfo['start_work_time_modified'] }">{{ reformatHourString(workingInfo['start_work_time']) }}</td>
                        <td :class="{ 'bg_revised' : workingInfo['end_work_time_modified'] }">{{ reformatHourString(workingInfo['end_work_time']) }}</td>
                        <td :class="workingInfo['candidate_number_mismatched'] ? 'bg_no_assignment' : (workingInfo['candidate_number_modified'] ? 'bg_revised' : '')">{{ workingInfo['candidate_number'] }}</td>
                        <td class="left_align">
                            <section v-for="employee in workingInfo['employees']" class="check_box_wrap right_30 side_input_block">
                                <label v-if="canChange" class="checkbox_text">
                                    <input type="checkbox" :disabled="employee['disable_toggle_working_confirm']" :checked="employee['working_confirm']" @change="toggleWorkingConfirm(workingDay['id'], employee['id'], employee)">{{ employee['name'] }}
                                </label>
                                <span v-else>{{ employee['name'] }}</span>
                            </section>
                        </td>
                        <td v-if="index == 0" :rowspan="workingDay['data'].length">
                            <p v-if="canView" class="button"><a class="ss_size s_height btn_gray" :href="goToWorkAddressWorkingDayUrl(day)">訪問</a></p>
                        </td>
                    </tr>
                </template>
            </template>
        </template>
    </table>
</template>
<script>
import Common from '../components/working_month_tools.js';

export default ({
    mixins: [Common],
    data: function() {
        return {
            workAddress: window.work_address,
            workingDays: window.working_days,

            canView: window.can_view_attendance_work_address_working_day_page,
            canChange: window.can_change_attendance_work_address_working_month_page,

            sendingRequest: false,
        }
    },
    methods: {
        toggleWorkingConfirm: function(workingDayId, workingEmployeeId, employee) {
            employee['working_confirm'] = !employee['working_confirm'];
            employee['working_confirm'] = !employee['working_confirm'];
            if (this.sendingRequest == false) {
                this.sendingRequest = true;

                let url = '/work_address_working_month/' + workingDayId + '/' + workingEmployeeId;
                axios.patch($.companyCodeIncludedUrl(url)).then((response) => {
                    document.caeru_alert('success', response.data['success']);
                    this.updateWorkingDayData(workingDayId, response.data['data']);
                    this.sendingRequest = false;

                }).catch((error) => {
                    if (error.response) {
                        document.caeru_alert('error', error.response.data['error'], 2000);
                        // this.distributeValidationErrors(id, data, error.response.data);
                    }
                    this.sendingRequest = false;
                    document.location.reload();
                });
            }
        },
        updateWorkingDayData: function(workingDayId, workingInfoData) {
            let match = _.find(this.workingDays, (workingDay) => {
                return workingDay['id'] == workingDayId;
            })

            if (!!match) {
                this.$set(match, 'data', workingInfoData);
            }
        },
        // Go to an WorkAddressWorkingDay's page
        goToWorkAddressWorkingDayUrl: function(date) {
            let url = '/work_address_working_day/' + this.workAddress['id'] + '/' + date;
            return $.companyCodeIncludedUrl(url);
        },
    }
})
</script>