@charset "UTF-8";
/* CSS Document */
*{
	color:#444;
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	vertical-align:middle;
	font-size:14px;
    box-sizing: border-box;
    line-height: 1.7;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html{
    display: flex;
    flex-direction: column;
}

main{
	flex: 1 1 auto;
}


h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight:normal;
	line-height:1.4;
}

ol, ul {
	list-style: none;
}

a{
	text-decoration:none;
	color:#444;
}

a:hover{
	text-decoration:none;
}

img{
	max-width:100%;
}

p, dl, multicol {
	display: block;
}

hr{
	border:1px dashed #95b32c;
	width:99%;
	margin-bottom:30px;
}

.title,.tab,.add_item,.search_result,.separate{
	width:99%;
	margin:0 auto;
}

span{
    vertical-align: -1px;
	font-size: inherit;
}

.search_setting{
	display: inline-block!important;
    line-height: 0;
}

/********************
    クリックで文字入力
********************/
.box_add{
	border-bottom:1px dashed #c2c2c2;
}

.v_10,.v_10 span{
	vertical-align:bottom;
	line-height:1;
}

.v_30 input{
	margin-top:-4px;
}

/********************
    float
********************/
.left{
	float:left;
	}

.right{
	float:right;
	}

/********************
    テキスト
********************/
.left_align{
	text-align:left;
	padding-left:20px;
}

.right_align{
	text-align:right;
}

.center_align{
	text-align:center;
}

.unit{
	text-align:center;
    vertical-align: top;
    position: relative;
}

/*縦書き*/
.vertical_writing{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;   
}

/********************
    margin
********************/

.right_4{
	margin-right:4px;
}

.right_10{
	margin-right:10px;
}

.right_30{
	margin-right:30px!important;
}

.left_10{
	margin-left:10px;
}

.left_30{
	margin-left:30px;
}

.bottom_10{
	margin-bottom:10px!important;
}

.bottom_20{
	margin-bottom:20px!important;
}

.bottom_30{
	margin-bottom:30px!important;
}

.bottom_40{
	margin-bottom:40px!important;
}

.top_10{
	margin-top:10px!important;
}

.top_20{
	margin-top:20px!important;
}

.top_30{
	margin-top:56px!important;
}

.top_40{
	margin-top:40px!important;
}

.top_60{
	margin-top:60px!important;
}

.w_46{
	width:46px;
}

	
/********************
    フォント
********************/
.red{
	color:#d84136;
}		

.blue{
	color:#3f4bbb;
}		

.sunday{
	color:#da5301;
}

.saturday{
	color:#425fab;	
}

.l_font{
	font-size:115%!important;
	}

.ll_font{
	font-size:136%!important;
    line-height: 1.4;
}

.lll_font{
	font-size:154%!important;
}

.s_font{
	font-size:96%!important;
	}

.text_green{
    color:#0f9144;
}

/********************
    背景色
********************/

.bg_gray{
	background:#eff2f5;
}

.bg_light_gray{
	background:#f9f9f9;
	border-bottom-style:hidden;
}

.bg_light_gray_line {
	background:#f9f9f9;	
}

.bg_mistake{
	background:#f2e2e4;
}

.bg_approval{
	background:#ceeaf4;
}

.bg_apply{
	background:#fcf2ad;
}

.bg_revised{
	background:#d6e9a0;
}

.bg_reject{
	background:#ebebeb;
}

.bg_light_blue{
	background:#ecf5fa!important;
}

.bg_error{
	background:#edcccf!important;
}

.bg_error_dark{
	background:#f46767!important;	
}

.bg_dark_gray{
	background:#eef0f4!important;
}

.bg_no_assignment{
	background:#e874a4!important;
	color:#fff;
}

/********************
    ローディング
********************/

/*------- 必須項目-------*/
.required{
	font-size:79%;
	padding:2px 8px;
	background:#cc0000;
	color:#fff;
	margin-right:8px;
    margin-top: -2px; 
}

/*------- 読み込み-------*/
.loader,
.loader:before,
.loader:after {
	background: #c0d674;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}

.loader {
	color: #c0d674;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}

.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader:after {
	left: 1.5em;
}

#globalLoader {
	background-color:rgba(0,0,0,0.5);
}

.loader.global {
	top: 30%;
}
@-webkit-keyframes load1 {
	0%,80%,100% {
    box-shadow: 0 0;
    height: 4em;
}
40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
	0%,80%,100% {
    box-shadow: 0 0;
    height: 4em;
  }
40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/********************
    header
********************/

.alert_wrapper{
 	display: table;
	width:60%;
	margin: 0 auto;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 20%;
}

.alert_innner{
	display: table-cell;
}

.alert_box{
	width: 100%;
	height: 46px;
	padding:0 40px;
	text-align: left;
	font-size: 131%;
	line-height:2.8;
	display:none;
}

.alert_box .alert_content {
	color: inherit;
}

/********************
    エラー
********************/

.alert_box2{
	width: 100%;
	height: 46px;
	padding:0 40px;
	text-align: left;
	font-size: 122%;
	line-height:2.8;
}

.alert_ico img{
	width:20px;
	height:20px;
	vertical-align:text-top;
}

/********************
    header
********************/

header{
	width:99%;
	overflow:hidden;
	height:76px;
    margin:auto;
}

#logo{
	width:240px;
	height:56px;
	background-image:url(../../images/logo.svg);
    background-repeat: no-repeat;
	background-size:100%;
	margin-top:10px;
}

.conditions{
    padding:4px 20px;
    background: #fff000;
    border-radius: 20px;
    margin: 20px 0 0 20px;
    font-size:115%;
    line-height: 2;
}

#sign_out a{
    display: block;
	text-align:right;
    float: right;
    margin-top: 26px;
    font-size: 115%;
}

#sign_out a:hover{
	text-decoration:underline;
}

h1{
	font-size:158%;
	line-height:1.4;
}

.open_btn{
	position:relative;
	top:0;
	left:0;
}

.worklocation{
	position:absolute;
	top:0;
	left:0;
	display: table;
	width: 100%;
}

.worklocation .worklocation_inner{
	display: table-cell;
	text-align: center;
}

.worklocation span{
	font-size: 158%;
	vertical-align:top;
	line-height:1.24;
}


/*
色の設定
ホーム  #5286bf
基本（basic）　　#adce00
シフト(shift)　#ed82b1
勤怠(attendance)　　#f6a815
給与(payroll)　　#54c3f1
*/

/********************
    input
********************/

input, textarea, select{
	border-radius:4px;
	border:1px solid #c2c2c2;
	box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    -moz-box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    -webkit-box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    line-height: 1.2;
}

input,select{
	display:inline;
    line-height: -20%!important;
}	

input[type="text"]:focus {
	outline: 0;
}

input{
	height:30px;
    padding: 1px 10px 0;
    text-align: center;
}

.inline {
	display: inline;
}

.height_24 {
	height: 24px;
}

.checkbox_text{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	padding-left: 28px;
	display: inline-block;
	box-sizing: border-box;
	z-index: 0;
}

.check_box_wrap .checkbox_text:before{
	content: '';
	position : absolute;
	width: 20px;
	height: 20px;
	left: 0px;
	top: 0px;
	border-radius: 6px;
	border: 1px solid #c2c2c2;
	z-index: 3;
}

.check_box_wrap .checkbox_text:after{
	content: '';
	position: absolute;
	top: 27%;
	left: 7px;
	display: block;
	margin-top: -3px;
	width: 4px;
	height: 12px;
	border-right: 3px solid #adce00;
	border-bottom: 3px solid #adce00;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	z-index: 1;
}


.checkbox_text input[type="checkbox"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	left: -30px;
	width: 20px;
	height: 20px;
	display: block;
	box-shadow: 40px 0px #FFF;
	z-index: 2;
}

label.checkbox_text input[type="checkbox"]:checked {
	box-shadow: none;
}

label.checkbox_text input[type="checkbox"]:checked:focus {
	box-shadow: 40px 0px #fff;
	opacity: 0.1;
}

label.checkbox_text .check_inner{
	display:none;
}

label.radio {
	position      : relative;
	display       : inline-block;
	width         : 22px;
	height        : 22px;
	border        : 1px solid #c2c2c2;
	border-radius : 100%;
	overflow      : hidden;
	cursor        : pointer;
}

label.radio:before {
	content          : '';
	display          : block;
	width            : 16px;
	height           : 16px;
	border-radius    : 100%;
	position         : absolute;
	top              : 2px;
	left             : 2px;
	z-index          : 1;
	background-color : #adce00; 
}

label.radio input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin     : 0px;
	position   : absolute;
	z-index    : 2;
	top        : -1px;
	left       : -23px;
	width      : 22px;
	height     : 22px;
	display    : block;
	box-shadow : 22px 0px #FFF;
}

label.radio input[type="radio"]:checked {
	box-shadow : none;
}

label.radio input[type="radio"]:focus {
	box-shadow : 20px 0px #FFF;
	opacity    : 0.2;
}

label.radio_text {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding-left:27px;
}

label.radio_text:before{
	position      : absolute;
	width         : 18px;
	height        : 18px;
	border        : 1px solid #c2c2c2;
	border-radius : 50%;
	left          : 2px;
	top           : 2px;
	content       : '';
	z-index       : 3;
}

label.radio_text:after{
	content          : '';
	position         : absolute;
	width            : 14px;
	height           : 14px;
	border-radius    : 100%;
	left             : 5px;
	top              : 5px;
	background-color : #adce00;
	z-index          : 1;
}

label.radio_text input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	z-index: 2;
	width: 22px;
	height: 22px;
	left: -22px;
	top: 1px;
	box-shadow: 20px 1px #FFF;
}

.check_onle_wrap label.checkbox_box input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 20px;
	width: 20px;
	height: 20px;
	left: -40px;
	box-shadow: 39px 0px #FFF;
	z-index:-1;
}

/*　チェックした時に白が消える　*/
.check_onle_wrap label.checkbox_box input[type="checkbox"]:checked {
	box-shadow: none;
	z-index: -3;
	position: relative;
}

.check_onle_wrap label.checkbox_box {
	cursor: pointer;
	width: 22px;
	height: 22px;
	border: 1px solid #c2c2c2;
	background: #fff;
	overflow: hidden;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border-radius:6px;
	z-index:0;
}

.check_onle_wrap label.checkbox_box:after {
	content: '';
	position: absolute;
	top: 27%;
	left: 7px;
	display: block;
	margin-top: -4px;
	width: 4px;
	height: 12px;
	border-right: 3px solid #adce00;
	border-bottom: 3px solid #adce00;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	z-index: -2;
}

label.radio_text input[type="radio"] {
	/*白の円*/
	width: 20px;
	height: 20px;
	left: -20px;
	top: 0px;
	margin: 0px;
	box-shadow: 20px 1px #FFF;
	border-style:none;
}

label.radio_text input[type="radio"]:checked {
	box-shadow: none;
}

label.radio_text input[type="radio"]:focus {
	opacity: 0.2;
	box-shadow: 20px -1px #FFF;
}

label.checkbox_text input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	left: -40px;
	top: 0px;
	width: 20px;
	height: 20px;
	display: block;
	box-shadow: 41px 0px #FFF;
	z-index: 2;
}

/* プルダウン式チェックボックス */
.ms-drop label.checkbox_text{
	background: #f2f5f7;
	padding: 2px 0 2px 40px ;
	width: 100%;
	display: inline-block;
	margin: 0 auto;
    border-radius: 2px;
}

.ms-drop label.checkbox_text span{
	width: 100%;	
	display: block;
	line-height: 2;
}

.ms-drop label.checkbox_text:hover{
	background: #0069d9;
	color: #fff;
	width: 100%;
}

.ms-drop label.checkbox_text span:hover{
	background: #0069d9;
	color: #fff;
	width: 100%;
}

.ms-drop label.checkbox_text:before {
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #c2c2c2;
	border-radius: 6px;
	content: '';
	background:#fff;
    box-sizing: content-box;
}

.ms-drop label.checkbox_text:after {
	content: '';
	position: absolute;
	top: 40%;
	left: 16px;
	display: block;
	margin-top: -4px;
	width: 8px;
	height: 10px;
	border-right: 3px solid #adce00;
	border-bottom: 3px solid #adce00;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	z-index: 1;
}

.ms-drop {
	display: none;
	margin-top: -1px;
	position: absolute;
	z-index: 1000;
	background: #fff;
	border: 1px solid #c2c2c2;
	float: none!important;
	border-radius: 4px;
	overflow: auto!important;
}

.ms-drop ul{
	width:250px;
	z-index:500;
}

.ms-drop ul li{
	width: 98%;
	margin: 3px auto 0!important;
}	 	
	
.ms-drop ul li input{
	float:left;
	padding-left:3px;
	padding-right:3px;
}

.ms-drop ul licheckbox_text{
	background: #fff none repeat scroll 0 0;
	cursor: pointer;
	padding: 6px 8px;
	text-shadow: none;
	border-radius:3px;
}

.ms-drop ul{
	padding-bottom:3px;
}

.ms-drop ul li label input[type="checkbox"] {
	box-shadow : 53px 4px #fff;
	width : 17px;
	height: 18px;
	margin:0px 0 0 0px; 
	}

.ms-drop ul li label:hover{
	color:#fff;
}

.ms-parent{
	float:none!important;
}

.search_box .ms-drop{
	height:auto;
}

.search_box .ms-drop ul{
	min-height:60px!important;
}

.form-group{
	display:inline-block;
    vertical-align: bottom;
}

.search_box .open{
	height:13px;
}

textarea{
	padding:6px;
	line-height:1.4!important;
	width: 100%;
}
	
input:focus {
 	border:solid 1px #adce00;
}	

select::-ms-expand {
	display: none;
}

.selectbox{
    line-height: 0!important;
    height:30px;
}

select{
    padding:0 6px;
	background: url(../../images/select_arrow.png) right 50% no-repeat;
    background-position : right 8px top 50%;
	/*	background-position: 92% 50%;*/
    background-color: #fff;
	display:inline-block;
	color:#444;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@supports (-ms-ime-align:auto) {
	select {
		padding:3px 6px 0;
	}
}

select > option{
	background: #f2f5f7 none repeat scroll 0 0;
	cursor: pointer;
	margin: 3px;
	text-shadow: none;
	border-radius:3px;
	height:26px;
	font-size: 93%;
	padding:2px 0 1px 8px;
}

.ms-choice{
	width:250px;	
	height:26px;
	box-sizing: border-box;
	border: 1px solid #c2c2c2!important;
	padding:1px 0 0 6px;
	text-align:left;
	background: url(../images/select_arrow.png) right 50% no-repeat;
	background-position: 94% 50%; 
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
	font-size:93%;
	cursor: pointer;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice span{
	line-height:1.8;
    font-size: inherit;
	color:#444;
}

@-moz-document url-prefix() {
	.ms-choice span {
	line-height:1.8;
	}
}

/********************
    ボタン
********************/

.button{
	display:inline-block;	
}

.button a,.button span{
	border-radius: 4px;
	letter-spacing:1px;
	text-align:center;
	color:#fff;
	font-weight:normal; 
	text-decoration:none!important;
	display:inline-block;
}

.button button{
	cursor: pointer;
	border-radius: 4px;
	letter-spacing:2.4px;
	text-align:center;
	color:#fff;
	font-weight:normal; 
	text-decoration:none!important;
	display:inline-block;
    font-size: 100%;
}

.button:hover{
	opacity:0.8;
	border-style:none;
	cursor: pointer;
	}


.btn_greeen{
	color:#fff;
	border:1px solid #95b32c;
	background: #adc549;
	background: -moz-linear-gradient(top,  #adc549 0%, #a2c313 100%);
	background: -webkit-linear-gradient(top,  #adc549 0%,#a2c313 100%); 
	background: linear-gradient(to bottom,  #adc549 0%,#a2c313 100%); 
}

.btn_dark_green{
    color:#fff;
    border:1px solid #0f9144;
    background: #379e61;
    background: -moz-linear-gradient(top,  #379e61 0%, #118942 97%);
    background: -webkit-linear-gradient(top,  #379e61 0%,#118942 97%);
    background: linear-gradient(to bottom,  #379e61 0%,#118942 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379e61', endColorstr='#118942',GradientType=0 );
}

.btn_yellow{
	color:#fff;	
	border:1px solid #e2a500;
	background: #f9b900; /* Old browsers */
	background: -webkit-linear-gradient(#f9b900 0%, #eeb000 100%);
	background: -o-linear-gradient(#f9b900 0%, #eeb000 100%);
	background: linear-gradient(#f9b900 0%, #eeb000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b900', endColorstr='#eeb000',GradientType=0 ); 
	line-height:1;
}

.btn_blue{
	border:1px solid #35699e;
	background: #5295c4;
	background: -moz-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: -webkit-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#5295c4), to(#0b7daf));
	background: -o-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: linear-gradient(#5295c4 0%, #0b7daf 100%);
	}

.btn_gray{
	color:#424242!important;	
	border:1px solid #c0bfbf;
	background: #eeeeef; 
	background: -moz-linear-gradient(top,  #eeeeef 0%, #dcdcdc 100%); 
	background: -webkit-linear-gradient(top,  #eeeeef 0%,#dcdcdc 100%); 
	background: linear-gradient(to bottom,  #eeeeef 0%,#dcdcdc 100%); 
}

.btn_details{
	color:#424242!important;	
	border:1px solid #c2c2c2;	
	background: #eeeeef; 
        background: -moz-linear-gradient(top,  #eeeeef 0%, #dcdcdc 100%); 
        background: -webkit-linear-gradient(top,  #eeeeef 0%,#dcdcdc 100%); 
        background: linear-gradient(to bottom,  #eeeeef 0%,#dcdcdc 100%); 
	border-radius: 4px 4px 0 0!important;
	line-height:2.3!important;
}

.btn_black{
	border:1px solid #8a8587;
	background: #a79fa1;
	background: -webkit-linear-gradient(#a79fa1 0%, #8f888c 100%);
	background: -o-linear-gradient(#a79fa1 0%, #8f888c 100%);
	background: linear-gradient(#a79fa1 0%, #8f888c 100%); 
	}

.btn_yamabuki{
	border:1px solid #eaaf00;	
	background: #fccc0c;
	background: -webkit-linear-gradient(#fccc0c 0%, #f6bb00 100%);
	background: -o-linear-gradient(#fccc0c 0%, #f6bb00 100%);
	background: linear-gradient(#fccc0c 0%, #f6bb00 100%);
}

.btn_light_blue{
	border:1px solid #78bbda;
	background: #99c9e2;
	background: -webkit-linear-gradient(#99c9e2 0%, #5caaca 100%);
	background: -o-linear-gradient(#99c9e2 0%, #5caaca 100%);
	background: linear-gradient(#99c9e2 0%, #5caaca 100%);
}

.btn_dark_blue{
	border:1px solid #007bad;
	background: #5295c4;
background: -webkit-linear-gradient(#5295c4 0%, #2681b1 100%);
background: -o-linear-gradient(#5295c4 0%, #2681b1 100%);
background: linear-gradient(#5295c4 0%, #2681b1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5295c4', endColorstr='#2681b1',GradientType=0 ); /* IE6-9 */
}

.btn_white{
	border:1px solid #c2c2c2;
	color:#424242!important;
	background: #ffffff;
background: -webkit-linear-gradient(#ffffff 51%, #efefef 100%);
background: -o-linear-gradient(#ffffff 51%, #efefef 100%);
background: linear-gradient(#ffffff 51%, #efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.btn_red{
	border:1px solid #b51d23;
	background: #c74730;
background: -webkit-linear-gradient(#c74730 0%, #b93527 100%);
background: -o-linear-gradient(#c74730 0%, #b93527 100%);
background: linear-gradient(#c74730 0%, #b93527 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c74730', endColorstr='#b93527',GradientType=0 );
}

.check_blue{
	background:#5295c4;
}

.check_red{
	background:#c74730;
}

.check_green{
	background:#0f9144;
}

.save_red{
	background:#dc4135;
	color:#fff;
	text-shadow: -1px -1px 1px #bc2424, 1px 1px #cc322b;
}

.save_green{
	background:#8fc427;
	color:#fff;
	text-shadow: -1px -1px 1px #788902, 1px 1px #acaf43;
}

.save_yellow{
	background:#f2c406;
	color:#fff;
	text-shadow: -1px -1px 1px #c19e0c, 1px 1px #ddb40a;
}

.arrow_img{
	vertical-align:6%!important;	
}

.kyuyo_btn{
	border:1px solid #84a023;
 	background: url(../../images/ico_kyuyo_btn.svg) 30px 50% no-repeat;
    background-color: #9bb801;
    background-size:20px 20px;
    padding-left: 20px;
}


/********************
    点滅
********************/
.switch {
 	-webkit-animation: switchtext 0.5s infinite alternate;
	-moz-animation: switchtext 0.5s infinite alternate;
	animation: switchtext 0.5s infinite alternate;
}
@-webkit-keyframes switchtext {
	from { opacity: 1.0; }
	to { opacity: 0.5; }
}
@-moz-keyframes switchtext {
	from { opacity: 1.0; }
	to { opacity: 0.5; }
}
@keyframes switchtext {
	 from { opacity: 1.0; }
	 to { opacity: 0.5; }
}


/********************
    サイズ
********************/

.sss_size{
	width:30px;
	letter-spacing: 0px!important;
}

.s_m_size{
	width:170px;
}

.ss_size40{
	width:40px;
}

.ss_size{
	width:60px;
}

.s_size{
	width:90px;
}

.ss_m_size{
	width:120px;
}
	
.m_size{
	width:140px;
}
	
.mm_size{
	width:250px;
}	
	
.l_size{
	width:380px;
}

.l_space{
	width:180px;
}

.s_3{
	width:3%!important;	
}

.s_4{
	width:4%!important;	
}

.s_5{
	width:5%!important;
}

.s_6{
	width:6%!important;
}

.s_8{
	width:8%!important;
}

.s_10{
	width:10%!important;
}

.s_12{
	width:12%!important;
}

.s_14{
	width:14%!important;
}

.s_18{
	width:18%!important;	
}

.s_20{
	width:20%!important;
}

.s_22{
	width:22%!important;
}

.s_28{
	width:28%!important;
}

.s_29{
	width:29%!important;
}

.s_30{
	width:30%!important;
}

.s_32{
	width:32%!important;
}

.s_39{
	width:39%!important;
}

.s_40{
	width:40%!important;
}

.s_43{
	width:43%!important;
}

.s_49{
	width:49.6%!important;
}

.s_50{
	width:50%!important;
}

.s_54{
	width:54%!important;
}

.s_60{
	width:60%!important;
}

.s_70{
	width:70%!important;
}

.s_80{
	width:80%!important;
}

.s_86{
	width:86%!important;
}

.both_1{
	margin-left:1%;
	margin-right:1%;
}

.s_height{
	height:30px;
	line-height:2;
}

.ss_height{
	height:26px;
	line-height:2;
    font-size: 93%;
}

.sss_height{
	height:22px;
	line-height:1.8;
}


.normal_height{
	height:42px!important;	
}

.short_height{
	height:24px!important;	
}

.td_height_space{
    padding:10px 0;
}

@media all and (-ms-high-contrast:none){
  .style {
    	line-height:2.1;
  }
}

@-moz-document url-prefix(){
  .s_height{
	 height:30px;
	 line-height:2;
  }
}

.m_height{
	height:32px;
	line-height:2.3;
}

/*
@-moz-document url-prefix(){
  .m_height{
    line-height:2;
  }
}
*/

.l_height{
	height:40px;
	line-height:2.6;
}

.ll_height{
	height:62px;
}

.text_top{
	vertical-align:top;
	text-align:top;
	padding-top:10px;
}

/*------- inputの前後のmaring:left rightの設定 -------*/
.select_both_space{
	margin:0 10px;
}

/*　ヘッダーの固定　*/
#header_weapper{
	width:100%;
	background:#fff;
}

/*TODO: replace the above rule with the below rule*/
#header_wrapper{
	width:100%;
	background:#fff;
}

#no_fixed_position{
	width:100%;
	background:#fff;
}
/*-------　menu　-------*/

/********************
    従業員
********************/

nav ul {
    width: 100%;
    text-align: center;
}
.gnav{
    background:#adce00;
	*zoom: 1;
	list-style-type: none;
	width: 100%;
	padding: 0;
    margin-bottom: 10px;
}

.gnav:before, .gnav:after{
	content: "";
	display: table;
}

.gnav:after{
	clear: both;
}

.gnav li{
	position: relative;
	float: left;
    width: 230px;
    border-right: 1px solid #9dba03;
	display: block;
	height: 50px;
	text-align: center;	
	background:#adce00;
}

.gnav li a{
	display: block;
	margin: 0;
    line-height: 3.4;
	text-decoration: none;
	height: 50px;
	font-size: 115%;
    color:#fff;
}

.gnav li a:hover{
	border-radius: 10px 10px 0 0;
    opacity: 1;
}

.gnav li ul{
	list-style: none;
	position: absolute;
	z-index: 9999;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

.gnav li ul li{
	width: 100%;
	background:#adce00;
    height:50px;
    border-radius: 0;
}

.gnav li ul li a{
    border-top: 1px dashed #9dba03;
    line-height: 3;
}

.gnav li ul li a:hover{
	border-radius: 0;
	color:#fff;
    background: #9dba03;
    cursor: pointer;
}

.gnav li:hover > a{
	border-radius: 0;
	color:#fff;
}

.gnav li ul li:last-child{
	border-radius: 0 0 10px 10px;
}

.gnav li ul li:last-child >a{
	border-radius: 0 0 10px 10px;
	border-bottom:none;
}

#dropmenu li ul li{
	overflow: hidden;
	height: 0;
	transition: .2s;
	box-shadow:2px 5px 7px -1px #bdbdbd;
	-moz-box-shadow:2px 5px 7px -1px #bdbdbd;
	-webkit-box-shadow:2px 5px 7px -1px #bdbdbd;
}

#dropmenu li:hover ul li{
	overflow: visible;
	height: 50px;
}

nav img {
    width: 36px;
    height: 36px;
    padding-right: 10px;
    margin-top: -5px;
}

.gnav li:hover{
    background:#9dba03;
}


/********************
    home
********************/

/*TODO: remove this rule later.*/
.bg_home a{
	background-color:#5286bf;
	border-radius: 10px 10px 0 0;
}
	
.home_line{
	border-bottom:2px solid #5286bf;
}	

/********************
    table
********************/

table{
	width:99%;
	margin:0 auto;
	text-align:center;
	border-collapse: collapse;
}
	
table th,table td{
	border:1px solid #c2c2c2;
	font-weight:normal;
    word-break: break-all;
}
	
table th{
	background:#eff2f5;
}

table th p{
    margin:0;
    padding: 0;
    line-height: 1.2;
}

/* 文字の色 */
.light_gray{
	color:#9fa0a0;
}

.light_gray td{
	color:#9fa0a0;
}

.text_bold{
	font-weight:bold;
}

.pink_holiday{
	background:#f5e1e5 !important;
    line-height: 1.8;
}

.blue_holiday{
	background:#d3e7f9 !important;
    line-height: 1.8;
}

/********************
    フォント
********************/		
	
.sunday a{
	color:#da5301;
}

.saturday a{
	color:#425fab;	
}


.dash_line{
	width:100%;
	padding-top:10px;
	border-top:1px dashed #c2c2c2;
}

.solid_line{
	width:100%;
	padding-top:10px;
	border-top:1px solid #c2c2c2;	
}

/********************
    検索窓
********************/

.head {
	font-weight: bold; cursor: pointer;
}

.head span{
	display:block;
	text-align:center;
	border-radius: 4px;
	letter-spacing: 3px;
}

.bold_line{
	border-bottom:1px solid #c2c2c2;
	border-right:2px solid #c2c2c2;
}

.bold_t_line{
	border-top:2px solid #c2c2c2;
}

/********************
    承認
********************/

.close_btn_wrapper{
	height:56px;
	min-height:56px!important;
}

.close_btn_inner{
	vertical-align:-10px;
}

.close_btn_inner td{
	padding:0 10px;
	height:32px!important;
	width:80px;
}

.close_btn_inner .btn_white{
	letter-spacing: 1px;
}

/********************
    ツールチップ
********************/

.tooltip {
	position: relative;
}

.tooltip a{
	vertical-align: top;
}

.tooltip a img{
	background:#54c3f1;
	padding:2px;
	border-radius:4px;
	width:20px;
	height:20px;
}

/*TODO: Later, remove this rule, remove the class .fixed for the rule right under it, then remove the class fixed for that element in manager.form template*/
.tool_description{
	position:absolute;
	display: none;
	padding: 10px 20px 10px;
	width: 300px;
	max-width: 300px;
	background: #b9d7e9;
	border: 1px solid #fff;
	z-index: 0;
	border-radius:4px;
	height:auto;
}

.tool_description.fixed {
	position:absolute;
	bottom: 29px;
	left: -71px;
	display: none;
	padding: 10px 20px 10px;
	width: 300px;
	max-width: 300px;
	background: #b9d7e9;
	border: 1px solid #fff;
	z-index: 0;
	border-radius:4px;
	height:auto;
}

.tool_description:before{
	content: "";
	position: absolute;
	bottom: -8px;
	left: 24%;
	margin-left: -9px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 0 9px;
	border-color: #b9d7e9 transparent transparent transparent;
	z-index: 0;
}

.tool_description:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 24%;
	margin-left: -10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #fff transparent transparent transparent;
	z-index: -1;	
}

.tooltip:hover .tool_description{
	display: block;
}

.input_wrapper {
	display: table-cell;
	/* position: relative; */
}

.input_wrapper.error input, .input_wrapper.error select, .input_wrapper.error textarea {
	border: 2px solid rgba(255, 0, 0, .5);
}

.input_wrapper.error.radioes, .input_wrapper.multiple_select, .input_wrapper.error.checkboxes {
	border: 2px solid rgba(255, 0, 0, .5);
}

.input_wrapper.multiple_select {
	height: 32px;
}

.input_wrapper.error > input:hover ~ .error_wrapper .tool_error,
.input_wrapper.error > input:focus ~ .error_wrapper .tool_error,
.input_wrapper.error > select:hover ~ .error_wrapper .tool_error,
.input_wrapper.error > select:focus ~ .error_wrapper .tool_error,
.input_wrapper.error > textarea:hover ~ .error_wrapper .textarea_error,
.input_wrapper.error > textarea:focus ~ .error_wrapper .textarea_error {
	visibility: visible;
	opacity: 1;
}

.input_wrapper.error.radioes:hover  .error_wrapper .tool_error,
.input_wrapper.multiple_select:hover  .error_wrapper .tool_error,
.input_wrapper.error.checkboxes:hover  .error_wrapper .tool_error {
	visibility: visible;
	opacity: 1;
}

.error_wrapper {
	position: absolute;
	width: 300px;
	height: auto !important;
	text-align: left;
}

.tool_error{
	height: auto !important;
	position: absolute;
	bottom: 8px;
	max-width: 300px;
	padding: 5px 10px 5px;
	background: #f4af9d;
	border: 1px solid #fff;
	z-index: 10;
	border-radius:4px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	left: 0;
}

.tool_error:before{
	content: "";
	position: absolute;
	bottom: -8px;
	left: 10%;
	margin-left: -9px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 0 9px;
	border-color: #f4af9d transparent transparent transparent;
	z-index: 0;
}

/* This part is for the textarea */
.textarea_error{
	position: absolute;
	top: 8px;
	max-width: 300px;
	padding: 5px 10px 5px;
	background: #f4af9d;
	border: 1px solid #fff;
	z-index: 10;
	border-radius:4px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s
}

.textarea_error:before{
	content: "";
	position: absolute;
	top: -8px;
	left: 10%;
	margin-left: -9px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0px 9px 9px 9px;
	border-color: transparent transparent #f4af9d transparent;
	z-index: 0;
}

/********************
    カレンダー
********************/
.transfer_wrap{
    display: inline;
}

.transfer{
    position: absolute;
    top: -6px;
    left: 0;
    padding: 20px 20px 0;
    border:1px solid #c2c2c2;
    display:none;
    z-index: 1000;
    background: #fff;
    opacity: 1.0;
}

.transfer table tr .month_day{
    width: 60%;
}

.transfer .btn{
    margin:20px;
    display: block!important;
}

.transfer table{
    table-layout: fixed;
}

.select_calendar{
	width:400px;
}

.select_calendar table tr td{
	border-left-style:none;
	border-right-style:none;	
}

.select_calendar table{
	border:1px solid #c2c2c2;
}

.select_calendar td{
    height: 42px;
}

.year_month_select{
	height:46px;
	border-top:1px solid #c2c2c2;
	border-left:1px solid #c2c2c2;
	border-right:1px solid #c2c2c2;
	width:100%;
	margin:0 auto;
	background:#eff2f5;
    display: block!important;
}

.year_month_select div{
	margin-top:9px;
}

.year_month_select .arrow a{
	padding:0 10px;
}

.arrow_gray {
    width: 26px;
    height: 26px;
    line-height: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.candidate {
    background: #b5b5b5 none repeat scroll 0 0;
}

.change_possible {
    border-radius: 50%;
    color: #fff !important;
    display: inline-block;
    height: 30px;
    line-height: 2.2;
    margin: auto;
    width: 30px;
}

.selected, a.change_possible:hover {
    background: #9fb63d none repeat scroll 0 0;
    border-radius: 6px;
}

.btn{
	margin:30px 0 20px;
	overflow:hidden;
	text-align:center;
}

/********************
    ポップアップ
********************/

.modal-content {
	position:fixed;
	display:none;
	z-index:2000;
	margin:0;
	padding:20px 20px 0 20px;
	border:1px solid #c2c2c2;
	background:#fff;
}

.select_location{
	width:80%;	
}

.modal-content p {
	margin:0;
	padding:0;
}

.modal-content h2{
	font-size:158%;
	text-align:center;
	margin-bottom:20px;
}

.modal-content .default_table{
	overflow-y:scroll;
	max-height:360px;
}

.modal-content .btn{
	margin:20px 0!important;
}

.modal-overlay {
	z-index:1000;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.modal-open:hover {
	cursor:pointer;
}

.modal-close {
	color:#00f;
}

.modal-close:hover {
	cursor:pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

/*　ページャー　*/
.pager{
	text-align:center;
	position:relative;
	width:100%;
	margin:0 auto;
	bottom:0;
	left:0;
	left:0;
}

.pager ul{
	display:inline-block;
	overflow:hidden;
}

.pager ul li a{
	display:inline-block;
	min-width:26px;
	height:26px;
	border:1px solid #c2c2c2;
	margin-right:10px;
	line-height:1.9;
}

.pager .last{
	margin-top:10px;
}

/********************
    footer
********************/

footer{
    text-align: center;
    padding: 5px 0 10px;
    background: #dfdfdf;
    height: auto;
}
