/********************
    contents
********************/

.top_position{
    vertical-align:top;
}

.bottom_position{
    vertical-align:bottom;
}

.bottom_align{
    position:absolute;
    bottom:0;
    left:0;
}

.side_input_block{
    display: inline-block;
}

.ico_ico_arrow{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.ico_ico_arrow2{
    width:60px;
    height:28px;
    vertical-align: middle;
}

.ico_position{
    vertical-align: -7px;
}

/********************
    登録画面テーブル
********************/
table tr td span{
    display: inline-block;
}

.right_position{
	position:absolute;
	bottom:6px;
	right:0.5%;
	text-align:right;
}

.left_position{
	position:absolute;
	left:0.5%;
    bottom:5px;
}

.left_position2{
	position:absolute;
	left:0;
    top:0;
}

.left_position3{
	position:absolute;
	left:0.5%;
    bottom:0;
}

.left_position span{
    vertical-align:-20%;
}

/********************
    ログイン
********************/

#login_wrapper{
    width:600px;
    padding:20px;
	margin:70px auto 0;
}

.login_wrapper{
	width:600px;
	padding:20px;
	margin:70px auto 0;
}

#login_wrapper .login_logo img{
    width:46%;
    height:46%;
    display:block;
    margin:0 auto;
}

.login_wrapper .login_logo img{
	width:40%;
	height:40%;
	display:block;
	margin:0 auto;
}

#login_wrapper span{
    display:block;
    padding-top: 4px;
    text-align: right;
    margin-right: 20px;
}

.login_wrapper span{
	display:block;
    text-align: right;
}

#login_wrapper .auth_failed_message{
	color: red;
	text-align: center;
	margin-bottom: 10px;
}

#login_wrapper section, .login_wrapper section{
	overflow:hidden;
}

.login_wrapper .id_pass{
	width:250px;
	margin:20px auto;
}

.login_wrapper .name{
    width: 120px;
}

.login_wrapper .btn{
    margin-bottom: 40px;
}

.login_wrapper .auth_failed_message{
    color:#ff0000;
}

.login_wrapper .description{
    width: 340px;
    text-align: left;
    margin: 0 auto;
}

.login_wrapper .first_setting a{
    text-decoration: underline;
}

#login_wrapper .first_setting a:hover{
    text-decoration: none;
}

#login_wrapper div{
    width:280px;
    margin:40px auto;
}

#login_wrapper div.error_wrapper{
	margin: 0px !important;
}

#login_wrapper div section{
    margin-bottom:20px;
}

#login_wrapper div section{
	margin-bottom:20px;
}

#login_wrapper input{
	text-align: left;
}

.entry_title{
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid #adce00;
    font-size: 140%;
    text-align: center;
    letter-spacing:5px;
}

.browser{
    text-align: center;
}

.select_one2{
	width:100%;
	margin:0 auto;
	display: table;
	position:relative;
	left:0;
	bottom:0;
	padding:0 0 6px 0;
	min-height:40px;
	height:40px;
}

.select_one2 .select_one_inner{
	display: table-cell;
	text-align: center;
}

.select_one2 .select_one_inner section{
	display:inline;
}

.select_one2 .select_one_inner .select_one_name {
	font-size: 158%;
	font-weight:normal;
	line-height:0;
    vertical-align: middle;
}

.select_one{
	overflow:hidden;
	width:100%;
	margin:0 auto;
	display: table;
	position:relative;
	top:0;
	left:0;
	height:auto;
    padding: 10px 0;
}

.select_one3{
	overflow:hidden;
	width:100%;
	margin:0 auto;
	display: table;
	position:relative;
	top:0;
	left:0;
	height:60px;
}

.select_one .select_one_inner span span{
	font-size: 100%;
}

.select_one_inner .text_bold{
	font-weight:bold;
}

.select_one_name{
	vertical-align:5.8%;
}

/********************
    申請アイコン
********************/

.ico_approval{
	background:#91c5e0;
}

.ico_request{
	background:#efd66a;
}

.ico_error{
	background:#e5b6b9;
}

.ico_negation{
	background:#b9b1b3;
}

.ico_before_request{
	background:#e695b9;	
}

.ico_now{
	background:#adce00;    
}

.ico_box{
	width:80px;
	height:30px;
	color:#fff;
	text-align:center;
    line-height: 2.2;
}

/********************
    打刻色
********************/
.day_off_wrap{
    margin-bottom: 6px;
    overflow: hidden;
}
.description_text,.description_confirm_list,.description_day_off1,.description_day_off2{
	font-size:86%;
}

.description_day_off1{
    vertical-align: bottom;
}

.description_text::before{
	width:20px;
	height:18px;
	border:1px solid #c2c2c2;
	margin:5px 4px 0 0;
	background-size: 10px 10px;
	content:" ";
	display:inline-block;
    vertical-align: text-bottom;
    box-sizing: border-box;
}

.description_confirm_list::before{
	background:#fff;
    padding:0 8px;
    height: 18px;
	border:1px solid #c2c2c2;
	margin:5px 4px 0 0;
	background-size: 10px 10px;
	content: "08:00";
	display:inline-block;
    color:#c1483b;
    vertical-align: text-bottom;
    box-sizing: border-box;
    line-height: 1.4;
}

.description_mistake::before{
	background:#edcccf;
}

.description_request::before{
	background:#fcf2ad;
}

.description_approval::before{
	background:#b4d9ee;
}

.description_reject::before{
	background:#ebebeb;
}

.description_correction::before{
	background:#d6e9a0;
}

.description_no_assignment::before{
	background:#e874a4;
}

.description_day_off1::before{
	height:18px;
	margin:5px 4px 0 0;
	content:"1/1(月)";
	display:inline-block;
	background:#f5e1e5;
	padding:0 10px;
	text-align:center;
	line-height:1.6;
	border-radius:10px;
    vertical-align:text-bottom;
    box-sizing: border-box;
}

.description_day_off2::before{
	height:18px;
	margin:5px 4px 0 0;
	content:"1/2(火)";
	display:inline-block;
	background:#d3e7f9;
	padding:0 10px;
	text-align:center;
	line-height:1.6;
	border-radius:10px;
    vertical-align:text-bottom;
    box-sizing: border-box;
}

/********************
    個人別詳細
********************/

#attendance_detail .ico_position,#manager_list .ico_position{
    vertical-align: 2px;
}

.person_result_table{
	overflow:hidden;
    margin: 10px 0.5% 5px;
}

.person_result_table th {
    height: 30px;
    min-height: 30px;
}

.person_result_table .secound th {
    height: 60px;
}

.person_result_table td{
    height: 38px;
}

.person_result_table td span{
    font-size: 100%;
}

.person_result_table .overtime{
    text-decoration: underline;
}

.person_result_table .overtime:hover{
    text-decoration: none;
}

.person_result_table table tr th p{
    line-height: 1.8;
}

.search_table td .name{
	text-decoration: underline;	
}

.search_table td .name:hover{
	text-decoration:none;
}

.search_table{
	margin-bottom:10px;
    overflow:hidden;
}

.search_table th{	
    height:24px!important;
	min-height:20px!important;
}

.search_table td{
    height: 24px;
    max-height: 24px;
    min-height: 24px;
}

.search_table table tr th p{
    line-height: 1.3;
}

.search_table table tr td a{
    text-decoration: underline;
}

.search_table table tr td a:hover{
    text-decoration: none;
}

.search_table .blue_holiday,.search_table .pink_holiday{
	padding:1px 14px 3px;
	border-radius:20px;
}

.search_table table tbody {
  overflow-x: hidden;
  overflow-y: scroll;
}

.request_btn{
    margin-top: 20px;
}

.line_right_none {
    border-right-style: hidden;
}

.overtime_wrapper{
    padding: 16px;
    overflow: hidden;
}

.overtime_wrapper table{
    width:100%;
}

.overtime_wrapper th{
    height: 60px;
}

.overtime_wrapper td{
    height: 42px;
}

.overtime_wrapper textarea{
    width: 90%;
}

.overtime_wrapper span{
    font-size: 100%!important;
}

.overtime_inner{
    overflow: hidden;
    margin-top: 4px;
}

.left_page{
    border: 1px solid #c2c2c2;
    padding: 14px;
    width: 49.6%;
}


.plans_switch_wrap{
    height: auto;
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.plans_switch_wrap_inner{
    position: relative;
    display: inline;
    top: 0;
    left: 0;
}

.plans_switch_wrap_inner .on{
    width:60px;
    height:30px;
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
    z-index: 100;
    cursor:pointer;
}

.left_plans_text{
    padding: 0 10px 0 0;
    margin-top: 50px;
}
        
.plans_switch_wrap_inner .off{
    width:60px;
    height:30px;
    position:absolute;
    top:0px;
    right:0px;
    opacity:0;
    cursor:pointer;
}

_:-ms-lang(x), .plans_switch_wrap_inner .off {
    right:-180px;
}

.right_plans_text{
    padding: 0 0 0 10px;
    margin-left: 50px;
}
        
#selector{
    width:50px;
    height:5px;
    background: #c2c2c2;
    position: relative;
    left: 62px;
    top: -13px;
}
        
#selector>div{
    width:16px;
    height:16px;
    background-color:#80ac29;
    transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    border-radius:50%;
    position: absolute;
    top: -6px;
    left: 0;
}

#selector .selector_manager{
  background-color:#5286bf!important;  
}
        
.plans_switch_wrap_inner .on:checked~#selector>div{
    margin:0 80px 0 0;
}
        
.plans_switch_wrap_inner .off:checked~#selector>div{
    margin:0 0 0 40px;
}

/********************
    パスワード変更
********************/

#personal_account,#payment_account{
    width:90%;
    margin: 0 auto;
}

#personal_account h1,#payment_account h1{
    text-align: center;
    border-bottom: 1px solid #adce00;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#personal_account .account_inner{
    width: 670px;
    margin: 0  auto;
}

#payment_account .account_inner{
    width: 700px;
    margin: 0  auto;
}

#personal_account .new_pass{
    display: block;
    overflow: hidden;
}

#personal_account .new_pass input{
    text-align: left;
}

.new_pass span{
    padding-top: 4px;
}

/*-------　前払　-------*/

#payment_account h1{
    margin-bottom: 10px!important;
}

#payment_account .description{
    text-align: center;
}

#payment_account .money_input{
    text-align: center;
    overflow: hidden;
}

#payment_account .money_input p,#payment_account .money_input input{
    display: inline-block;
}

#payment_account input{
    text-align: left;
}

#payment_select th,#payment_select td{
    height: 40px;
    padding: 0 20px;
}

/*-------　（上司）申請一覧　-------*/
/********************
    承認一覧
********************/

#manager{
    background:#6293c8;
    overflow: hidden;
    height: 50px;
    margin-bottom: 10px;
}

#manager ul li a{
    display: block;
    width: 230px;
    border-right: 1px solid #4879af;
    float: left;
    height: 50px;
    font-size:115%;
    line-height: 3.4;
    color:#fff;
}

#manager ul li a:hover{
    background: #4879af;
}

#manager_list h1{
    text-align: center;
    border-bottom: 1px solid #4879af;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#manager_list .pager ul li .active{
    background: #4879af;
    color: #fff;
}

.manager_table th,.manager_table td{
	height:48px;
}

.manager_table{
    margin:10px 0;
}

.manager_table a{
    text-decoration: underline;
}

.manager_table a:hover{
    text-decoration: none;
}

.name_setting{
    margin-top: 27px;
}

.name_setting span{
     font-size:115%;
}

/********************
    承認
********************/

.request_number{
    background:#f9f9f9;
    padding: 6px 0;
}

.request_number span{
    font-size:158%;
    vertical-align: sub;
}

.request_number span a{
    font-size: inherit;
    text-decoration: underline;
}

.request_number span a:hover{
    text-decoration: none;
}

.request_number img{
    vertical-align: text-bottom;
}

/*　申請用紙　*/
.request_page_wrapper{
    width:99%;
    margin:0 auto;
    overflow: hidden;
}

.left_page,.right_page{
    width:49.6%;
    border: 1px solid #c2c2c2;
    padding: 14px;
}

.center_page{
    width:100%;
    border: 1px solid #c2c2c2;
    padding: 14px;
}

#request_page .right_position{
    top: 3px;
}

#request_page .pager span{
    font-size: inherit;
}

.request_page_wrapper table{
    width: 100%;
}

.request_page_wrapper .visit_place td{
    text-align: left;
    padding-left: 10px;
}

.request_page_wrapper .visit_place .bg_gray{
    text-align: center;
}

.request_page_wrapper table tr td{
    padding:6px 10px;
}

.request_page_wrapper table tr td p{
    font-size:inherit;
    vertical-align: top;
}

.request_page_wrapper table tr td .place{
    font-size: 143%;
    line-height: 1;
    padding-top: 6px;
}

.request_page_wrapper th,.request_page_wrapper td{
    height: 40px;
}

.request_page_wrapper textarea {
    min-height: 90%;
}

.transfer_wrap{
    display: inline;
}

.harf_box{
    width:50%;
}

.description_table .contact{
    text-align: left;
    vertical-align: top;
    padding: 4px 8px!important;
    font-size: 86
}

.description_table{
    height: 90px;
}

.description{
    overflow: hidden;
}

.result_dakoku{
    border: 1px dashed #c2c2c2;
    padding: 10px;
}

/* フレックス残業承認者 */

.request_overtime_wrapper{
    overflow: hidden;
    width:99%;
    margin:0 auto;
}

.request_overtime_wrapper th{
    height: 60px;
}

.request_overtime_wrapper textarea{
    width:90%;
}

.request_overtime_wrapper td{
    height: 40px;
}

/* By Cao Dang Tru */

.caeru_date_picker_wrapper{
    z-index: 1600;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}

.caeru_date_picker_wrapper .modal-overlay,
.work_location_picker_wrapper .modal-overlay,
.place-picker-wrapper .modal-overlay,
.caeru_import_wrapper .modal-overlay,
.approval_pop_up_wrapper .modal-overlay {
    display: block;
}

/* カレンダー */
.calendar_table{
	display:table;
	width:100%;
	margin:0 auto 10px auto;
	border-collapse: separate;
	border-spacing: 10px 0;
}

.calendar_table li{
	display:table-cell;
	text-align:center;
	vertical-align:top;
}

.calendar_table li table{
	table-layout: fixed;
}

.calendar_table li table th{
	font-weight:bold;
}

.calendar_table li table th,.calendar_table li table td{
	min-height:36px;
	height:36px;
}

.calendar_table li table td{
	border-left-style: none;
	border-right-style: none;
}

.calendar_table li table{
	border:1px solid #c2c2c2;
}

.calendar_table input{
    text-align: center;
    padding: 0;
}

table .closing_date{
	background:#f2f2f2;
}

table .closing_date2{
	background:#fff;
}

.calender_wrap{
	position:relative;
}

.calender_wrap .side_input_block{
	position:absolute;
	top:1px;
	right:4%;
}

.calender_wrap .side_input_block input{
	text-align:center;
	margin:0 4px 2px 0;
}

.holiday_box{
	width:26px;
	height:26px;
}

.bg_light_green{
	background:#f3f9dc;
}

.arrow_gray{
	width:26px;
	height:26px;
	line-height:0;
}

/********************
    ポップアップカレンダー
********************/
.select_calendar{
	width:400px;
}

.select_calendar table tr td{
	border-left-style:none;
	border-right-style:none;	
}

.select_calendar table{
	border:1px solid #c2c2c2;
}

.year_month_select{
	height:46px;
	border-top:1px solid #c2c2c2;
	border-left:1px solid #c2c2c2;
	border-right:1px solid #c2c2c2;
	width:100%;
	margin:0 auto;
	background:#eff2f5;
    display: block!important;
}

.year_month_select div{
	margin-top:9px;
}

.year_month_select .arrow a{
	padding:0 10px;
}

/* Work Location Picker module*/
.caeru_date_picker_wrapper,
.work_location_picker_wrapper,
.approval_pop_up_wrapper {
    z-index:1600;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:120%;
}

.approval_pop_up {
    position: fixed;
    display: block;
    width: 80%;
    top: 35%;
    left: 10%;
    z-index:2000;
    margin: 0px;
    padding:20px 20px 0 20px;
    border:1px solid #c2c2c2;
    background:#fff;
}

.caeru_import_wrapper {
    z-index:1600;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:120%;
}

.caeru_import_inner {
    position: fixed;
    display: block;
    width: 80%;
    top: 50%;
    left: 10%;
    z-index:2000;
    margin: -125px 0 0 0;
    padding:20px 20px 0 20px;
    border:1px solid #c2c2c2;
    background:#fff;
}

.approval_pop_up_wrapper .select_one{
    overflow:visible;
    width:100%;
    margin:0 auto;
    display: table;
    position:relative;
    top:0;
    left:0;
    height:auto;
    padding: 10px 0;
}

.change_possible{
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: auto;
    line-height: 2.2!important;
    color:#fff;
}

.caeru_date_picker_wrapper .modal-overlay,
.work_location_picker_wrapper .modal-overlay,
.place-picker-wrapper .modal-overlay,
.caeru_import_wrapper .modal-overlay,
.approval_pop_up_wrapper .modal-overlay {
    display: block;
}

.ico_ico_arrow4{
	width:24px;
	height:24px;
	border-radius:50%;
}