@charset "UTF-8";
/* CSS Document */
*{
	color:#444;
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	vertical-align:middle;
	font-size:14px;
    box-sizing: border-box;
    line-height: 1.8;
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight:normal;
	line-height:1.4;
}

ol, ul {
	list-style: none;
}

a{
	text-decoration:none;
	color:#444;
}

a:hover{
	text-decoration:none;
}

img{
	max-width:100%;
}

main{
	display: block;
    flex: 1;
}

hr{
	border:1px dashed #95b32c;
	width:99%;
	margin-bottom:30px;
}

span{
    vertical-align: baseline;
	font-size: inherit;
}

h1{
    font-size: 115%;
    margin-top: 10px;
    text-align: center;
}

/* floatの設定*/
.left{
	float:left;
	}

.right{
	float:right;
	}

/* テキストの揃え */
.left_align{
	text-align:left;
}

.right_align{
	text-align:right;
}

.center_align{
	text-align:center;
}

/* メインのサイズ */

.page_size{
    width: 98%;
    margin: auto;
}

/*marginの設定*/

.right_4{
	margin-right:4px;
}

.right_10{
	margin-right:10px;
}

.right_20{
    margin-right: 20px;
}

.right_30{
	margin-right:30px!important;
}

.left_10{
	margin-left:10px;
}

.left_30{
	margin-left:30px;
}

.bottom_5{
	margin-bottom:5px!important;
}

.bottom_10{
	margin-bottom:10px!important;
}

.bottom_20{
	margin-bottom:20px!important;
}

.bottom_30{
	margin-bottom:30px!important;
}

.bottom_40{
	margin-bottom:40px!important;
}

.top_5{
	margin-top:5px!important;
}

.top_8{
	margin-top:8px!important;
}

.top_10{
	margin-top:10px!important;
}

.top_20{
	margin-top:20px!important;
}

.top_30{
	margin-top:30px!important;
}

.top_50{
	margin-top:50px!important;
}
	
/* フォント色 */	
.red{
	color:#d84136;
	}		

.blue{
	color:#3f4bbb;
	}		

.sunday{
	color:#da5301;
}

.saturday{
	color:#425fab;	
}

/* エラーメッセージ */

.auth_failed_message{
	color: red;
	text-align: center;
	margin:auto auto 10px;
    width: 300px;
    display: block;
}


/* フォントサイズ */

.s_s_font{
	font-size:79%!important;
	}

.s_font{
	font-size:96%!important;
	}

.m_font{
	font-size:106%!important;    
}

.l_font{
	font-size:115%!important;
	}

.ll_font{
	font-size:136%!important;
    line-height: 1.4;
}

.lll_font{
	font-size:154%!important;
}

.bold_text{
    font-weight: bold;
}

/*　背景色　*/
.bg_gray{
	background:#eff2f5;
}

.bg_light_gray{
	background:#f9f9f9;
	border-bottom-style:hidden;
}

.bg_light_gray_line {
	background:#f9f9f9;	
}

.bg_mistake{
	background:#f3d6da;
}

.bg_approval{
	background:#ceeaf4;
}

.bg_apply{
	background:#fcf2ad;
}

.bg_revised{
	background:#eae8a2;
}

.bg_reject{
	background:#ebebeb;
}

.bg_light_blue{
	background:#ecf5fa!important;
}

.bg_close1{
 	background:#A5D1F0!important;   
}

.bg_close2{
 	background:#F08B78!important;   
}

.bg_error{
	background:#edcccf!important;
}

.bg_error_dark{
	background:#f46767!important;	
}

.bg_dark_gray{
	background:#eef0f4!important;
}

.bg_no_assignment{
	background:#e874a4!important;
	color:#fff;
}

/*
色の設定
ホーム  #5286bf
基本（basic）　　#adce00
シフト(shift)　#ed82b1
勤怠(attendance)　　#f6a815
給与(payroll)　　#54c3f1
*/

/*///-------　input　-------///*/
input, textarea, select{
	border-radius:4px;
	border:1px solid #c2c2c2;
	box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    -moz-box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    -webkit-box-shadow:0px 0px 6px -3px #c2c2c2 inset;
    line-height: 1.3;
    -webkit-appearance: none;
    background: #fff;
}

input,select{
	display:inline;
    line-height: -20%!important;
}	

input[type="text"]:focus {
	outline: 0;
}

input[type="time"] {
	line-height: 1.9;
}

input{
	height:30px;
    padding: 1px 10px 0;
    text-align: center;
}

.error_input{
    border: 2px solid rgba(255, 0, 0, .5);
}

.checkbox_text{
	cursor       : pointer;
	position     : relative;
	overflow     : hidden;
	padding-left : 28px;
	display      : inline-block;
	box-sizing   : border-box;
	z-index:0;
/*    padding-top: 3px;*/
/*    line-height: 1;*/
}

.check_box_wrap .checkbox_text:before{
	content  : '';
	position : absolute;
	width    : 20px;
	height   : 20px;
	left     : 0px;
	top      : 0px;
	border-radius: 6px;
	border   : 1px solid #c2c2c2;
	z-index  : 3;
}

.check_box_wrap .checkbox_text:after{
	content           : '';
	position          : absolute;
	top               : 23%;
	left              : 7px;
	display           : block;
	margin-top        : -3px;
	width             : 4px;
	height            : 12px;
	border-right      : 3px solid #adce00;
	border-bottom     : 3px solid #adce00;
	transform         : rotate(45deg);
	-webkit-transform : rotate(45deg);
	-moz-transform    : rotate(45deg);
	z-index           : 1;
}


.checkbox_text input[type="checkbox"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	position   : absolute;
	left       : -30px;
	width      : 20px;
	height     : 20px;
	display    : block;
	box-shadow : 40px 0px #FFF;
	z-index    : 2;
}

label.checkbox_text input[type="checkbox"]:checked {
	box-shadow : none;
}

label.checkbox_text input[type="checkbox"]:checked:focus {
	box-shadow : 40px 0px #fff;
	opacity    : 0.1;
}

label.checkbox_text .check_inner{
	display:none;
}

label.radio {
	position      : relative;
	display       : inline-block;
	width         : 22px;
	height        : 22px;
	border        : 1px solid #c2c2c2;
	border-radius : 100%;
	overflow      : hidden;
	cursor        : pointer;
}

label.radio:before {
	content          : '';
	display          : block;
	width            : 16px;
	height           : 16px;
	border-radius    : 100%;
	position         : absolute;
	top              : 2px;
	left             : 2px;
	z-index          : 1;
	background-color : #adce00; 
}

label.radio input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin     : 0px;
	position   : absolute;
	z-index    : 2;
	top        : -1px;
	left       : -23px;
	width      : 22px;
	height     : 22px;
	display    : block;
	box-shadow : 22px 0px #FFF;
}

label.radio input[type="radio"]:checked {
	box-shadow : none;
}

label.radio input[type="radio"]:focus {
	box-shadow : 20px 0px #FFF;
	opacity    : 0.2;
}

label.radio_text {
	cursor       : pointer;
	position     : relative;
	overflow     : hidden;
	display      : inline-block;
	padding-left:27px;
}

label.radio_text:before{
	position      : absolute;
	width         : 18px;
	height        : 18px;
	border        : 1px solid #c2c2c2;
	border-radius : 50%;
	left          : 2px;
	top           : 2px;
	content       : '';
	z-index       : 3;
}

label.radio_text:after{
	content          : '';
	position         : absolute;
	width            : 14px;
	height           : 14px;
	border-radius    : 100%;
	left             : 5px;
	top              : 5px;
	background-color : #adce00;
	z-index          : 1;
}

label.radio_text input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position   : absolute;
	z-index    : 2;
	width      : 22px;
	height     : 22px;
	left       : -22px;
	top        : 1px;
	box-shadow : 20px 1px #FFF;
}

.check_onle_wrap label.checkbox_box input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	margin     : 0;
	padding    : 0;
	position   : absolute;
	left       : 20px;
	width      : 20px;
	height     : 20px;
	left       : -40px;
	box-shadow : 39px 0px #FFF;
	z-index:-1;
}

/*　チェックした時に白が消える　*/
.check_onle_wrap label.checkbox_box input[type="checkbox"]:checked {
	box-shadow : none;
	z-index:-3;
	position   : relative;
}

.check_onle_wrap label.checkbox_box {
	cursor     : pointer;
	width      : 22px;
	height     : 22px;
	border     : 1px solid #c2c2c2;
	background : #fff;
	overflow   : hidden;
	position   : relative;
	display    : inline-block;
	box-sizing : border-box;
	border-radius:6px;
	z-index:0;
}

.check_onle_wrap label.checkbox_box:after {
	content           : '';
	position          : absolute;
	top               : 27%;
	left              : 7px;
	display           : block;
	margin-top        : -4px;
	width             : 4px;
	height            : 12px;
	border-right      : 3px solid #adce00;
	border-bottom     : 3px solid #adce00;
	transform         : rotate(45deg);
	-webkit-transform : rotate(45deg);
	-moz-transform    : rotate(45deg);
	z-index           : -2;
}

label.radio_text input[type="radio"] {
	/*白の円*/
	width      : 20px;
	height     : 20px;
	left       : -20px;
	top        : 0px;
	margin     : 0px;
	box-shadow : 20px 1px #FFF;
	border-style:none;
}

label.radio_text input[type="radio"]:checked {
	box-shadow : none;
}

label.radio_text input[type="radio"]:focus {
	opacity    : 0.2;
	box-shadow : 20px -1px #FFF;
}


label.checkbox_text input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position   : absolute;
	left       : -40px;
	top:4px;
	width      : 20px;
	height     : 20px;
	display    : block;
	box-shadow : 41px 0px #FFF;
	z-index    : 2;
}


/* プルダウン式チェックボックス */
.ms-drop label.checkbox_text{
	background: #f2f5f7;
	padding:2px 0 2px 40px ;
	width:100%;
	display:inline-block;
	margin:0 auto;
    border-radius: 2px;
}

.ms-drop label.checkbox_text span{
	width:100%;	
	display:block;
	line-height:2;
}

.ms-drop label.checkbox_text:hover{
	background:#0069d9;
	color:#fff;
	width:100%;
}

.ms-drop label.checkbox_text span:hover{
	background:#0069d9;
	color:#fff;
	width:100%;
}

.ms-drop label.checkbox_text:before {
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #c2c2c2;
	border-radius: 6px;
	content: '';
	background:#fff;
    box-sizing: content-box;
}

.ms-drop label.checkbox_text:after {
	content           : '';
	position          : absolute;
	top               : 40%;
	left              : 16px;
	display           : block;
	margin-top        : -4px;
	width             : 8px;
	height            : 10px;
	border-right      : 3px solid #adce00;
	border-bottom     : 3px solid #adce00;
	transform         : rotate(45deg);
	-webkit-transform : rotate(45deg);
	-moz-transform    : rotate(45deg);
	z-index           : 1;
}

.ms-drop {
	display: none;
	margin-top: -1px;
	position: absolute;
	z-index: 1000;
	background: #fff;
	border:1px solid #c2c2c2;
	float:none!important;
	border-radius:4px;
	overflow:auto!important;
}

.ms-drop ul{
	width:250px;
	z-index:500;
}

.ms-drop ul li{
	width:98%;
	margin: 3px auto 0!important;
}	 	
	
.ms-drop ul li input{
	float:left;
	padding-left:3px;
	padding-right:3px;
}

.ms-drop ul licheckbox_text{
	background: #fff none repeat scroll 0 0;
	cursor: pointer;
	padding: 6px 8px;
	text-shadow: none;
	border-radius:3px;
}

.ms-drop ul{
	padding-bottom:3px;
}

.ms-drop ul li label input[type="checkbox"] {
	box-shadow : 53px 4px #fff;
	width : 17px;
	height: 18px;
	margin:0px 0 0 0px; 
}

.ms-drop ul li label:hover{
	color:#fff;
}

.ms-parent{
	float:none!important;
}

.search_box .ms-drop{
	height:auto;
}

.search_box .ms-drop ul{
	min-height:60px!important;
}

.form-group{
	display:inline-block;
    vertical-align: bottom;
}

/*　選択　*/
.search_box .open{
	height:13px;
}

textarea{
	padding:6px;
	line-height:1.4!important;
	width: 100%;
}
	
input:focus {
 	border:solid 1px #adce00;
}	

select::-ms-expand {
	display: none;
}

.selectbox{
    line-height: 0!important;
    height:30px;
}

select{
    padding:0 6px;
	background: url(../../../../public/images/smartphone/select_arrow.svg) right 50% no-repeat;
    background-size: 12px 14px;
    background-position : right 8px top 60%;
    background-color: #fff;
	display:inline-block;
	color:#444;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@supports (-ms-ime-align:auto) {
	select {
		padding:3px 6px 0;
	}
}

select > option{
	background: #f2f5f7 none repeat scroll 0 0;
    cursor: pointer;
	margin: 3px;
	text-shadow: none;
	border-radius:3px;
	height:26px;
	font-size: 93%;
	padding:2px 0 1px 8px;
}

.ms-choice{
	width:250px;	
	height:26px;
	box-sizing: border-box;
	border: 1px solid #c2c2c2!important;
	padding:1px 0 0 6px;
	text-align:left;
	background: url(../../../../public/images/select_arrow.png) right 50% no-repeat;
	background-position: 94% 50%; 
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
	font-size:93%;
	cursor: pointer;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice span{
	line-height:1.8;
    font-size: inherit;
	color:#444;
}

@-moz-document url-prefix() {
	.ms-choice span {
	line-height:1.8;
	}
}
/*///-------　btn　-------///*/

.button{
	display:inline-block;	
}

.button a,.button span{
	border-radius: 4px;
	letter-spacing:1px;
	text-align:center;
	color:#fff;
	font-weight:normal; 
	text-decoration:none!important;
	display:inline-block;
}

.button button{
	cursor: pointer;
	border-radius: 4px;
	letter-spacing:2.4px;
	text-align:center;
	color:#fff;
	font-weight:normal; 
	text-decoration:none!important;
	display:inline-block;
    font-size: 100%;
}

.button:hover{
	opacity:0.8;
	border-style:none;
	cursor: pointer;
	}


.btn_greeen{
	color:#fff;
	border:1px solid #95b32c;
	background: #adc549;
	background: -moz-linear-gradient(top,  #adc549 0%, #a2c313 100%);
	background: -webkit-linear-gradient(top,  #adc549 0%,#a2c313 100%); 
	background: linear-gradient(to bottom,  #adc549 0%,#a2c313 100%); 
}


.btn_blue{
	border:1px solid #35699e;
	background: #5295c4;
	background: -moz-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: -webkit-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#5295c4), to(#0b7daf));
	background: -o-linear-gradient(#5295c4 0%, #0b7daf 100%);
	background: linear-gradient(#5295c4 0%, #0b7daf 100%);
	}

.btn_gray{
	color:#424242!important;	
	border:1px solid #c0bfbf;
	background: #eeeeef; 
	background: -moz-linear-gradient(top,  #eeeeef 0%, #dcdcdc 100%); 
	background: -webkit-linear-gradient(top,  #eeeeef 0%,#dcdcdc 100%); 
	background: linear-gradient(to bottom,  #eeeeef 0%,#dcdcdc 100%); 
}

.btn_details{
	color:#424242!important;	
	border:1px solid #c2c2c2;	
	background: #eeeeef; 
        background: -moz-linear-gradient(top,  #eeeeef 0%, #dcdcdc 100%); 
        background: -webkit-linear-gradient(top,  #eeeeef 0%,#dcdcdc 100%); 
        background: linear-gradient(to bottom,  #eeeeef 0%,#dcdcdc 100%); 
	border-radius: 4px 4px 0 0!important;
	line-height:2.3!important;
}

.btn_black{
	border:1px solid #8a8587;
	background: #a79fa1;
	background: -webkit-linear-gradient(#a79fa1 0%, #8f888c 100%);
	background: -o-linear-gradient(#a79fa1 0%, #8f888c 100%);
	background: linear-gradient(#a79fa1 0%, #8f888c 100%); 
	}

.btn_dark_blue{
	border:1px solid #007bad;
	background: #5295c4;
background: -webkit-linear-gradient(#5295c4 0%, #2681b1 100%);
background: -o-linear-gradient(#5295c4 0%, #2681b1 100%);
background: linear-gradient(#5295c4 0%, #2681b1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5295c4', endColorstr='#2681b1',GradientType=0 ); /* IE6-9 */
}

.btn_white{
	border:1px solid #c2c2c2;
	color:#424242!important;
	background: #ffffff;
background: -webkit-linear-gradient(#ffffff 51%, #efefef 100%);
background: -o-linear-gradient(#ffffff 51%, #efefef 100%);
background: linear-gradient(#ffffff 51%, #efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

.btn_light_blue{
    border:1px solid #78bbda;
	background: #99c9e2;
	background: -webkit-linear-gradient(#99c9e2 0%, #5caaca 100%);
	background: -o-linear-gradient(#99c9e2 0%, #5caaca 100%);
	background: linear-gradient(#99c9e2 0%, #5caaca 100%);
}

.check_blue{
	background:#5295c4;
}

.check_red{
	background:#c74730;
}

/*///-------　size　-------///*/

.s_s_s_size{
    width: 50px;
}

.s_s_size{
    width: 70px;
}

.s_size{
	width:80px;
}

.s_m_size{
	width:90px;
}

.m_size{
	width:110px;
}

.m_m_size{
    width: 140px;
}

.l_size{
	width:200px;
}

.l_l_size{
	width:230px;
}


/* サイズ％ */

.s_10{
    width: 10%;
}

.s_12{
    width: 12%;
}

.s_14{
    width: 14%;
}

.s_15{
    width: 15%;
}

.s_16{
    width: 16%;
}

.s_18{
    width: 18%;
}

.s_20{
    width: 20%;
}

.s_24{
    width: 24%;
}

.s_30{
    width: 30%;
}

.s_48{
    width: 48%;
}

.s_50{
    width: 50%;
}

.s_height{
    height: 30px;
}

.m_height{
    height: 40px;
    line-height: 2.7;
}

/* フォント色 */			
.sunday a{
	color:#da5301;
}

.saturday a{
	color:#425fab;	
}

.gray_text{
    color:#9FA0A0;
}

/* 画面下大ボタン */
.btn{
	margin:20px 0;
	overflow:hidden;
	text-align:center;
}

/*-------　nav　-------*/

#menu{
    display: none;
}
    
#menu li{
    width: 100%;
}
    
#menu li a{
    display: block;
    background: #ADCE00;
    border-left:none;
    border-bottom: 1px solid #95B32C;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 2.8;
    color: #fff;
    font-size: 18px;
}

#menu li a:hover{
    background: #95B32C;
}

#menu li:first-child > a{
    border-left:none;
}

.attendance::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_attendance.svg") top left no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.application::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_application.svg") top -2px left no-repeat;
    background-size: 22px 24px;
    width: 22px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}

.prepayment::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_prepayment.svg") top left no-repeat;
    background-size: 19px 20px;
    width: 20px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.salary::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_salary.svg") top -1px left no-repeat;
    background-size: 20px 24px;
    width: 20px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.salary::after{
    content:"";
    background: url("../../../../public/images/smartphone/ico_arrow.svg") top -1px left 10px no-repeat;
    background-size: 20px 11px;
    width: 30px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
}

.account::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_account.svg") top -1px left no-repeat;
    background-size: 21px 24px;
    width: 20px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.logout::before{
    content:"";
    background: url("../../../../public/images/smartphone/ico_logout.svg") top -1px left no-repeat;
    background-size: 22px 21px;
    width: 22px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

#header_nav{
    width: 100%;
    background: #ADCE00;
    height: 50px;
    border-bottom: 1px solid #95B32C;
    text-align: center;
}

#header_nav .title_img{
    width: 24px;
    height: auto;
    vertical-align: text-top;
    margin-right: 10px;
}

#header_nav div{
    color: #fff;
    font-size: 165%;   
}

.back_arrow{
    width: 26px;
    height: 26px;
    margin-left: 10px;
    text-align: left;
}

.back_arrow img{
    width: 22px;
    height: auto;
    padding: 7px 0 0 10px;
}

#toggle{
    width: 26px;
    float:right;
    margin-right: 10px;
    padding-top: 8px;
}

#kyuyo{
    display: none;
}
    
.hide{
    display: block!important;
}

.bottom_bold_line{
    border-bottom:2px solid #c2c2c2;
}

/* テーブル */
table{
	margin:0 auto;
	border-collapse: collapse;
    width: 100%;
}
	
table th,table td{
	border:1px solid #c2c2c2;
    word-break: break-all;
    font-weight: normal;
    text-align: center;
}

table th a,table td a{
    vertical-align: middle;
}

table th{
	background:#eff2f5;
}

table th p{
    margin:0;
    padding: 0;
    line-height: 1.2;
}

.basic_table table th,.basic_table table td,.list_table table th,.list_table table td,.work_block table td,.work_block table th,.manager_table table td,.manager_table table th{
    height: 40px;
}

.list_table table th{
    height: 40px;
    background:#fff;
    border-top:none;
}

.list_table table th,.list_table table td{
    border-right:none;
    border-left:none;
}

.list_table table tr{
    cursor:pointer;
}

.list_table table td .next_arrow img{
    width: 6.6px;
    height: 10px;
}

.list_table .status{
    width:26px;
    height: 26px;
    display: block;
    margin: auto;
    border-radius: 6px;
    line-height: 1.9;
}

.total_table .long{
    height: 20px
}

.total_table .short{
    height: 15px;
}

.total_table td{
    height: 30px;
}

.list_table .today{
    background:#F7FDE0;
}

.work_block table td,.manager_table table td{
    padding: 6px 10px;
}

.input_items{
    background:#eff2f5;
    width: 25%;
    text-align: center;
}

.payment_items{
    background:#eff2f5;
    width: 40%;
    text-align: center;
}

/* 休日 */

.pink_holiday{
	background:#f5e1e5 !important;
    line-height: 1.8;
    padding: 2px 2px;
}

.blue_holiday{
	background:#d3e7f9 !important;
    line-height: 1.8;
    padding: 2px 2px;
}

.list_table .pink_holiday,.list_table .blue_holiday{
    border-radius: 10px;
}


/* カレンダー */
.ico_calendar{
    vertical-align: top;
}

.modal-content {
    position: fixed;
    display: none;
    z-index: 2000;
    margin: 0;
    padding: 10px 10px 0;
    border: 1px solid #c2c2c2;
    background: #fff;
}

.year_month_select{
    height: 46px;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    margin: 0 auto;
    background: #eff2f5;
    display: block!important;
}

.year_month_select div {
    margin-top: 9px;
}


.select_calendar {
    width: 300px;
}

.select_calendar table {
    border: 1px solid #c2c2c2;
}

.select_calendar table tr td {
    border-left-style: none;
    border-right-style: none;
    width: 40px;
    height: 40px;
}

.select_calendar .btn{
    margin: 10px 0;
}

.transfer_wrap {
    position: relative;
    display: inline;
}

.transfer {
    position: absolute;
    top: -6px;
    right: 0;
    padding: 20px 20px 0;
    border: 1px solid #c2c2c2;
    display: none;
    z-index: 1000;
    background: #fff;
    opacity: 1.0;
    margin-right: 10px;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(0,0,0,0.75);
}

.modal-overlay {
	z-index:1600;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

table .closing_date {
    background: #f2f2f2;
}

.candidate {
    background: #9fb63d;
}

.change_possible {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: auto;
    line-height: 2.2 !important;
    color: #fff;
}


/* footer */
footer {
    text-align: center;
    background: #dfdfdf;
    height: 60px;
    width: 100%;
}

footer small {
    padding-top: 10px;
    display: block;
    font-size: 86%;
}

.work_block table .tablet_center{
    overflow: hidden;
}


@media screen and (min-width:480px) {
    
    .work_block table .tablet_center{
        text-align: left;
    }
    
    .s_s_font{
        font-size: 96%!important;
    }
    
    .login_wrapper .description{
        text-align: center!important;
    }
    
    .employee .no{
        margin-right: 30px!important;
    }

}

