/*-------　contents　-------*/
/* 要素の中央 */

.select_one{
	display: table;
	width: 100%;
	padding:0;
}

.select_one .select_one_inner{
	display: table-cell;
	text-align: center;
}

.side_input_block{
    display: inline-block;
}

.select_one .select_one_inner section{
    display: inline;
}

.ico_position{
	vertical-align:10%;
}

.ico_position img{
    width: 10px;
    height: 17.4px;
    vertical-align: middle;
}

.ico_ico_arrow{
	width:26px;
	height:26px;
    cursor: pointer;
    vertical-align: -40%;
}

.request_number span{
    font-size:150%;
    line-height: 1;
}

/****************************
 勤怠
****************************/

.work_time{
    text-align: center;
    margin-top: 5px;
    line-height: 1.2;
}

.work_time span{
    line-height: 1.2;
}

@media screen and (min-width:30em){
    .work_time{
        font-size: 120%;
    }
}

.employee{
    text-align: center;
    margin-top: 8px;
    font-size: 120%;
}

.employee .no{
    margin-right: 10px;
}

.search_setting{
    display: inline-block;
}

.status_text{
    overflow: hidden;
}

.description {
    overflow: hidden;
}

.harf_box {
    width: 50%;
}

.work_block table td span{
    padding-top: 4px;
}

/* 申請アイコン */

.ico_now{
	background:#adce00;    
}

.ico_approval{
	background:#91c5e0;
}

.ico_request{
	background:#efd66a;
}

.ico_error{
	background:#e5b6b9;
}

.ico_negation{
	background:#b9b1b3;
}

.ico_before_request{
	background:#e695b9;	
}

.ico_box{
    width: 58px;
    height: 26px;
    color: #fff;
    text-align: center;
/*    line-height: 1.8;*/
}

/*エラーの説明*/

.status_text div{
    font-size: 79%;   
}

.description_confirm_list::before {
    height: 14px;
    height: 16px;
    border: 1px solid #c2c2c2;
    margin: 0 4px 0 0;
    padding: 0 4px;
    content: "08:00";
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.2;
    color: #c1483b;
}

.description_text::before {
    width: 16px;
    height: 16px;
    border: 1px solid #c2c2c2;
    margin: 0 4px 0 0;
    background-size: 4px 6px;
    content: " ";
    display: inline-block;
    vertical-align: -24%;
    box-sizing: border-box;
}

.description_request::before {
    background: #f5e9b7;
}

.description_approval::before {
    background: #b4d9ee;
}

.description_reject::before {
    background: #ebebeb;
}

.description_correction::before{
	background:#d6e9a0;
}

/*申請*/
.manager_table a{
    text-decoration: underline;
}

.contact{
    text-align: left;
    vertical-align: top;
    padding: 4px 8px !important;
    font-size: 90%;
}


/****************************
 アカウント情報
****************************/

#personal_account h1{
    width: 90%;
    border-bottom: 1px solid #adce00;
    padding-bottom: 10px;
    margin:10px auto 20px;
}

.account_size{
    width: 230px;
    margin: 0 auto;
}

.account_size section{
    overflow: hidden;
}

.account_size input{
    text-align: left;
}

/****************************
　前払
****************************/

#payment_account{
    text-align: center;
}

#payment_account .payment_possible{
    font-size: 172%;
    line-height: 1;
}

#payment_account .payment_input{
    overflow: hidden;
    display: inline-block;
}

.yen{
    font-size:129%;
}

.list_payment_table td{
    padding: 0 8px;
}

.co_name{
    height: 20px!important;
    padding: 4px 10px!important;
}

/****************************
 ログイン
****************************/

.login_wrapper {
    width: 90%;
    margin: 0 auto;
}

.login_wrapper section {
    overflow: hidden;
}

.login_wrapper .id_pass {
    width: 230px;
    margin: 20px auto;
}

.login_wrapper .login_logo img {
    width: 215px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

.login_wrapper input{
    text-align: left;
}

.login_wrapper .description{
    text-align: left;
}

.entry_title {
    width: 100%;
    border-bottom: 1px solid #adce00;
    font-size: 115%;
    text-align: center;
    letter-spacing: 5px;
}
