<template>
    <section>
        <section v-if="!approverFormMode" class="select_one2">
            <section class="select_one_inner request_number">
                <section class="right_30 ico_position" v-if="!isSnapshotDays">
                    <a :href="previousDay()"><img class="ico_ico_arrow" src="../../../../../public/images/sinsei/ico_arrow_left1.svg"></a>
                </section>
                <section>
                    <span :class="[(locale_date.isoWeekday() == 6) ? 'saturday' : (locale_date.isoWeekday() == 7) ? 'sunday' : '']">
                        {{ locale_date.format('YYYY年MM月DD日ddd') }}
                    </span>
                    <span  class="modal-open right_30"><a @click="toggleDatePicker"><img class="ico_ico_arrow"
                    src="../../../../../public/images/sinsei/ico_calendar.svg"></a></span>
                </section>
                <section class="ico_position" v-if="!isSnapshotDays">
                    <a :href="nextDay()"><img class="ico_ico_arrow" src="../../../../../public/images/sinsei/ico_arrow_right1.svg"></a>
                </section>
                <section class="caeru_date_picker_wrapper" v-show="showDatePicker">
                    <calendar class="normal_date_picker" v-bind="datePickerOptions" :editable="false"
                        @change-current-time="datePickerChangeTime"
                        @date-picker-cancel="toggleDatePicker"
                        @day-chose="goToThisDay">
                    </calendar>
                    <div class="modal-overlay" v-cloak @click="toggleDatePicker"></div>
                </section>
            </section>
            <section class="right_position">
                <p class="button"><button class="m_size l_height btn_gray" @click="comebackToMonth">月別表示</button></p>
            </section>
        </section>
        <template v-if="!approverFormMode">
            <snapshot-component v-for="(snapshot, index) in snapshotDay.snapshots"
                :key="index"
                :snapshot="snapshot"
                ref="snapshots"
                :working-timestampes="snapshotDay.timestampes"
                :pkey="index"
                :date="snapshotDay.date"
                :work-locations="workLocations"
                :company-separate-info="companySeparateInfo"
                :schedule-transfer-data="snapshotDay.schedule_transfer_data[0]"
                :consts="consts"
                :timestamp-types="timestampTypes"
                :list-date-sinsei-chu="listDateSinseiChu"
                :snapshot-colors="snapshotDay.snapshot_day_color[index]"
                :mode-approval="modeApproval"
                :enable="!concluded"
                :multiple-working-info="snapshotDay.snapshots.length > 1"
                :can-register-absorb="canRegisterAbsorb"
                :is-sinsei-considering="isSinseiConsidering"
                :has-snapshot-with-work-address="snapshotDay['has_snapshot_with_work_address_field']"
                @updateSnapshot="updateSnapshot"
                @transferSnapshotDay="transferSnapshotDay"
                @removeTransferSnapshotDay="removeTransferSnapshotDay"
                @saveFurikaeCase="saveFurikaeCase"
                @updateSnapshotDays="updateSnapshotDays"
                @updateSnapshotDay="updateSnapshotDay"
                @saveDayOff="saveDayOff"
                @searchTemporaryEWI="searchTemporaryEWI"
                @checkTemporaryEWI="checkTemporaryEWI"
                @saveAbsorb="saveAbsorb"
                @updateSnapshotAbsorb="updateSnapshotAbsorb">
            </snapshot-component>
        </template>
        <template v-else>
            <!-- <section class="approval_wrapper_innner"> -->
                <section class="select_one3">
                        <section class="select_one_inner">
                            <section class="ll_font">{{ locale_date.format('YYYY年MM月DD日ddd') }}</section>
                        </section>
                </section>
                <snapshot-component v-for="(snapshot, index) in snapshotDay.snapshots"
                    :key="index"
                    :snapshot="snapshot"
                    :working-timestampes="snapshotDay.timestampes"
                    :pkey="index"
                    :date="snapshotDay.date"
                    :work-locations="workLocations"
                    :company-separate-info="companySeparateInfo"
                    :schedule-transfer-data="snapshotDay.schedule_transfer_data[0]"
                    :consts="consts"
                    :timestamp-types="timestampTypes"
                    :list-date-sinsei-chu="listDateSinseiChu"
                    :snapshot-colors="snapshotDay.snapshot_day_color[index]"
                    :mode-approval="modeApproval"
                    :enable="!concluded"
                    :approver-form-mode="approverFormMode"
                    @updateSnapshot="updateSnapshot"
                    @transferSnapshotDay="transferSnapshotDay"
                    @removeTransferSnapshotDay="removeTransferSnapshotDay"
                    @saveFurikaeCase="saveFurikaeCase"
                    @updateSnapshotDays="updateSnapshotDays"
                    @refreshPageSignalInModeApproverForm="fireRefreshSignalIfInApproverFormMode">
                </snapshot-component>
                <hr class="top_20">
                <!-- <section class="btn">
                    <p class="button"><a class="m_size l_height btn_gray l_font">閉じる</a></p>
                </section> -->
            <!-- </section> -->
        </template>

        <hr v-if="!approverFormMode" class="top_20">
    </section>
</template>
<script>
import SnapshotsComponent from '../../components/sinsei/snapshot_component.vue'
import Calendar from '../../components/caeru_calendar.vue';
export default {
    props: {
        snapshotDay: {
            type: Object,
            required: true
        },
        // consts: {
        //     type: Object,
        //     required: true
        // },
        isSnapshotDays: {
            type: Boolean,
            required: true
        },
        workLocations: {
            type: Array,
            required: true
        },
        companySeparateInfo: {
            type: Array,
            required: false
        },
        flipColorDay: {
            type: Number,
            required: false
        },
        restDays: {
            type: Array,
            required: false
        },
        nationalHolidays: {
            type: Array,
            required: false
        },
        pkey: {
            type: Number,
            required: true
        },
        timestampTypes: {
            type: Object,
            required: false
        },
        listDateSinseiChu: {
            type: Array,
            required: false
        },
        modeApproval: {
            type: Boolean,
            required: false,
            default: false
        },
        employeeId: {
            type: Number,
            required: false
        },
        repositionInPopUpMode: {
            type: Boolean,
            required: false,
            default: false,
        },

        // In approver form mode
        approverFormMode: {
            type: Boolean,
            required: false,
            default: false,
        },

        concluded: {
            type: Boolean,
            required: false,
            default: false,
        }
    },
    data: function() {
        return {
            showDatePicker: false,
            datePickerOptions: null,
            datePickerTimeNavigationData: null,
            datePickerData: {
                flipColorDay: this.flipColorDay,
                restDays: this.restDays,
                nationalHolidays: this.nationalHolidays,
            },
            sendingRequest: false,
            canRegisterAbsorb: null,
            consts: {
                statuses: {
                    APPROVED: {
                        id: 1,
                        name: '承認',
                        class_name : "ico_approval",
                    },
                    CONSIDERING: {
                        id: 2,
                        name: '申請中',
                        class_name : "ico_request",
                    },
                    CURRENT: {
                        id: 3,
                        name: '現在',
                        class_name : "ico_now",
                    },
                    PREVIOUS: {
                        id: 4,
                        name: '申請前',
                        class_name : "ico_before_request",
                    },
                    DENIED: {
                        id: 5,
                        name: '否決',
                        class_name : "ico_negation",
                    },
                },
                date_separate_types: {
                    APPLY_TO_THE_DAY_BEFORE: 1,
                    APPLY_TO_THE_DAY_AFTER: 2,
                },
                work: {
                    KEKKIN    : 1,
                    FURIKYUU  : 2,
                    FURIDE    : 3,
                    HOUDE     : 4,
                    KYUUDE    : 5,
                    ZANGYOU    : 6,
                },
                rest: {
                    YUUKYU_1      : 1,
                    YUUKYU_2      : 2,
                    ZENKYUU_1     : 3,
                    ZENKYUU_2     : 4,
                    GOKYUU_1      : 5,
                    GOKYUU_2      : 6,
                    JIYUU         : 7,
                    HANKYUU_1     : 8,
                    HANKYUU_2     : 9,
                },
                calendar_rest_days: {
                    LAW_BASED_REST_DAY  : 1,
                    NORMAL_REST_DAY     : 2,
                    NOT_A_REST_DAY      : 0,
                }
            },
        }
    },
    watch: {
        'snapshotDay': function (val) {
            this.sortSnapshotFollowAbsorbEmployeeWorkingInformation();
        },
    },
    computed: {
        currentDateInArray: {
            get: function() {
                return (this.datePickerTimeNavigationData === null) ? _.map(_.split(this.snapshotDay.date, '-'), (value) => {return _.toInteger(value)})
                : this.datePickerTimeNavigationData;
            },
            set: function(data) {
                this.datePickerTimeNavigationData = data;
            },
        },
        locale_date: function () {
            return moment(this.snapshotDay.date, "YYYY-MM-DD");
        },
        isSinseiConsidering: function () {
            return _.some(this.snapshotDay.snapshots, {'left_status': this.consts.statuses.CONSIDERING.id});
        },
    },
    methods: {
        datePickerChangeTime: function(year, month) {
            this.datePickerTimeNavigationData = [year, month];
            this.processDatePickerOptions();
        },
        goToThisDay: function(date) {
            let urlParts = _.replace(window.location.href, 'month/', '');
            urlParts = _.split(urlParts, '/');
            urlParts.pop();
            urlParts.push(date);
            window.location.href = _.join(urlParts, '/');
        },
        toggleDatePicker: function() {
            this.showDatePicker = !this.showDatePicker;
            if (this.showDatePicker === true) {
                this.$nextTick(function() {
                    this.repositionByHeight();
                });
            }
        },
        repositionByHeight: function() {
            let popUp = $('.normal_date_picker .caeru_calendar_date_picker_popup');
            let diffHeight = window.innerHeight - popUp.outerHeight();
            let diffWidth = window.innerWidth - popUp.outerWidth();
            let scrollOffset = $(window).scrollTop();
            popUp.offset({ top: (scrollOffset + diffHeight/2), left: diffWidth/2 });
        },
        repositionByHeightInPopUpMode: function() {
            if (this.repositionInPopUpMode == true) {

                let popUpApproverForm = $(this.$el).parents(".approver_form_popup.approval_wrapper");
                let diffHeightApprover = window.innerHeight - popUpApproverForm.outerHeight();
                let diffWidthApprover = window.innerWidth - popUpApproverForm.outerWidth();
                let scrollOffset = $(window).scrollTop();

                popUpApproverForm.offset({ top: (scrollOffset + diffHeightApprover/2), left: diffWidthApprover/2 });
            }
        },
        updateSnapshot: function (data, index, list_sinsei_chu, color_status) {
            this.snapshotDay.snapshots.splice(index, 1, JSON.parse(JSON.stringify(data)));
            this.snapshotDay.snapshot_day_color.splice(index, 1, JSON.parse(JSON.stringify(color_status)));
            if (list_sinsei_chu)
                this.$emit('update-list-sinsei', list_sinsei_chu);

            if (!data.left_switch_planned_schedule_target && this.snapshotDay.previousSinseiCard) {
                data.isTrashed = true;
                this.snapshotDay.previousSinseiCard.splice(index, 1, JSON.parse(JSON.stringify(data)));
            }
        },
        updateSnapshotDays: function (data_from, data_to) {
            this.$emit('update-snapshot-days', data_from, data_to);
        },
        // These function are for the date navigation panel
        nextDay: function() {
            return this.setDateToLink(this.locale_date.clone().add(1, 'days'));
        },
        previousDay: function() {
            return this.setDateToLink(this.locale_date.clone().subtract(1, 'days'));
        },
        setDateToLink: function(date_object) {
            let link_parts = _.replace(window.location.pathname, 'month/', '');
            link_parts = _.split(link_parts, '/');
            return _.join(_.initial(link_parts), '/') + '/' + date_object.format('YYYY-MM-DD');
        },
        processDatePickerOptions: function() {
            this.datePickerOptions = {
                'year' : this.currentDateInArray[0],
                'month' : this.currentDateInArray[1],

                'nationalHolidays' : this.datePickerData['nationalHolidays'],
                'restDays' : this.datePickerData['restDays'],
                'flipColorDay' : this.datePickerData['flipColorDay'],
                'startColor' : (this.currentDateInArray[1] % 2) === 0,
                'pickerMode' : true,
            }
        },
        transferSnapshotDay: function (date) {
            this.$emit('transfer-snapshot-day', date, this.pkey);
        },
        removeTransferSnapshotDay: function (oldValue,switch_schedule_target) {
            this.$emit('remove-transfer-snapshot-day',oldValue, switch_schedule_target, this.pkey);
        },
        saveFurikaeCase: function (work_status_id,switch_schedule_target) {
            this.$emit('save-furikae-case',work_status_id, switch_schedule_target, this.pkey);
        },
        comebackToMonth: function () {
            if (this.modeApproval)
                window.location.href = $.companyCodeIncludedUrl('/sinsei/approve/employee/list/') + this.employeeId + '/' + this.locale_date.format('YYYY-MM');
            else
                window.location.href = $.companyCodeIncludedUrl('/sinsei/employee/') + this.locale_date.format('YYYY-MM');
        },
        saveDayOff: function () {
            if (!this.sendingRequest) {
                this.sendingRequest = true;
                var url = '/sinsei/request_day_off';

                // Check limit 24 hour
                let check_error_index = _.findIndex(this.$refs.snapshots, (snapshot) => {
                    return !_.isNil(snapshot.computedLeftPlannedWorkingHour) && snapshot.computedLeftPlannedWorkingHour >= 1440
                });
                if (check_error_index != -1) {
                    document.caeru_alert('error', '１つの勤務の総労働時間は24時間未満で登録してください');
                    this.sendingRequest = false;
                    return false;
                }

                axios.post($.companyCodeIncludedUrl(url), {
                        snapshots : this.snapshotDay.snapshots,
                        date: this.snapshotDay.date
                }).then(response => {
                    //document.caeru_alert('success', response.data['success']);
                    this.$emit('update-snapshot-day', response.data['snapshotDay'], this.pkey);
                    this.sendingRequest = false;
                    window.location.reload();
                }).catch(error => {
                    if (error.response)
                        document.caeru_alert('error', '');
                    this.sendingRequest = false;
                })
            }
        },
        saveAbsorb: function (pkey, array_diff_attribute) {
            if (!this.sendingRequest) {
                this.sendingRequest = true;
                var url = '/sinsei/request_absorb';

                axios.post($.companyCodeIncludedUrl(url), {
                        snapshot : this.snapshotDay.snapshots[pkey],
                        array_diff_attribute: array_diff_attribute
                }).then(response => {
                    //document.caeru_alert('success', response.data['success']);

                    this.snapshotDay.snapshots.splice(pkey, 1, JSON.parse(JSON.stringify(response.data['snapshot'])));
                    this.snapshotDay.snapshot_day_color.splice(pkey, 1, JSON.parse(JSON.stringify(response.data['color_status'])));

                    if (!_.isNil(response.data['snapshot_target_absorb_EWI_old'])) {
                        let absorb_EWI_old_index = _.findIndex(this.snapshotDay.snapshots, (snapshot) => {
                            return snapshot.employee_working_information_id == response.data['snapshot_target_absorb_EWI_old'].employee_working_information_id;
                        });
                        this.snapshotDay.snapshots.splice(absorb_EWI_old_index, 1, JSON.parse(JSON.stringify(response.data['snapshot_target_absorb_EWI_old'])));
                    }

                    if (!_.isNil(response.data['snapshot_target_absorb_EWI_new'])) {
                        let absorb_EWI_new_index = _.findIndex(this.snapshotDay.snapshots, (snapshot) => {
                            return snapshot.employee_working_information_id == response.data['snapshot_target_absorb_EWI_new'].employee_working_information_id;
                        });
                        this.snapshotDay.snapshots.splice(absorb_EWI_new_index, 1, JSON.parse(JSON.stringify(response.data['snapshot_target_absorb_EWI_new'])));
                    }

                    this.canRegisterAbsorb =
                                !_.some(this.snapshotDay.snapshots, {'temporary': 1, 'left_status': this.consts.statuses.CONSIDERING.id, 'left_soon_to_be_absorb': 1})
                    this.sendingRequest = false;
                    window.location.reload();
                }).catch(error => {
                    if (error.response)
                        document.caeru_alert('error', '');
                    this.sendingRequest = false;
                })
            }
        },
        updateSnapshotDay: function (data) {
            this.$emit('update-snapshot-day', data, this.pkey);
        },
        searchTemporaryEWI: function (key, left_work_location_id, target_absorb_EWI_id) {
            this.snapshotDay.snapshots[key].left_planned_work_location_id = left_work_location_id;

            if (!_.isNil(target_absorb_EWI_id)) {
                let absorb_EWI_index = _.findIndex(this.snapshotDay.previousSinseiCard, (previous_sinsei_card) => {
                    return previous_sinsei_card.employee_working_information_id == target_absorb_EWI_id;
                });

                this.snapshotDay.snapshots.splice(absorb_EWI_index, 0, this.snapshotDay.snapshots.splice(key + 1, 1)[0]);
                this.snapshotDay.snapshot_day_color.splice(absorb_EWI_index, 0, this.snapshotDay.snapshot_day_color.splice(key + 1, 1)[0]);

                this.snapshotDay.snapshots[absorb_EWI_index].left_soon_to_be_absorb = false;
                this.snapshotDay.snapshots[absorb_EWI_index].edit_text = true;

                this.snapshotDay.snapshots[key].target_absorb_EWI_id = null;

                if (!_.isNil(this.snapshotDay.snapshots[absorb_EWI_index].left_timestamped_start_work_date)
                    && !_.isNil(this.snapshotDay.snapshots[absorb_EWI_index].left_timestamped_start_work_time)) {
                    this.snapshotDay.snapshots[key].left_timestamped_start_work_date = null;
                    this.snapshotDay.snapshots[key].left_timestamped_start_work_time = null;
                }

                if (!_.isNil(this.snapshotDay.snapshots[absorb_EWI_index].left_timestamped_end_work_date)
                    && !_.isNil(this.snapshotDay.snapshots[absorb_EWI_index].left_timestamped_end_work_time)
                    && !_.isNil(this.snapshotDay.snapshots[absorb_EWI_index].left_timestamped_end_work_time_work_location_id)) {
                    this.snapshotDay.snapshots[key].left_timestamped_end_work_time_work_location_id = null;
                    this.snapshotDay.snapshots[key].left_timestamped_end_work_date = null;
                    this.snapshotDay.snapshots[key].left_timestamped_end_work_time = null;
                }
            }

            if (this.snapshotDay.snapshots[key].temporary != 1) {
                let soon_to_be_absorb_EWI = _.findIndex(this.snapshotDay.snapshots, (snapshot) => {
                    return snapshot.left_timestamped_start_work_time_work_location_id == left_work_location_id && snapshot.temporary == 1
                        && snapshot.left_soon_to_be_absorb == false;
                });

                if (soon_to_be_absorb_EWI >= 0) {
                    this.snapshotDay.snapshots[key].target_absorb_EWI_id = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].employee_working_information_id;

                    if (!_.isNil(this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_start_work_date)
                        && !_.isNil(this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_start_work_time)) {
                        this.snapshotDay.snapshots[key].left_timestamped_start_work_date = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_start_work_date;
                        this.snapshotDay.snapshots[key].left_timestamped_start_work_time = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_start_work_time;
                    }

                    if (!_.isNil(this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_date)
                        && !_.isNil(this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_time)
                        && !_.isNil(this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_time_work_location_id)) {
                        this.snapshotDay.snapshots[key].left_timestamped_end_work_time_work_location_id = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_time_work_location_id;
                        this.snapshotDay.snapshots[key].left_timestamped_end_work_date = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_date;
                        this.snapshotDay.snapshots[key].left_timestamped_end_work_time = this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_timestamped_end_work_time;
                    }

                    this.snapshotDay.snapshots[soon_to_be_absorb_EWI].left_soon_to_be_absorb = true;
                    this.snapshotDay.snapshots[soon_to_be_absorb_EWI].edit_text = true;

                    this.snapshotDay.snapshots.splice(key + 1, 0, this.snapshotDay.snapshots.splice(soon_to_be_absorb_EWI, 1)[0]);
                    this.snapshotDay.snapshot_day_color.splice(key + 1, 0, this.snapshotDay.snapshot_day_color.splice(soon_to_be_absorb_EWI, 1)[0]);

                }
            }
        },
        sortSnapshotFollowAbsorbEmployeeWorkingInformation: function () {
            let index_to = _.findIndex(this.snapshotDay.snapshots, (snapshot) => {
                return snapshot.left_status == this.consts.statuses.CONSIDERING.id && !_.isNil(snapshot.target_absorb_EWI_id);
            });

            if (index_to >= 0) {
                let soon_to_be_absorb_EWI_index = _.findIndex(this.snapshotDay.snapshots, (snapshot) => {
                    return snapshot.employee_working_information_id == this.snapshotDay.snapshots[index_to].target_absorb_EWI_id;
                });

                this.snapshotDay.snapshots.splice(index_to + 1, 0, this.snapshotDay.snapshots.splice(soon_to_be_absorb_EWI_index, 1)[0]);
                this.snapshotDay.snapshot_day_color.splice(index_to + 1, 0, this.snapshotDay.snapshot_day_color.splice(soon_to_be_absorb_EWI_index, 1)[0]);
            }
        },
        updateSnapshotAbsorb: function (key, snapshot, color_status, soon_to_be_absorb_snapshot, color_status_soon_to_be_absorb_snapshot) {
            let target_absorb_EWI_id = this.snapshotDay.snapshots[key].target_absorb_EWI_id;
            //JSON.parse(JSON.stringify(data))

            this.updateSnapshot(snapshot, key, null, color_status);
            this.updateSnapshot(soon_to_be_absorb_snapshot, key + 1, null, color_status_soon_to_be_absorb_snapshot);

            this.searchTemporaryEWI(key, this.snapshotDay.snapshots[key].left_planned_work_location_id, target_absorb_EWI_id);
        },
        checkTemporaryEWI: function(key, left_work_location_id, target_absorb_EWI_id, is_start_work_change) {
            if (!_.isNil(target_absorb_EWI_id)) {
                if (is_start_work_change) {
                    if (!_.isNil(this.snapshotDay.snapshots[key + 1].left_timestamped_start_work_date)
                        && !_.isNil(this.snapshotDay.snapshots[key + 1].left_timestamped_start_work_time)) {
                        this.searchTemporaryEWI(key, left_work_location_id, target_absorb_EWI_id);
                    }
                } else {
                    if (!_.isNil(this.snapshotDay.snapshots[key + 1].left_timestamped_end_work_date)
                        && !_.isNil(this.snapshotDay.snapshots[key + 1].left_timestamped_end_work_time)
                        && !_.isNil(this.snapshotDay.snapshots[key + 1].left_timestamped_end_work_time_work_location_id)) {
                        this.searchTemporaryEWI(key, left_work_location_id, target_absorb_EWI_id);
                    }
                }
            }
        },

        ///////////////////////////////
        ///// Approver Form Mode //////
        ///////////////////////////////
        fireRefreshSignalIfInApproverFormMode: function() {
            if (this.approverFormMode == true) this.$emit('refresh');
        }
    },
    beforeCreate : function() {
        moment.updateLocale('en', {
            weekdaysShort : ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"]
        });
    },
    created: function() {
        this.processDatePickerOptions();
        this.sortSnapshotFollowAbsorbEmployeeWorkingInformation();
        this.canRegisterAbsorb =
            !_.some(this.snapshotDay.snapshots, {'temporary': 1, 'left_status': this.consts.statuses.CONSIDERING.id, 'left_soon_to_be_absorb': 1})
    },
    mounted: function() {
        this.repositionByHeight();
        // this.repositionByHeightInPopUpMode();
        this.$nextTick(function() {
            window.addEventListener('resize', this.repositionByHeight);
            window.addEventListener('resize', this.repositionByHeightInPopUpMode);
        });
    },
    components: {
        'snapshot-component' : SnapshotsComponent,
        'calendar': Calendar,
    }
}
</script>